/* Mixins */
@media (max-width: 767px) { body { padding-top: 50px; }
  .container .tiles-grid { margin-left: 0px; margin-right: 0px; }
  .container { width: 320px; padding: 0 10px; }
  .navbar.yamm { display: none; }
  nav.navbar.mobile .dropdown-menu .sublist li { margin-bottom: 0px; display: block; width: 100%; position: relative; font-size: 0; }
  nav.navbar.mobile .dropdown-menu .sublist li a { display: inline-block; text-decoration: none; line-height: inherit; position: relative; padding: 0; height: 40px; margin-bottom: 10px; font-size: 14px; }
  nav.navbar.mobile .dropdown-menu .tow-col-list.sublist li a { height: auto; }
  nav.navbar.mobile { display: block !important; position: fixed; top: 0; left: 0; width: 100%; z-index: 1030; box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.5); background: white; }
  nav.navbar.mobile .navbar-header { position: relative; margin: 0; bottom: 0; }
  nav.navbar.mobile .navbar-header img { max-width: 100px; }
  nav.navbar.mobile .container-fluid .navbar-collapse { margin: 0; }
  nav.navbar.mobile .navbar-toggle { width: 70px; border: none; margin-right: 5px; }
  nav.navbar.mobile .navbar-toggle i { float: left; font-size: 16px; color: #C2C2C2; }
  nav.navbar.mobile .navbar-toggle .icon-bar { float: right; background: #C2C2C2; }
  nav.navbar.mobile .navbar-toggle:hover { background-color: transparent; }
  nav.navbar.mobile #mainMenuMobile { max-height: 100%; height: calc(100vh - 50px); overflow-y: scroll; overflow-x: hidden; max-width: 320px; margin: auto; }
  nav.navbar.mobile #mainMenuMobile::-webkit-scrollbar { display: none; }
  nav.navbar.mobile .nav-top, nav.navbar.mobile .nav-middle, nav.navbar.mobile .nav-bottom { width: 100%; display: block; }
  nav.navbar.mobile #search { background: #2AD0CE; margin-top: 0; border-top: 0; }
  nav.navbar.mobile .nav-top { font-size: 0; padding: 0 10px; }
  nav.navbar.mobile .nav-top .dropdown { display: inline-block; min-width: 50%; position: relative; font-size: 16px; }
  nav.navbar.mobile .nav-top .dropdown > a { text-transform: uppercase; padding: 10px 0; display: block; }
  nav.navbar.mobile .nav-top .dropdown.open { border-top: 1px solid #C2C2C2; border-bottom: 1px solid #C2C2C2; width: 100%; }
  nav.navbar.mobile .nav-top .dropdown.open .dropdown-menu { display: block; }
  nav.navbar.mobile .nav-top .dropdown .dropdown-menu { position: static; top: 0; left: 0; z-index: 1000; display: none; float: none; min-width: 200px; padding: 0; margin: 0; text-align: left; list-style: none; background-color: white; background-clip: padding-box; border: none; border-radius: 0px; box-shadow: none; color: #6a6a6a; }
  nav.navbar.mobile .nav-top .dropdown .dropdown-menu .title { font-size: 14px; margin: 0 0 5px 0; padding: 5px 0; }
  nav.navbar.mobile .nav-top .dropdown .container { width: 100%; padding-top: 0; }
  nav.navbar.mobile .nav-top .dropdown .sublist.columns { column-count: 2; -webkit-column-count: 2; -moz-column-count: 2; }
  nav.navbar.mobile .nav-middle { background: #f0f0f0; margin-top: 10px; }
  nav.navbar.mobile .nav-middle li { display: block; float: left; padding: 0; }
  nav.navbar.mobile .nav-middle li a { display: block; width: 100%; padding: 0; text-align: center; line-height: 65px; font-size: 16px; font-weight: 300; color: #6d6d6d; }
  nav.navbar.mobile .nav-middle li a:hover { background: rgba(0, 0, 0, 0.12); }
  nav.navbar.mobile .nav-middle li.login, nav.navbar.mobile .nav-middle li.register { width: 50%; border-bottom: 1px solid #C2C2C2; }
  nav.navbar.mobile .nav-middle li.login, nav.navbar.mobile .nav-middle li.cart { border-right: 1px solid #C2C2C2; }
  nav.navbar.mobile .nav-middle li.catalog { width: 100%; clear: both; }
  nav.navbar.mobile .nav-middle li.cart, nav.navbar.mobile .nav-middle li.email { border-top: 1px solid #C2C2C2; width: 50%; }
  nav.navbar.mobile .nav-middle li.cart img { width: 49px; height: 36px; opacity: 0.65; }
  nav.navbar.mobile .nav-middle li.email img { width: 50px; height: 34px; opacity: 0.65; }
  nav.navbar.mobile .nav-bottom .social-block { margin-top: 10px; }
  nav.navbar.mobile .nav-bottom .social-block .btn { width: 100%; text-align: left; max-width: 320px; height: 30px; margin-bottom: 10px; color: #000; background: #fff; display: block; border-radius: 0px; line-height: 30px; font-weight: 300; }
  nav.navbar.mobile .nav-bottom .social-block .btn.facebook { background: #3b5998; color: #fff; }
  nav.navbar.mobile .nav-bottom .social-block .btn.twitter { background: #1da1f2; color: #fff; }
  nav.navbar.mobile .nav-bottom .social-block .btn.instagram { background: #c13584; color: #fff; }
  nav.navbar.mobile .nav-bottom .social-block .btn.youtube { background: #e62117; color: #fff; }
  nav.navbar.mobile .nav-bottom .social-block .btn.googleplus { background: #db4437; color: #fff; }
  nav.navbar.mobile .nav-bottom .social-block .btn.linkedin { background: #4fa3cd; color: #fff; }
  nav.navbar.mobile .nav-bottom .social-block .btn.pinterest { background: #bd081c; color: #fff; }
  nav.navbar.mobile .nav-bottom .shop-mail li { text-align: left; }
  nav.navbar.mobile .nav-bottom .shop-mail li a { padding: 5px 10px; display: inline-block; }
  nav.navbar.mobile .nav-bottom form { padding-bottom: 20px; margin-top: 10px; }
  nav.navbar.mobile .nav-bottom form legend { font-size: 14px; margin-bottom: 5px; border: none; }
  nav.navbar.mobile .dropdown-backdrop { display: none; }
  #hero #homeCarousel { height: 285px; }
  #hero #homeCarousel .item .item-caption .container { padding: 0; width: 100%; }
  #hero #homeCarousel .item .item-caption .caption-content .omega-moment-tag { display: block; font-size: 13px; letter-spacing: 0.2px; }
  #hero #homeCarousel .item .item-caption .caption-content .caption-author-date, #hero #homeCarousel .item .item-caption .caption-content .caption-text { font-size: 12px; letter-spacing: 0.2px; display: block; }
  .panel.tile { margin: 10px 10px 20px 10px !important; height: auto !important; min-height: 300px; }
  .panel.tile.panel-category { height: 150px !important; min-height: 150px; background-position: center center !important; }
  .panel.tile.panel-category .panel-body { min-height: 150px; }
  .panel.tile .panel-body { min-height: 300px; }
  .panel.tile .panel-footer.open { position: relative; }
  .panel.tile .tile-link { height: 100%; }
  .panel.tile.panel-general-purpose .panel-heading, .panel.tile.panel-idea .panel-heading { height: 160px; }
  .panel.tile.panel-general-purpose .panel-body, .panel.tile.panel-idea .panel-body { height: 140px; min-height: 140px; }
  .panel.tile.panel-person, .panel.tile.panel-person.small { background: transparent; min-height: auto; margin-bottom: 20px; max-height: 100% !important; background: transparent; }
  .panel.tile.panel-person .panel-body, .panel.tile.panel-person.small .panel-body { text-align: center; min-height: auto; }
  .panel.tile.panel-person .panel-body *, .panel.tile.panel-person.small .panel-body * { display: block; }
  .panel.tile.panel-person .panel-body .person-image, .panel.tile.panel-person.small .panel-body .person-image { display: block; width: 100px; height: 100px; margin: auto; float: none; }
  .panel.tile.panel-person .panel-body .person-bio, .panel.tile.panel-person.small .panel-body .person-bio { width: 100%; display: block; }
  .panel.tile.panel-person .panel-body .person-bio .person-ocupation, .panel.tile.panel-person.small .panel-body .person-bio .person-ocupation { display: block; text-transform: uppercase; }
  .panel.tile.panel-person .panel-body .person-bio span, .panel.tile.panel-person.small .panel-body .person-bio span { color: #575757; }
  .panel.tile.panel-person .panel-body .person-bio .person-name, .panel.tile.panel-person.small .panel-body .person-bio .person-name { font-size: 18px; font-weight: 400; border: none; padding: 0 15px; }
  .panel.tile.small { min-height: auto; height: auto !important; width: auto !important; background-color: transparent; margin: 10px !important; }
  .panel.tile.small .favourite, .panel.tile.small .panel-heading, .panel.tile.small .panel-footer { display: none; }
  .panel.tile.small .panel-body { padding: 0 10px; background: transparent; min-height: auto !important; height: auto !important; }
  .panel.tile.small .panel-body * { display: none; }
  .panel.tile.small .panel-body .content-type { display: inline; }
  .panel.tile.small .panel-body .content-type span { display: inline; color: #575757; font-size: 16px; }
  .panel.tile.small .panel-body .content-type span:after { content: ": "; }
  .panel.tile.small .panel-body .content-type * { display: block; }
  .panel.tile.small .panel-body .title { display: inline; }
  .panel.tile.small .panel-body .title h1 { display: inline; color: #575757; font-size: 16px; }
  .panel.tile.small .panel-body .title * { display: block; }
  .panel.tile.small.plus .panel-body .date-location { display: block; color: #575757; position: relative; bottom: auto; }
  .panel.tile.small.plus .panel-body .date-location * { display: inline-block; }
  .panel.tile.multipurpose[class*="panel-"] .tile-link { height: 100%; }
  .quote-section #quoteCarousel { height: 500px; }
  .quote-section #quoteCarousel .item { background-size: cover !important; background-position: right -400px top !important; background-repeat: no-repeat !important; padding: 0; height: 100%; }
  .quote-section #quoteCarousel .item .container.full-height { padding: 20px 10px; background: rgba(255, 255, 255, 0.8); position: absolute; bottom: 0; height: auto; width: 100%; }
  .quote-section #quoteCarousel .quote-text { font-size: 15px; max-width: 100%; font-weight: 400; letter-spacing: -0.5px; }
  .quote-section #quoteCarousel .author { position: relative; bottom: auto; left: 0%; margin-top: 20px; }
  .quote-section #quoteCarousel .author .author-name { font-size: 18px; padding-top: 20px; font-weight: 400; }
  .women-leadership { max-height: 100%; padding: 0; background: transparent !important; position: relative; }
  .women-leadership .women-leadership-mobile { height: 250px; position: absolute; top: 0; left: 0; z-index: -1; width: 100%; }
  .women-leadership .container { width: 100%; }
  .women-leadership .container .tile { max-width: 300px; margin: 10px auto 10px !important; }
  .women-leadership .container .row div[class*="col"] > .row:first-of-type { max-width: 55%; left: 45%; padding: 10px; background: rgba(255, 255, 255, 0.5); position: relative; height: 250px; }
  .women-leadership .container .row div[class*="col"] > .row:first-of-type .section-title { font-size: 20px; font-weight: 400; padding-top: 20px; }
  .women-leadership .container .row div[class*="col"] > .row:first-of-type .section-subtitle { font-size: 12px; display: block; max-height: 75px; overflow: hidden; }
  .initiatives .section-title { font-size: 15px; font-weight: 400; max-width: 280px; margin: auto; }
  .initiatives .initiatives-list li { height: 70px; width: 100%; position: relative; padding: 10px; }
  .initiatives .initiatives-list li .initiative-content .initiative { font-size: 20px; color: #ffffff; line-height: 1; }
  .campus { background: transparent !important; padding-bottom: 0; padding-top: 0px; min-height: auto; position: relative; }
  .campus .campus-mobile { height: 270px; position: absolute; z-index: -1; top: 0; left: 0; width: 100%; background-position: center bottom !important; }
  .campus:before { background: rgba(255, 255, 255, 0); }
  .campus .container { padding: 0; width: 100%; }
  .campus .container .row { margin: 0; }
  .campus .container .row div[class*="col"] { padding: 0; }
  .campus .section-title { font-size: 22px; font-weight: 400; width: 100%; position: relative; padding: 50px 10px 30px; background: rgba(255, 255, 255, 0.8); max-width: 100%; min-height: 150px; }
  .campus .section-title:before { content: ""; display: block; position: absolute; top: 30px; left: 10px; width: 60px; height: 3px; background: #2AD0CE; }
  .campus .section-subtitle { padding-top: 0; margin-top: 130px; padding: 0 10px; }
  .campus .section-subtitle:before { display: none; }
  .campus .campus-tiles { max-width: 320px; margin: 20px auto 0; }
  .campus .campus-tiles li { height: 70px; width: 100%; }
  .campus .campus-tiles li .initiative { font-size: 20px; }
  .sponsors { padding: 30px 0; }
  .sponsors .section-title-big { font-size: 25px; }
  .sponsors .sponsor-list li { width: 50%; margin-bottom: 20px; height: 60px; }
  #footer { text-align: center; }
  #footer .footer-logo { display: none; }
  #footer .webform-client-form legend { margin-bottom: 10px; }
  #footer .webform-client-form .form-actions { width: 95px; }
  #footer .webform-client-form .form-actions .btn { min-width: inherit; width: 100%; }
  #footer .webform-client-form .webform-component-email { width: calc(100% - 95px); }
  #footer .webform-client-form .webform-component-email input[type="email"] { width: 100%; }
  #footer .social-links { float: none !important; width: 100%; text-align: center; margin-bottom: 5px; }
  #footer .social-links li .fa-lg { font-size: 1.6em; }
  #footer .footer-menu { padding-bottom: 0px; }
  #footer .footer-menu li { margin: 0; padding: 0 10px; }
  #footer .copyright { padding-bottom: 10px; float: none !important; text-align: center; }
  #footer .copyright br { display: none; }
  #footer .copyright li:first-child { margin-right: 0px; }
  #footer .copyright li { padding: 0 10px; }
  #hero { overflow: hidden; }
  #hero.article, #hero.video, #hero.audio, #hero.collections, #hero.landingpage, #hero.fancy-page, #hero.workshop-page, #hero.simple-page { height: auto; min-height: 205px; position: relative; }
  #hero.article:before, #hero.video:before, #hero.audio:before, #hero.collections:before, #hero.landingpage:before, #hero.fancy-page:before, #hero.workshop-page:before, #hero.simple-page:before { content: ""; position: absolute; display: block; width: 100%; height: 100%; background: rgba(0, 0, 0, 0.35); top: 0; left: 0; }
  #hero.article .container, #hero.video .container, #hero.audio .container, #hero.collections .container, #hero.landingpage .container, #hero.fancy-page .container, #hero.workshop-page .container, #hero.simple-page .container { padding: 0; width: 100%; }
  #hero.article .transparent, #hero.video .transparent, #hero.audio .transparent, #hero.collections .transparent, #hero.landingpage .transparent, #hero.fancy-page .transparent, #hero.workshop-page .transparent, #hero.simple-page .transparent { background-color: transparent !important; text-align: center; }
  #hero.article .article-info .article-category, #hero.video .article-info .article-category, #hero.audio .article-info .article-category, #hero.collections .article-info .article-category, #hero.landingpage .article-info .article-category, #hero.fancy-page .article-info .article-category, #hero.workshop-page .article-info .article-category, #hero.simple-page .article-info .article-category { padding: 0 0 10px 0; }
  #hero.article .article-info .article-title, #hero.video .article-info .article-title, #hero.audio .article-info .article-title, #hero.collections .article-info .article-title, #hero.landingpage .article-info .article-title, #hero.fancy-page .article-info .article-title, #hero.workshop-page .article-info .article-title, #hero.simple-page .article-info .article-title { font-size: 25px; padding: 10px 0; }
  #hero.article .article-info .article-subtitle, #hero.video .article-info .article-subtitle, #hero.audio .article-info .article-subtitle, #hero.collections .article-info .article-subtitle, #hero.landingpage .article-info .article-subtitle, #hero.fancy-page .article-info .article-subtitle, #hero.workshop-page .article-info .article-subtitle, #hero.simple-page .article-info .article-subtitle { font-size: 18px; }
  #hero.article .page-info .page-title, #hero.video .page-info .page-title, #hero.audio .page-info .page-title, #hero.collections .page-info .page-title, #hero.landingpage .page-info .page-title, #hero.fancy-page .page-info .page-title, #hero.workshop-page .page-info .page-title, #hero.simple-page .page-info .page-title { font-size: 25px; }
  #hero.audio { height: 330px; }
  #hero.audio .article-info .article-title { letter-spacing: 0; }
  #hero.audio .audio-player .mejs-controls .mejs-play button, #hero.audio .audio-player .mejs-controls .mejs-pause button { display: block; }
  #hero.audio .audio-player .audio-info-text { position: relative; display: block; width: 100%; padding: 0; text-align: center; margin-bottom: 10px; }
  #hero.audio #audio-timers { top: 10px; }
  #hero.landingpage .hero-content { position: relative; bottom: auto; padding: 20px 0; }
  #hero.landingpage .hero-content .initiative-title { font-size: 25px; line-height: 35px; max-width: 300px; margin: auto; }
  #hero.landingpage .hero-content .tagline { font-size: 18px; }
  #hero.landingpage .hero-content a.btn { display: none; }
  #hero.fancy-page .page-info .page-title { font-size: 35px; }
  #hero.workshop-page { height: auto; min-height: 205px; text-align: center; margin-bottom: 0; }
  #hero.workshop-page .page-info { padding: 0; }
  #hero.workshop-page .transparent { min-width: 100%; }
  #hero.workshop-page .person { display: none; }
  #hero.workshop-page .register-today { display: none; }
  #hero.workshop-page .page-title { font-size: 25px !important; }
  #hero.workshop-page .date-location { margin: 10px 0 20px; }
  #hero.workshop-page .date-location span { font-size: 14px; }
  #mainContent.article, #mainContent.video, #mainContent.audio, #mainContent.collections, #mainContent.simple-page, #mainContent.fancy-page, #mainContent.workshop-page { padding-bottom: 0; padding-top: 0; background: #fff; }
  #mainContent.article .container, #mainContent.video .container, #mainContent.audio .container, #mainContent.collections .container, #mainContent.simple-page .container, #mainContent.fancy-page .container, #mainContent.workshop-page .container { padding-left: 10px; padding-right: 10px; }
  #mainContent.article .sidebar, #mainContent.video .sidebar, #mainContent.audio .sidebar, #mainContent.collections .sidebar, #mainContent.simple-page .sidebar, #mainContent.fancy-page .sidebar, #mainContent.workshop-page .sidebar { text-align: center; }
  #mainContent.article .sidebar > ul > li, #mainContent.video .sidebar > ul > li, #mainContent.audio .sidebar > ul > li, #mainContent.collections .sidebar > ul > li, #mainContent.simple-page .sidebar > ul > li, #mainContent.fancy-page .sidebar > ul > li, #mainContent.workshop-page .sidebar > ul > li { padding: 10px 0; }
  #mainContent.article .sidebar > ul > li a, #mainContent.video .sidebar > ul > li a, #mainContent.audio .sidebar > ul > li a, #mainContent.collections .sidebar > ul > li a, #mainContent.simple-page .sidebar > ul > li a, #mainContent.fancy-page .sidebar > ul > li a, #mainContent.workshop-page .sidebar > ul > li a { text-transform: uppercase; }
  #mainContent.article .sidebar .article-info li:first-child, #mainContent.video .sidebar .article-info li:first-child, #mainContent.audio .sidebar .article-info li:first-child, #mainContent.collections .sidebar .article-info li:first-child, #mainContent.simple-page .sidebar .article-info li:first-child, #mainContent.fancy-page .sidebar .article-info li:first-child, #mainContent.workshop-page .sidebar .article-info li:first-child { border-top: none; }
  #mainContent.article .sidebar .future-events, #mainContent.video .sidebar .future-events, #mainContent.audio .sidebar .future-events, #mainContent.collections .sidebar .future-events, #mainContent.simple-page .sidebar .future-events, #mainContent.fancy-page .sidebar .future-events, #mainContent.workshop-page .sidebar .future-events { display: none; }
  #mainContent.article .article-body, #mainContent.video .article-body, #mainContent.audio .article-body, #mainContent.collections .article-body, #mainContent.simple-page .article-body, #mainContent.fancy-page .article-body, #mainContent.workshop-page .article-body { padding: 20px 0 0; border-bottom: none; }
  #mainContent.article .article-body .pane-node-field-intro-blurb, #mainContent.article .article-body .field-name-field-intro-blurb, #mainContent.article .article-body .article-intro, #mainContent.video .article-body .pane-node-field-intro-blurb, #mainContent.video .article-body .field-name-field-intro-blurb, #mainContent.video .article-body .article-intro, #mainContent.audio .article-body .pane-node-field-intro-blurb, #mainContent.audio .article-body .field-name-field-intro-blurb, #mainContent.audio .article-body .article-intro, #mainContent.collections .article-body .pane-node-field-intro-blurb, #mainContent.collections .article-body .field-name-field-intro-blurb, #mainContent.collections .article-body .article-intro, #mainContent.simple-page .article-body .pane-node-field-intro-blurb, #mainContent.simple-page .article-body .field-name-field-intro-blurb, #mainContent.simple-page .article-body .article-intro, #mainContent.fancy-page .article-body .pane-node-field-intro-blurb, #mainContent.fancy-page .article-body .field-name-field-intro-blurb, #mainContent.fancy-page .article-body .article-intro, #mainContent.workshop-page .article-body .pane-node-field-intro-blurb, #mainContent.workshop-page .article-body .field-name-field-intro-blurb, #mainContent.workshop-page .article-body .article-intro { font-size: 20px; }
  #mainContent.article .article-body .field-items p, #mainContent.article .article-body .field-name-field-article.field-type-text-with-summary p, #mainContent.video .article-body .field-items p, #mainContent.video .article-body .field-name-field-article.field-type-text-with-summary p, #mainContent.audio .article-body .field-items p, #mainContent.audio .article-body .field-name-field-article.field-type-text-with-summary p, #mainContent.collections .article-body .field-items p, #mainContent.collections .article-body .field-name-field-article.field-type-text-with-summary p, #mainContent.simple-page .article-body .field-items p, #mainContent.simple-page .article-body .field-name-field-article.field-type-text-with-summary p, #mainContent.fancy-page .article-body .field-items p, #mainContent.fancy-page .article-body .field-name-field-article.field-type-text-with-summary p, #mainContent.workshop-page .article-body .field-items p, #mainContent.workshop-page .article-body .field-name-field-article.field-type-text-with-summary p { line-height: 22px; }
  #mainContent.article .article-body .field-name-field-article.field-type-text-with-summary blockquote, #mainContent.video .article-body .field-name-field-article.field-type-text-with-summary blockquote, #mainContent.audio .article-body .field-name-field-article.field-type-text-with-summary blockquote, #mainContent.collections .article-body .field-name-field-article.field-type-text-with-summary blockquote, #mainContent.simple-page .article-body .field-name-field-article.field-type-text-with-summary blockquote, #mainContent.fancy-page .article-body .field-name-field-article.field-type-text-with-summary blockquote, #mainContent.workshop-page .article-body .field-name-field-article.field-type-text-with-summary blockquote { float: none; margin-left: 0; }
  #mainContent.article .discover-more, #mainContent.video .discover-more, #mainContent.audio .discover-more, #mainContent.collections .discover-more, #mainContent.simple-page .discover-more, #mainContent.fancy-page .discover-more, #mainContent.workshop-page .discover-more { margin-left: calc(0px - ((100vw - 300px) / 2)); margin-right: calc(0px - ((100vw - 300px) / 2)); padding-left: calc((100vw - 320px) / 2); padding-right: calc((100vw - 320px) / 2); }
  #mainContent.article .discover-more .section-title, #mainContent.video .discover-more .section-title, #mainContent.audio .discover-more .section-title, #mainContent.collections .discover-more .section-title, #mainContent.simple-page .discover-more .section-title, #mainContent.fancy-page .discover-more .section-title, #mainContent.workshop-page .discover-more .section-title { font-size: 24px; padding-top: 20px; }
  #mainContent.article .carousel-section, #mainContent.video .carousel-section, #mainContent.audio .carousel-section, #mainContent.collections .carousel-section, #mainContent.simple-page .carousel-section, #mainContent.fancy-page .carousel-section, #mainContent.workshop-page .carousel-section { margin-left: 0; margin-right: 0; }
  #mainContent #articleCarousel .carousel-control.left { left: 10px; }
  #mainContent #articleCarousel .carousel-control.right { right: 10px; }
  #mainContent.collections .article-body .pane-node-field-intro-blurb, #mainContent.collections .article-body .field-name-field-intro-blurb, #mainContent.collections .article-body .article-intro { margin-bottom: 0; }
  #mainContent.collections .article-body .collections-list { padding-top: 0; }
  #mainContent.collections .article-body .collections-list li { position: relative; padding-bottom: 360px; }
  #mainContent.collections .article-body .collections-list li .tiles-grid { margin-left: -10px; float: none; position: absolute; bottom: 40px; left: 0; right: 0; }
  #mainContent.collections .article-body .collections-list .item-content { min-height: auto; }
  #mainContent.collections .article-body .collections-list .item-content .title { font-size: 25px; }
  #mainContent.collections .discover-more .section-title { margin-bottom: 20px; }
  #mainContent.collections .discover-more .collections-mobile-tiles { padding: 0; }
  #mainContent.video #videoCarousel .video-carousel { height: 260px; margin-left: 20px; margin-bottom: 10px; }
  #mainContent.video #videoCarousel .video-carousel .video-frame, #mainContent.video #videoCarousel .video-carousel .active .video-frame { width: 200px; height: 260px; background: transparent; margin: 0 5px; }
  #mainContent.video #videoCarousel .video-carousel .video-frame iframe, #mainContent.video #videoCarousel .video-carousel .active .video-frame iframe { width: 200px; height: 150px; float: none; }
  #mainContent.video #videoCarousel .video-carousel .video-frame .video-overlay, #mainContent.video #videoCarousel .video-carousel .active .video-frame .video-overlay { background: transparent; position: relative; height: 110px; color: #575757; bottom: auto; opacity: 1; width: 100%; padding: 5px 0 0 0; }
  #mainContent.video #videoCarousel .video-carousel .video-frame .video-overlay *, #mainContent.video #videoCarousel .video-carousel .active .video-frame .video-overlay * { position: relative; color: #575757; bottom: auto; }
  #mainContent.video #videoCarousel .video-carousel .video-frame .video-overlay .video-title, #mainContent.video #videoCarousel .video-carousel .active .video-frame .video-overlay .video-title { font-size: 18px; margin-bottom: 10px; }
  #mainContent.video #videoCarousel .video-carousel .video-frame .video-overlay img, #mainContent.video #videoCarousel .video-carousel .active .video-frame .video-overlay img { -webkit-filter: invert(60%); filter: invert(60%); height: 16px; width: 16px; }
  #mainContent.video #videoCarousel .video-carousel .video-frame .type-of-video, #mainContent.video #videoCarousel .video-carousel .active .video-frame .type-of-video { display: none; }
  #mainContent.video #videoCarousel .carousel-control { height: 150px; width: 30px; }
  #mainContent.person .person-bio { padding: 20px 0; }
  #mainContent.person .person-bio > .container > .row > div[class*="col-"] { width: 100%; }
  #mainContent.person .person-website { padding-bottom: 20px; border-bottom: 1px solid #575757; margin-bottom: 20px; }
  #mainContent.person .person-website h1 { color: #575757; text-align: center; font-size: 25px; margin: 0 0 20px 0; line-height: 1; }
  #mainContent.person .person-website a { color: #6a6a6a; font-size: 14px; text-align: center; display: block; }
  #mainContent.person .bio { font-size: 18px; color: #000; }
  #mainContent.person .tiles-grid { padding: 25px 0 30px; }
  #mainContent.person .tiles-grid h1.section-title { font-size: 25px; color: #6a6a6a; margin-bottom: 30px; }
  #mainContent.simple-page #hero { height: 200px; }
  #mainContent.simple-page.press-release #pageContent .page-body .page-header { margin: 0; }
  #mainContent.simple-page.press-release #pageContent .page-body .page-header h1 { font-size: 25px; margin-top: 0; padding-top: 20px; margin-bottom: 20px; }
  #mainContent.simple-page #pageContent .page-body { padding: 20px; }
  #mainContent.simple-page #pageContent .page-body .page-header { margin: 0; }
  #mainContent.simple-page #pageContent .page-body .page-header h1 { font-size: 25px; margin-top: 0; padding-top: 0px; margin-bottom: 20px; }
  #mainContent.fancy-page.owlc #hero .transparent, #mainContent.fancy-page.ocsl #hero .transparent { background: transparent !important; }
  #mainContent.landingpage .lp-not-logged, #mainContent.landingpage .lp-logged, #mainContent.discover .lp-not-logged, #mainContent.discover .lp-logged { display: none; }
  #mainContent.landingpage [role="tabpanel"] .container, #mainContent.discover [role="tabpanel"] .container { padding: 0; }
  #mainContent.landingpage [role="tabpanel"] .container .row:not(.tiles-row), #mainContent.discover [role="tabpanel"] .container .row:not(.tiles-row) { margin: 0; }
  #mainContent.landingpage [role="tabpanel"] .container .row:not(.tiles-row) div[class*="col-"]:not(.headline-col), #mainContent.discover [role="tabpanel"] .container .row:not(.tiles-row) div[class*="col-"]:not(.headline-col) { padding: 0; margin-top: 0px; }
  #mainContent.landingpage [role="tabpanel"] .container .row:not(.tiles-row) div[class*="col-"]:not(.headline-col).lp-filter, #mainContent.discover [role="tabpanel"] .container .row:not(.tiles-row) div[class*="col-"]:not(.headline-col).lp-filter { padding: 0 10px; margin-top: 0px; }
  #mainContent.landingpage [role="tabpanel"] .container .row:not(.tiles-row) div[class*="col-"]:not(.headline-col).lp-filter .form-group, #mainContent.discover [role="tabpanel"] .container .row:not(.tiles-row) div[class*="col-"]:not(.headline-col).lp-filter .form-group { margin: 0 0 15px 0; }
  #mainContent.landingpage [role="tabpanel"] .lp-tabs, #mainContent.discover [role="tabpanel"] .lp-tabs { margin-bottom: 20px; min-height: 40px; }
  #mainContent.landingpage [role="tabpanel"] .lp-tabs .nav-tabs, #mainContent.discover [role="tabpanel"] .lp-tabs .nav-tabs { background: #fff; -webkit-transition: all 0.3s ease-in-out; transition: all 0.3s ease-in-out; position: absolute; top: 0; left: 10px; z-index: 10; width: 100%; max-width: 300px; border: 1px solid #C2C2C2; display: inline-block; }
  #mainContent.landingpage [role="tabpanel"] .lp-tabs .nav-tabs > li, #mainContent.discover [role="tabpanel"] .lp-tabs .nav-tabs > li { overflow: hidden; display: block; position: absolute; opacity: 0; top: 0; pointer-events: none; width: 100%; }
  #mainContent.landingpage [role="tabpanel"] .lp-tabs .nav-tabs > li.active, #mainContent.discover [role="tabpanel"] .lp-tabs .nav-tabs > li.active { height: auto; opacity: 1; position: relative; pointer-events: auto; }
  #mainContent.landingpage [role="tabpanel"] .lp-tabs .nav-tabs > li.active a, #mainContent.discover [role="tabpanel"] .lp-tabs .nav-tabs > li.active a { border: 0; white-space: nowrap; padding-right: 25px; text-overflow: ellipsis; max-width: 100%; overflow: hidden; pointer-events: none; }
  #mainContent.landingpage [role="tabpanel"] .lp-tabs .nav-tabs > li a, #mainContent.discover [role="tabpanel"] .lp-tabs .nav-tabs > li a { color: #575757; text-transform: capitalize; text-align: left; font-size: 14px; padding: 10px; white-space: nowrap; padding-right: 25px; text-overflow: ellipsis; overflow: hidden; }
  #mainContent.landingpage [role="tabpanel"] .lp-tabs .nav-tabs.open, #mainContent.discover [role="tabpanel"] .lp-tabs .nav-tabs.open { z-index: 2000; }
  #mainContent.landingpage [role="tabpanel"] .lp-tabs .nav-tabs.open li, #mainContent.discover [role="tabpanel"] .lp-tabs .nav-tabs.open li { position: relative; opacity: 1; pointer-events: auto; }
  #mainContent.landingpage [role="tabpanel"] .lp-tabs .nav-tabs.open:after, #mainContent.discover [role="tabpanel"] .lp-tabs .nav-tabs.open:after { -webkit-transform: rotate(-180deg); -ms-transform: rotate(-180deg); transform: rotate(-180deg); }
  #mainContent.landingpage [role="tabpanel"] .lp-tabs .nav-tabs:after, #mainContent.discover [role="tabpanel"] .lp-tabs .nav-tabs:after { content: "\f107"; font-family: "FontAwesome"; position: absolute; right: 10px; top: 8px; display: block; color: #fff; background: #0EA9A7; font-size: 18px; -webkit-transition: all 0.3s ease; transition: all 0.3s ease; width: 20px; height: 20px; border-radius: 50%; line-height: 1.2; }
  #mainContent.landingpage [role="tabpanel"] .lp-tabs .mobile-filter-btn, #mainContent.discover [role="tabpanel"] .lp-tabs .mobile-filter-btn { display: none !important; background: #fff; min-width: 150px; position: absolute; right: 10px; height: 40px; top: 0; color: #575757; text-align: left; border: 1px solid #C2C2C2; border-left: none; }
  #mainContent.landingpage [role="tabpanel"] .lp-tabs .mobile-filter-btn i.fa, #mainContent.discover [role="tabpanel"] .lp-tabs .mobile-filter-btn i.fa { display: none; }
  #mainContent.landingpage [role="tabpanel"] .lp-tabs .mobile-filter-btn:after, #mainContent.discover [role="tabpanel"] .lp-tabs .mobile-filter-btn:after { content: "\f107"; font-family: "FontAwesome"; position: absolute; right: 10px; top: 8px; display: block; color: #fff; background: #0EA9A7; font-size: 18px; -webkit-transition: all 0.3s ease; transition: all 0.3s ease; width: 20px; height: 20px; border-radius: 50%; line-height: 1.2; text-align: center; }
  #mainContent.landingpage .lp-filter, #mainContent.discover .lp-filter { padding: 0 10px; }
  #mainContent.landingpage .lp-filter form[id*="SearchForm"], #mainContent.landingpage .lp-filter #owlcSearchForm, #mainContent.landingpage .lp-filter #ocslSearchForm, #mainContent.landingpage .lp-filter #otherinitiativesSearchForm, #mainContent.discover .lp-filter form[id*="SearchForm"], #mainContent.discover .lp-filter #owlcSearchForm, #mainContent.discover .lp-filter #ocslSearchForm, #mainContent.discover .lp-filter #otherinitiativesSearchForm { padding: 10px 0; font-size: 0; vertical-align: top; }
  #mainContent.landingpage .lp-filter form[id*="SearchForm"] .filter-btn, #mainContent.landingpage .lp-filter #owlcSearchForm .filter-btn, #mainContent.landingpage .lp-filter #ocslSearchForm .filter-btn, #mainContent.landingpage .lp-filter #otherinitiativesSearchForm .filter-btn, #mainContent.discover .lp-filter form[id*="SearchForm"] .filter-btn, #mainContent.discover .lp-filter #owlcSearchForm .filter-btn, #mainContent.discover .lp-filter #ocslSearchForm .filter-btn, #mainContent.discover .lp-filter #otherinitiativesSearchForm .filter-btn { display: none; }
  #mainContent.landingpage .lp-filter form[id*="SearchForm"] [type="submit"], #mainContent.landingpage .lp-filter #owlcSearchForm [type="submit"], #mainContent.landingpage .lp-filter #ocslSearchForm [type="submit"], #mainContent.landingpage .lp-filter #otherinitiativesSearchForm [type="submit"], #mainContent.discover .lp-filter form[id*="SearchForm"] [type="submit"], #mainContent.discover .lp-filter #owlcSearchForm [type="submit"], #mainContent.discover .lp-filter #ocslSearchForm [type="submit"], #mainContent.discover .lp-filter #otherinitiativesSearchForm [type="submit"] { min-width: 85px; width: 85px; display: block; float: right; outline: none; margin-left: -2px; }
  #mainContent.landingpage .lp-filter form[id*="SearchForm"] .form-group, #mainContent.landingpage .lp-filter #owlcSearchForm .form-group, #mainContent.landingpage .lp-filter #ocslSearchForm .form-group, #mainContent.landingpage .lp-filter #otherinitiativesSearchForm .form-group, #mainContent.discover .lp-filter form[id*="SearchForm"] .form-group, #mainContent.discover .lp-filter #owlcSearchForm .form-group, #mainContent.discover .lp-filter #ocslSearchForm .form-group, #mainContent.discover .lp-filter #otherinitiativesSearchForm .form-group { max-width: 210px; display: inline-block; }
  #mainContent.landingpage .lp-filter form[id*="SearchForm"] .form-group input, #mainContent.landingpage .lp-filter #owlcSearchForm .form-group input, #mainContent.landingpage .lp-filter #ocslSearchForm .form-group input, #mainContent.landingpage .lp-filter #otherinitiativesSearchForm .form-group input, #mainContent.discover .lp-filter form[id*="SearchForm"] .form-group input, #mainContent.discover .lp-filter #owlcSearchForm .form-group input, #mainContent.discover .lp-filter #ocslSearchForm .form-group input, #mainContent.discover .lp-filter #otherinitiativesSearchForm .form-group input { min-width: 210px !important; float: left; }
  #mainContent.landingpage .lp-filter #owlcSearchForm #owlcSearch::-webkit-input-placeholder, #mainContent.landingpage .lp-filter #ocslSearchForm #ocslSearch::-webkit-input-placeholder, #mainContent.landingpage .lp-filter #otherinitiativesSearchForm #otherinitiativeSearch::-webkit-input-placeholder, #mainContent.discover .lp-filter #owlcSearchForm #owlcSearch::-webkit-input-placeholder, #mainContent.discover .lp-filter #ocslSearchForm #ocslSearch::-webkit-input-placeholder, #mainContent.discover .lp-filter #otherinitiativesSearchForm #otherinitiativeSearch::-webkit-input-placeholder { font-size: 14px !important; }
  #mainContent.landingpage .lp-filter #owlcSearchForm #owlcSearch:-moz-placeholder, #mainContent.landingpage .lp-filter #ocslSearchForm #ocslSearch:-moz-placeholder, #mainContent.landingpage .lp-filter #otherinitiativesSearchForm #otherinitiativeSearch:-moz-placeholder, #mainContent.discover .lp-filter #owlcSearchForm #owlcSearch:-moz-placeholder, #mainContent.discover .lp-filter #ocslSearchForm #ocslSearch:-moz-placeholder, #mainContent.discover .lp-filter #otherinitiativesSearchForm #otherinitiativeSearch:-moz-placeholder { font-size: 14px; }
  #mainContent.landingpage .lp-filter #owlcSearchForm #owlcSearch::-moz-placeholder, #mainContent.landingpage .lp-filter #ocslSearchForm #ocslSearch::-moz-placeholder, #mainContent.landingpage .lp-filter #otherinitiativesSearchForm #otherinitiativeSearch::-moz-placeholder, #mainContent.discover .lp-filter #owlcSearchForm #owlcSearch::-moz-placeholder, #mainContent.discover .lp-filter #ocslSearchForm #ocslSearch::-moz-placeholder, #mainContent.discover .lp-filter #otherinitiativesSearchForm #otherinitiativeSearch::-moz-placeholder { font-size: 14px; }
  #mainContent.landingpage .lp-filter #owlcSearchForm #owlcSearch:-ms-input-placeholder, #mainContent.landingpage .lp-filter #ocslSearchForm #ocslSearch:-ms-input-placeholder, #mainContent.landingpage .lp-filter #otherinitiativesSearchForm #otherinitiativeSearch:-ms-input-placeholder, #mainContent.discover .lp-filter #owlcSearchForm #owlcSearch:-ms-input-placeholder, #mainContent.discover .lp-filter #ocslSearchForm #ocslSearch:-ms-input-placeholder, #mainContent.discover .lp-filter #otherinitiativesSearchForm #otherinitiativeSearch:-ms-input-placeholder { font-size: 14px; }
  #mainContent.landingpage .lp-filter .form-type-select, #mainContent.discover .lp-filter .form-type-select { max-width: 100%; }
  #mainContent.landingpage.owlc [role="tabpanel"] .lp-tabs .nav-tabs:after, #mainContent.discover.owlc [role="tabpanel"] .lp-tabs .nav-tabs:after { background: #DC6233; }
  #mainContent.landingpage.owlc [role="tabpanel"] .lp-tabs .mobile-filter-btn:after, #mainContent.discover.owlc [role="tabpanel"] .lp-tabs .mobile-filter-btn:after { background: #DC6233; }
  #mainContent.landingpage.owlc .lp-filter form[id*="SearchForm"], #mainContent.landingpage.owlc .lp-filter #owlcSearchForm, #mainContent.discover.owlc .lp-filter form[id*="SearchForm"], #mainContent.discover.owlc .lp-filter #owlcSearchForm { padding: 10px 0; font-size: 0; vertical-align: top; }
  #mainContent.landingpage.owlc .lp-filter form[id*="SearchForm"] .filter-btn, #mainContent.landingpage.owlc .lp-filter #owlcSearchForm .filter-btn, #mainContent.discover.owlc .lp-filter form[id*="SearchForm"] .filter-btn, #mainContent.discover.owlc .lp-filter #owlcSearchForm .filter-btn { display: none; }
  #mainContent.landingpage.owlc .lp-filter form[id*="SearchForm"] [type="submit"], #mainContent.landingpage.owlc .lp-filter #owlcSearchForm [type="submit"], #mainContent.discover.owlc .lp-filter form[id*="SearchForm"] [type="submit"], #mainContent.discover.owlc .lp-filter #owlcSearchForm [type="submit"] { min-width: 88px; width: 88px; display: block; float: right; }
  #mainContent.landingpage.owlc .lp-filter form[id*="SearchForm"] .form-group, #mainContent.landingpage.owlc .lp-filter #owlcSearchForm .form-group, #mainContent.discover.owlc .lp-filter form[id*="SearchForm"] .form-group, #mainContent.discover.owlc .lp-filter #owlcSearchForm .form-group { max-width: 210px; display: inline-block; }
  #mainContent.landingpage.owlc .lp-filter form[id*="SearchForm"] .form-group input, #mainContent.landingpage.owlc .lp-filter #owlcSearchForm .form-group input, #mainContent.discover.owlc .lp-filter form[id*="SearchForm"] .form-group input, #mainContent.discover.owlc .lp-filter #owlcSearchForm .form-group input { min-width: 210px !important; }
  #mainContent.landingpage.owlc .lp-filter form[id*="SearchForm"] .form-group.date, #mainContent.landingpage.owlc .lp-filter #owlcSearchForm .form-group.date, #mainContent.discover.owlc .lp-filter form[id*="SearchForm"] .form-group.date, #mainContent.discover.owlc .lp-filter #owlcSearchForm .form-group.date { width: 100%; }
  #mainContent.landingpage.owlc .lp-filter form[id*="SearchForm"] .form-group.date input, #mainContent.landingpage.owlc .lp-filter #owlcSearchForm .form-group.date input, #mainContent.discover.owlc .lp-filter form[id*="SearchForm"] .form-group.date input, #mainContent.discover.owlc .lp-filter #owlcSearchForm .form-group.date input { min-width: auto !important; width: 100%; }
  #mainContent.landingpage.ocsl [role="tabpanel"] .lp-tabs .nav-tabs:after, #mainContent.discover.ocsl [role="tabpanel"] .lp-tabs .nav-tabs:after { background: #699E57; }
  #mainContent.landingpage.ocsl [role="tabpanel"] .lp-tabs .mobile-filter-btn:after, #mainContent.discover.ocsl [role="tabpanel"] .lp-tabs .mobile-filter-btn:after { background: #699E57; }
  #mainContent .tiles-grid .headline-col div[class*="col"]:first-child { width: 70%; float: left; }
  #mainContent .tiles-grid .headline-col div[class*="col"]:first-child .headline-title { top: 0; font-size: 20px; }
  #mainContent .tiles-grid .headline-col div[class*="col"]:last-child { width: 30%; float: left; }
  #mainContent .tiles-grid .headline-col div[class*="col"]:last-child .see-all { float: none !important; min-width: 100%; max-width: 100%; }
  #mainContent.fancy-page #pageContent .page-body, #mainContent.simple-page #pageContent .page-body, #mainContent.workshop-page #pageContent .page-body { padding: 0px; }
  #mainContent.fancy-page #pageContent, #mainContent.simple-page #pageContent { padding: 0; }
  #mainContent.fancy-page #pageContent .sidebar, #mainContent.simple-page #pageContent .sidebar { width: 100%; padding: 0; background: #fff; }
  #mainContent.fancy-page #pageContent .sidebar #sideMenu, #mainContent.simple-page #pageContent .sidebar #sideMenu { padding: 0 0 10px 0; background: #fff; }
  #mainContent.fancy-page #pageContent .sidebar #sideMenu .page-share, #mainContent.simple-page #pageContent .sidebar #sideMenu .page-share { border-top: 0; }
  #mainContent.fancy-page #pageContent .sidebar #sideMenu .side-menu, #mainContent.simple-page #pageContent .sidebar #sideMenu .side-menu { padding: 0; }
  #mainContent.fancy-page #pageContent .sidebar #sideMenu .side-menu li, #mainContent.simple-page #pageContent .sidebar #sideMenu .side-menu li { display: none; }
  #mainContent.fancy-page #pageContent .sidebar #sideMenu .side-menu li:first-child, #mainContent.simple-page #pageContent .sidebar #sideMenu .side-menu li:first-child { display: block; }
  #mainContent.fancy-page #pageContent .sidebar #sideMenu .side-menu:after, #mainContent.simple-page #pageContent .sidebar #sideMenu .side-menu:after { content: "\f107"; font-family: "FontAwesome"; position: absolute; right: 10px; top: 8px; width: 20px; height: 20px; border-radius: 50%; text-align: center; line-height: 20px; color: #fff; background: #0EA9A7; }
  #mainContent.fancy-page #pageContent .sidebar #sideMenu .side-menu .mobile-toggle, #mainContent.simple-page #pageContent .sidebar #sideMenu .side-menu .mobile-toggle { width: 100%; height: 38px; position: absolute; top: 0; left: 0; background: transparent; z-index: 100; }
  #mainContent.fancy-page #pageContent .sidebar #sideMenu .side-menu.open .mobile-toggle, #mainContent.simple-page #pageContent .sidebar #sideMenu .side-menu.open .mobile-toggle { height: 0; }
  #mainContent.fancy-page #pageContent .sidebar #sideMenu .side-menu.open li, #mainContent.simple-page #pageContent .sidebar #sideMenu .side-menu.open li { display: block; }
  #mainContent.fancy-page #pageContent .sidebar #sideMenu.affix, #mainContent.simple-page #pageContent .sidebar #sideMenu.affix { width: 320px; z-index: 1000; background: #fff; top: 50px; left: 0; right: 0; padding: 0; margin: auto; }
  #mainContent.fancy-page #pageContent .sidebar #sideMenu.affix .page-share, #mainContent.simple-page #pageContent .sidebar #sideMenu.affix .page-share { display: none; }
  #mainContent.fancy-page #pageContent .sidebar #sideMenu.affix .side-menu li, #mainContent.simple-page #pageContent .sidebar #sideMenu.affix .side-menu li { display: none; }
  #mainContent.fancy-page #pageContent .sidebar #sideMenu.affix .side-menu li.active, #mainContent.simple-page #pageContent .sidebar #sideMenu.affix .side-menu li.active { display: block; margin-top: 0; }
  #mainContent.fancy-page #pageContent .sidebar #sideMenu.affix .side-menu li.active a, #mainContent.simple-page #pageContent .sidebar #sideMenu.affix .side-menu li.active a { height: 38px; }
  #mainContent.fancy-page #pageContent .sidebar #sideMenu.affix .side-menu.open .mobile-toggle, #mainContent.simple-page #pageContent .sidebar #sideMenu.affix .side-menu.open .mobile-toggle { height: 0; }
  #mainContent.fancy-page #pageContent .sidebar #sideMenu.affix .side-menu.open li, #mainContent.simple-page #pageContent .sidebar #sideMenu.affix .side-menu.open li { display: block; }
  #mainContent.fancy-page.owlc #pageContent .sidebar #sideMenu .side-menu:after, #mainContent.simple-page.owlc #pageContent .sidebar #sideMenu .side-menu:after { background: #DC6233; }
  #mainContent.fancy-page.ocsl #pageContent .sidebar #sideMenu .side-menu:after, #mainContent.simple-page.ocsl #pageContent .sidebar #sideMenu .side-menu:after { background: #699E57; }
  #mainContent.workshop-page #pageContent { padding-top: 10px; }
  #mainContent.workshop-page #pageContent .person.mobile-only .short-workshop-info { font-size: 15px; }
  #mainContent.workshop-page #pageContent .person.mobile-only .person-images li { display: none; width: calc(100% / 3); }
  #mainContent.workshop-page #pageContent .person.mobile-only .person-images li:first-child, #mainContent.workshop-page #pageContent .person.mobile-only .person-images li:last-child, #mainContent.workshop-page #pageContent .person.mobile-only .person-images li:nth-child(2) { display: inline-block; }
  #mainContent.workshop-page #pageContent .person.mobile-only .person-images li:first-child p, #mainContent.workshop-page #pageContent .person.mobile-only .person-images li:first-child p a, #mainContent.workshop-page #pageContent .person.mobile-only .person-images li:last-child p, #mainContent.workshop-page #pageContent .person.mobile-only .person-images li:last-child p a, #mainContent.workshop-page #pageContent .person.mobile-only .person-images li:nth-child(2) p, #mainContent.workshop-page #pageContent .person.mobile-only .person-images li:nth-child(2) p a { color: #000; font-weight: 300; font-size: 13px; }
  #mainContent.workshop-page #pageContent .sidebar { min-height: 50px; height: 140px; }
  #mainContent.workshop-page #pageContent .sidebar #sideMenu.affix { z-index: 1000; top: 50px; background: #fff; }
  #mainContent.workshop-page #pageContent .sidebar #sideMenu.affix:after { content: ""; position: fixed; }
  #mainContent.workshop-page #pageContent .sidebar #sideMenu.affix .page-share { display: none; }
  #mainContent.workshop-page #pageContent .sidebar #sideMenu.affix.open:before { content: ""; display: block; width: 100vw; height: 100vh; position: fixed; background: rgba(0, 0, 0, 0.5); }
  #mainContent.workshop-page #pageContent .sidebar #sideMenu { width: 320px !important; margin-left: -10px; }
  #mainContent.workshop-page #pageContent .sidebar #sideMenu .side-menu { height: 0; overflow: hidden; padding: 0; border: none; -webkit-transition: max-height 0.8s; transition: max-height 0.8s; float: none; position: absolute; left: 0; right: 0; top: 39px; margin-top: -2px; background: rgba(255, 255, 255, 0.95); text-align: left; }
  #mainContent.workshop-page #pageContent .sidebar #sideMenu .side-menu li { border-top: 1px solid #C2C2C2; margin-top: 0; }
  #mainContent.workshop-page #pageContent .sidebar #sideMenu .side-menu li:hover { background: rgba(42, 208, 206, 0.5); }
  #mainContent.workshop-page #pageContent .sidebar #sideMenu.open .side-menu { height: auto; border-bottom: 2px solid #C2C2C2; z-index: 2000; }
  #mainContent.workshop-page #pageContent .sidebar #sideMenu .mobile-sidenav-toggle { width: 160px; display: block; position: relative; float: left; text-align: left; height: 40px; padding: 0; line-height: 40px; padding: 0 10px; z-index: 1001; background: #fff; cursor: pointer; }
  #mainContent.workshop-page #pageContent .sidebar #sideMenu .mobile-sidenav-toggle:after { content: "\f107"; font-family: "FontAwesome"; position: absolute; right: 10px; top: 8px; display: block; color: #fff; background: #2AD0CE; font-size: 18px; -webkit-transition: all 0.3s ease; transition: all 0.3s ease; width: 20px; height: 20px; border-radius: 50%; line-height: 1.2; text-align: center; }
  #mainContent.workshop-page #pageContent .sidebar #sideMenu .register { width: 125px; background: #2AD0CE; display: block; position: relative; float: left; color: #fff !important; padding: 0; height: 40px; line-height: 38px; z-index: 1001; }
  #mainContent.workshop-page #pageContent .sidebar #sideMenu .register .btn { min-width: 100%; width: auto; height: 36px; padding: 0; line-height: 36px; }
  #mainContent.workshop-page #pageContent .sidebar #sideMenu .member-fav { display: block; float: left; width: calc(320px - 160px - 125px); height: 40px; padding: 0; line-height: 40px; z-index: 1001; background: #fff; }
  #mainContent.workshop-page #pageContent .sidebar #sideMenu .member-fav i { font-size: 20px; color: #2AD0CE; }
  #mainContent.workshop-page #pageContent .sidebar #sideMenu .member-fav.favorite i:before { content: "\f02e"; }
  #mainContent.workshop-page #pageContent .sidebar #sideMenu .page-share { float: none; position: relative; top: 0px; margin-top: 0px; padding-top: 45px; border-top: 0; background: #fff; }
  #mainContent.workshop-page #pageContent .sidebar #sideMenu .page-share .btn { margin-top: 10px; }
  #mainContent.workshop-page #pageContent .sidebar #sideMenu .commerce-add-to-cart .form-wrapper.form-group { margin: 0; }
  #mainContent.workshop-page #pageContent .sidebar #sideMenu .commerce-add-to-cart .form-item-quantity { display: none; }
  #mainContent.workshop-page #pageContent .no-padding { padding: 0; }
  #mainContent.workshop-page #pageContent .ws-section { padding: 20px 10px 10px; margin-bottom: 0; }
  #mainContent.workshop-page #pageContent .ws-section p { font-size: 15px; }
  #mainContent.workshop-page #pageContent .carousel-section { margin-left: -10px; margin-right: -10px; }
  #mainContent.workshop-page #pageContent #wsTeachers .teachers-grid li { width: 50%; }
  #mainContent.workshop-page #pageContent #wsTeachers .teachers-grid.four-plus li:nth-child(n+5) { display: none; }
  #mainContent.workshop-page #pageContent #wsSchedule .schedule .schedule-day .schedule-row * { font-size: 14px; }
  #mainContent.workshop-page #pageContent #wsSchedule table td { font-size: 14px; }
  #mainContent.workshop-page #pageContent #wsTuition > .row > .col-xs-6.text-right { width: 100%; margin-bottom: 15px; }
  #mainContent.workshop-page #pageContent #wsTuition .section-title { font-size: 18px; position: relative; top: 8px; margin-bottom: 0; }
  #mainContent.workshop-page #pageContent div[id*="accomodationModal"] div[id*="unit-carousel"] .item { height: 200px; }
  #mainContent.workshop-page #pageContent #wsSponsors .sponsor-list { padding: 0; overflow: hidden; }
  #mainContent.workshop-page #pageContent #wsSponsors .sponsor-list li { width: 50%; }
  #mainContent.workshop-page #pageContent #wsSponsors .sponsor-text-only li { font-size: 12px; }
  #mainContent.workshop-page #pageContent #wsVisitingOmega .section-title { font-size: 25px; }
  #mainContent.workshop-page #pageContent #wsVisitingOmega .tile { height: 75px; font-size: 15px; margin-bottom: 10px; }
  #mainContent.workshop-page #pageContent #wsDiscoverMore .discover-more .related:last-of-type { margin-bottom: 0; }
  #mainContent .bootstrap-tagsinput { width: 100%; }
  #mainContent.landingpage [role="tabpanel"] [role="tabpanel"], #mainContent.discover [role="tabpanel"] [role="tabpanel"] { margin-top: 10px; }
  #mainContent nav.navbar.page-navbar .navbar-header { position: relative; bottom: auto; }
  #mainContent nav.navbar.page-navbar .navbar-header .navbar-toggle[data-target=".page-menu"] { float: left; border: none; background: #fff; color: #575757; margin: 3px 0 3px 0; height: 44px; width: 195px; padding-right: 0; text-align: left; }
  #mainContent nav.navbar.page-navbar .navbar-header .navbar-toggle[data-target=".page-menu"]:hover { background: #fff; }
  #mainContent nav.navbar.page-navbar .navbar-header .navbar-toggle[data-target=".page-menu"] .icon-bar { display: none; }
  #mainContent nav.navbar.page-navbar .navbar-header .navbar-toggle[data-target=".page-menu"] .mobile-menu-toggle { display: block; position: relative; }
  #mainContent nav.navbar.page-navbar .navbar-header .navbar-toggle[data-target=".page-menu"] .mobile-menu-toggle i.fa { position: absolute; right: 10px; top: 0; height: 20px; width: 20px; background: #2AD0CE; border-radius: 50%; color: #fff; text-align: center; line-height: 20px; }
  #mainContent nav.navbar.page-navbar .navbar-header .navbar-toggle[data-target=".mobile-join"] { width: calc(100% - 195px); border: none; float: right; margin: 3px 0 3px 0; height: 44px; color: #fff; background-color: transparent; }
  #mainContent nav.navbar.page-navbar .navbar-header .navbar-toggle[data-target=".mobile-join"]:hover { background: transparent; }
  #mainContent nav.navbar.page-navbar .navbar-collapse { margin: 0; padding: 0 !important; }
  #mainContent nav.navbar.page-navbar .navbar-collapse .navbar-nav { width: 100%; margin: 0; }
  #mainContent nav.navbar.page-navbar .navbar-collapse .navbar-nav li a { padding: 10px 20px; width: 100%; }
  #mainContent nav.navbar.page-navbar .navbar-collapse .navbar-nav li .facebook-like { background: #fff; margin-bottom: -1px; }
  #mainContent nav.navbar.page-navbar .navbar-collapse .navbar-nav li .facebook-like a { display: inline-block; margin: auto; width: auto; padding: 0 10px; line-height: 35px; margin-top: 20px; }
  #mainContent nav.navbar.page-navbar .navbar-collapse .dropdown-menu { padding-left: 20px; }
  #mainContent nav.navbar.page-navbar .navbar-collapse .dropdown-menu li a, #mainContent nav.navbar.page-navbar .navbar-collapse .dropdown-menu li span { color: #fff !important; padding-top: 10px; padding-bottom: 10px; }
  #mainContent nav.navbar.page-navbar .navbar-collapse .dropdown.open a { background-color: transparent; }
  #mainContent nav.navbar.page-navbar .lp-not-logged, #mainContent nav.navbar.page-navbar .lp-logged { display: block; }
  #mainContent.owlc nav.navbar.page-navbar .navbar-header .navbar-toggle[data-target=".page-menu"] .mobile-menu-toggle i.fa { background: #DC6233; }
  #mainContent.owlc nav.navbar.page-navbar .navbar-collapse .navbar-nav li .facebook-like a { background: #DC6233; }
  #mainContent.ocsl nav.navbar.page-navbar .navbar-header .navbar-toggle[data-target=".page-menu"] .mobile-menu-toggle i.fa { background: #699E57; }
  #mainContent.ocsl nav.navbar.page-navbar .navbar-collapse .navbar-nav li .facebook-like a { background: #699E57; }
  #mainContent.other nav.navbar.page-navbar .navbar-header .navbar-toggle[data-target=".page-menu"] .mobile-menu-toggle i.fa { background: #0EA9A7; }
  #mainContent.other nav.navbar.page-navbar .navbar-collapse .navbar-nav li .facebook-like a { background: #0EA9A7; }
  .sponsors-page .sponsor-list li { width: 100%; margin-bottom: 10px; }
  .filter-results .tags-carousel-wrapper .tags-carousel { overflow: auto; overflow-x: scroll; overflow-y: hidden; }
  .filter-results .tags-carousel-wrapper .tags-carousel ul { white-space: nowrap; }
  .filter-results .tags-carousel-wrapper .tags-carousel::-webkit-scrollbar { display: none; }
  .filter-results .tags-carousel-wrapper a[class*="tags-carousel-control-"] { display: none; }
  .filter-results .clear-filters { margin-bottom: 30px; }
  #videoCarousel .carousel-control { width: 50px; z-index: 30; height: 200px; margin-top: 25px; }
  #videoCarousel .tile { width: 100%; min-width: 300px; min-height: 250px !important; }
  #videoCarousel .tile.panel-idea, #videoCarousel .tile.panel-general-purpose { height: 250px !important; }
  #videoCarousel .tile.panel-person .person-image { width: 94vw; height: 250px; }
  #videoCarousel .tile.panel-person .person-bio { display: none; }
  #videoCarousel .video-carousel .tile-frame { width: 3vw; opacity: 1; border-left: 1px solid #fff; border-right: 1px solid #fff; height: 250px; }
  #videoCarousel .video-carousel .tile-frame .panel-body { min-height: auto; }
  #videoCarousel .video-carousel .active .tile-frame { width: 94vw; margin: 0px; height: 250px; }
  .pagination > li > a, .pagination > li > span { line-height: 24px; width: 24px; padding: 0; }
  .pagination > .next > a, .pagination > .prev > a, .pagination > .pager-first > a, .pagination > .pager-last > a { width: 25px; font-size: 0; position: relative; line-height: 24px; padding: 0; }
  .pagination > .next > a:before, .pagination > .prev > a:before, .pagination > .pager-first > a:before, .pagination > .pager-last > a:before { font-size: 14px; position: absolute; display: block; width: 100%; line-height: 22px; text-align: center; top: 0; left: 0; }
  .pagination > .next > a:before { content: "\203A"; }
  .pagination > .prev > a:before { content: "\2039"; }
  .pagination > .pager-first > a:before { content: "\00ab"; }
  .pagination > .pager-last > a:before { content: "\00bb"; }
  .lp-filter form [type="submit"], .view-filters form [type="submit"] { min-width: 165px; display: block; margin: auto; }
  .lp-filter .form-group.date { width: 100%; }
  .lp-filter .form-group.date .dates-popover { width: 100%; }
  .lp-filter form, .view-filters form { padding: 0; }
  #videoCarousel { margin: 10px auto 10px; }
  #edit-catalogs .form-item { width: 100%; }
  #omega-catalog-form, #omega-catalog-checkout-form { padding: 0 10px; }
  .addressfield-container-inline > div.form-item { width: 100%; }
  #omega-online-workshop-email-reminder { max-width: 320px; padding: 20px 10px; }
  #omega-online-workshop-email-reminder .form-item.form-item-email { display: block; float: none; width: 100%; margin-bottom: 10px; }
  #omega-online-workshop-email-reminder [type="submit"] { width: 100%; float: none; display: block; margin-top: 0px; }
  .view.view-search { padding: 0; }
  .view.view-search .searchZone { margin-top: 0px; margin-bottom: 20px; padding: 20px 10px; display: block; background: #fff; width: auto; margin-left: -10px; margin-right: -10px; }
  .view.view-search .searchZone .fa { font-size: 14px; margin-right: 15px; }
  .view.view-search .searchZone input { font-size: 14px; width: calc(100% - 35px); }
  .view.view-search .searchZone input::-webkit-input-placeholder { font-size: 14px; }
  .view.view-search .searchZone input:-moz-placeholder { ffont-size: 14px; }
  .view.view-search .searchZone input::-moz-placeholder { font-size: 14px; }
  .view.view-search .searchZone input:-ms-input-placeholder { font-size: 14px; }
  li.search-tile { height: auto; }
  li.search-tile .tile-content, li.search-tile .tile-image { float: none; width: 100%; }
  li.search-tile .tile-image { height: 100px; }
  li.search-tile .tile-image img { width: 100%; height: auto; max-height: none !important; }
  li.search-tile .tile-content .title { text-overflow: none; white-space: normal; overflow: visible; font-size: 18px; }
  li.search-tile .tile-content .tile-text { display: none; }
  li.search-tile .tile-content .bottom-info { position: relative; bottom: auto; }
  li.search-tile .tile-content .bottom-info .featured { font-size: 14px; }
  #views-exposed-form-search-search-page .lp-tabs, .profile-page .user-tiles .lp-tabs { margin-top: 20px; margin-bottom: 20px; min-height: 40px; }
  #views-exposed-form-search-search-page .lp-tabs .nav-tabs, .profile-page .user-tiles .lp-tabs .nav-tabs { background: #fff; -webkit-transition: all 0.3s ease-in-out; transition: all 0.3s ease-in-out; position: absolute; top: 0; left: 10px; z-index: 10; width: 100%; max-width: 300px; border: 1px solid #C2C2C2; display: inline-block; }
  #views-exposed-form-search-search-page .lp-tabs .nav-tabs > li, .profile-page .user-tiles .lp-tabs .nav-tabs > li { overflow: hidden; display: block; position: absolute; opacity: 0; top: 0; pointer-events: none; width: 100%; }
  #views-exposed-form-search-search-page .lp-tabs .nav-tabs > li.active, .profile-page .user-tiles .lp-tabs .nav-tabs > li.active { height: auto; opacity: 1; position: relative; pointer-events: auto; }
  #views-exposed-form-search-search-page .lp-tabs .nav-tabs > li.active a, .profile-page .user-tiles .lp-tabs .nav-tabs > li.active a { border: 0; white-space: nowrap; padding-right: 25px; text-overflow: ellipsis; max-width: 100%; overflow: hidden; pointer-events: none; }
  #views-exposed-form-search-search-page .lp-tabs .nav-tabs > li a, .profile-page .user-tiles .lp-tabs .nav-tabs > li a { color: #575757; text-transform: capitalize; text-align: left; font-size: 14px; padding: 10px; white-space: nowrap; padding-right: 25px; text-overflow: ellipsis; overflow: hidden; text-align: center; }
  #views-exposed-form-search-search-page .lp-tabs .nav-tabs.open, .profile-page .user-tiles .lp-tabs .nav-tabs.open { z-index: 2000; }
  #views-exposed-form-search-search-page .lp-tabs .nav-tabs.open li, .profile-page .user-tiles .lp-tabs .nav-tabs.open li { position: relative; opacity: 1; pointer-events: auto; }
  #views-exposed-form-search-search-page .lp-tabs .nav-tabs.open:after, .profile-page .user-tiles .lp-tabs .nav-tabs.open:after { -webkit-transform: rotate(-180deg); -ms-transform: rotate(-180deg); transform: rotate(-180deg); }
  #views-exposed-form-search-search-page .lp-tabs .nav-tabs:after, .profile-page .user-tiles .lp-tabs .nav-tabs:after { content: "\f107"; font-family: "FontAwesome"; position: absolute; right: 10px; top: 10px; display: block; color: #fff; background: #0EA9A7; font-size: 18px; -webkit-transition: all 0.3s ease; transition: all 0.3s ease; width: 20px; height: 20px; border-radius: 50%; line-height: 1.2; }
  .profile-page .user-details .user-name { font-size: 35px; margin-top: 20px; }
  .profile-page .user-details .user-bttons-group { margin: 20px 0; }
  #alert .container { width: 100%; padding: 0; }
  #block-omega-donation-omega-donation-multistep-form { padding: 10px; }
  #block-omega-donation-omega-donation-multistep-form .wizard-trail { padding-bottom: 20px; margin-bottom: 20px; max-width: 100%; }
  #block-omega-donation-omega-donation-multistep-form .wizard-trail span { padding: 0; font-size: 12px; }
  #block-omega-donation-omega-donation-multistep-form .wizard-trail span:before { font-size: 14px; width: 20px; height: 20px; line-height: 18px; }
  #block-omega-donation-omega-donation-multistep-form .form-actions { text-align: left; }
  #block-omega-donation-omega-donation-multistep-form .form-actions [type="submit"] { min-width: 130px; margin: 2px; }
  #block-omega-donation-omega-donation-multistep-form .form-actions #edit-return { margin-top: 20px; } }
@media (min-width: 600px) and (max-width: 767px) { #hero #homeCarousel { height: 380px; }
  .campus .section-title { padding-top: 50px; padding-bottom: 30px; padding-left: calc((100% - 320px)/2); padding-right: calc((100% - 320px)/2); }
  .campus .section-title:before { left: calc((100% - 320px)/2); }
  .campus .section-subtitle { padding-left: calc((100% - 320px)/2); padding-right: calc((100% - 320px)/2); max-width: 100%; }
  .campus .campus-tiles li { padding: 10px 0; }
  .quote-section #quoteCarousel .item { background-position: right -300px top !important; } }
@media (min-width: 768px) and (max-width: 991px) { .navbar-right { float: right !important; margin-right: 0px; }
  .navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand { margin-left: 0px; }
  nav.navbar .dropdown-menu .title { font-size: 19px; }
  nav.navbar #mainMenu ul.nav-top .social-block.open .dropdown-menu { display: block; left: auto; right: 0; -webkit-transform: translateX(0); -ms-transform: translateX(0); transform: translateX(0); }
  nav.navbar #mainMenu .yamm-content.container > .row { margin: 0; }
  nav.navbar .dropdown-menu .sublist li { margin-bottom: 0px; display: block; width: 100%; position: relative; font-size: 0; }
  nav.navbar .dropdown-menu .sublist li a { display: inline-block; width: 100%; text-decoration: none; line-height: inherit; position: relative; padding: 0; height: 40px; margin-bottom: 10px; font-size: 14px; }
  nav.navbar .dropdown-menu .tow-col-list.sublist li a { height: 40px; }
  .panel.tile .tile-link { height: 100%; }
  .panel.tile.panel-category .panel-body .category h1 a { font-size: 18px; }
  .panel.tile.panel-idea .panel-body { padding: 10px; }
  .panel.tile.panel-idea .panel-body .person { width: 100%; overflow: hidden; }
  .panel.tile.panel-idea .panel-body .person ul { white-space: nowrap; }
  .panel.tile.panel-idea .panel-body .duration-date { bottom: 5px; }
  .panel.tile.panel-workshop .panel-body .title h1, .panel.tile.panel-learn .panel-body .title h1, .panel.tile.panel-collection .panel-body .title h1, .panel.tile.panel-general-purpose .panel-body .title h1, .panel.tile.panel-idea .panel-body .title h1, .panel.tile.panel-category .panel-body .title h1 { font-size: 16px; }
  .panel.tile.panel-workshop .panel-body .person .person-images li, .panel.tile.panel-learn .panel-body .person .person-images li, .panel.tile.panel-collection .panel-body .person .person-images li, .panel.tile.panel-general-purpose .panel-body .person .person-images li, .panel.tile.panel-idea .panel-body .person .person-images li, .panel.tile.panel-category .panel-body .person .person-images li { width: 40px; height: 40px; margin-right: 8px; }
  .panel.tile.panel-workshop .panel-body .person .person-images li .more .fa, .panel.tile.panel-learn .panel-body .person .person-images li .more .fa, .panel.tile.panel-collection .panel-body .person .person-images li .more .fa, .panel.tile.panel-general-purpose .panel-body .person .person-images li .more .fa, .panel.tile.panel-idea .panel-body .person .person-images li .more .fa, .panel.tile.panel-category .panel-body .person .person-images li .more .fa { line-height: 40px; }
  .panel.tile.panel-workshop .panel-body .person .person-names, .panel.tile.panel-learn .panel-body .person .person-names, .panel.tile.panel-collection .panel-body .person .person-names, .panel.tile.panel-general-purpose .panel-body .person .person-names, .panel.tile.panel-idea .panel-body .person .person-names, .panel.tile.panel-category .panel-body .person .person-names { white-space: nowrap; overflow: hidden; padding-right: 10px; }
  .panel.tile.panel-workshop .panel-body .person .person-names li, .panel.tile.panel-learn .panel-body .person .person-names li, .panel.tile.panel-collection .panel-body .person .person-names li, .panel.tile.panel-general-purpose .panel-body .person .person-names li, .panel.tile.panel-idea .panel-body .person .person-names li, .panel.tile.panel-category .panel-body .person .person-names li { font-size: 11px; }
  .panel.tile.panel-workshop .panel-body .date-location, .panel.tile.panel-learn .panel-body .date-location, .panel.tile.panel-collection .panel-body .date-location, .panel.tile.panel-general-purpose .panel-body .date-location, .panel.tile.panel-idea .panel-body .date-location, .panel.tile.panel-category .panel-body .date-location { bottom: 23px; }
  .panel.tile.panel-workshop .panel-body .date-location ul, .panel.tile.panel-learn .panel-body .date-location ul, .panel.tile.panel-collection .panel-body .date-location ul, .panel.tile.panel-general-purpose .panel-body .date-location ul, .panel.tile.panel-idea .panel-body .date-location ul, .panel.tile.panel-category .panel-body .date-location ul { white-space: nowrap; text-overflow: ellipsis; overflow: hidden; width: 100%; }
  .panel.tile.panel-workshop .panel-body .date-location ul li em, .panel.tile.panel-learn .panel-body .date-location ul li em, .panel.tile.panel-collection .panel-body .date-location ul li em, .panel.tile.panel-general-purpose .panel-body .date-location ul li em, .panel.tile.panel-idea .panel-body .date-location ul li em, .panel.tile.panel-category .panel-body .date-location ul li em { font-size: 11px; }
  .panel.tile.panel-workshop .panel-footer.open .expanded-tile-content .text-block, .panel.tile.panel-learn .panel-footer.open .expanded-tile-content .text-block, .panel.tile.panel-collection .panel-footer.open .expanded-tile-content .text-block, .panel.tile.panel-general-purpose .panel-footer.open .expanded-tile-content .text-block, .panel.tile.panel-idea .panel-footer.open .expanded-tile-content .text-block, .panel.tile.panel-category .panel-footer.open .expanded-tile-content .text-block { overflow: hidden; font-size: 12px; line-height: 1.2; display: block; max-height: 160px; }
  .panel.tile.panel-idea .panel-body .title h1 { max-height: 50px; font-size: 16px; line-height: 16px; }
  .panel.tile.panel-person .panel-body .person-image { max-width: 100px; }
  .panel.tile.panel-person .panel-body .person-bio { width: calc(100% - 100px); }
  .panel.tile.panel-person .panel-body .person-bio .person-name { line-height: 1; }
  .panel.tile.multipurpose[class*="panel-"] .tile-link { height: 100%; }
  .quote-section #quoteCarousel .item { background-position: right -400px top !important; }
  .quote-section #quoteCarousel .quote-text { font-size: 26px; }
  .quote-section #quoteCarousel .author { left: 10px; }
  .women-leadership { max-height: 750px; }
  .women-leadership .section-title { font-size: 38px; }
  .campus .section-title { font-size: 38px; }
  #footer .webform-client-form legend { margin-bottom: 10px; }
  #footer .webform-client-form .form-actions { width: 95px; }
  #footer .webform-client-form .form-actions .btn { min-width: inherit; width: 100%; }
  #mainContent.article .article-body, #mainContent.video .article-body, #mainContent.audio .article-body, #mainContent.collections .article-body, #mainContent.fancy-page .article-body, #mainContent.simple-page .article-body, #mainContent.workshop-page .article-body { padding: 20px 20px 0; border-bottom: none; }
  #mainContent.article .article-body .field-name-field-article.field-type-text-with-summary blockquote, #mainContent.video .article-body .field-name-field-article.field-type-text-with-summary blockquote, #mainContent.audio .article-body .field-name-field-article.field-type-text-with-summary blockquote, #mainContent.collections .article-body .field-name-field-article.field-type-text-with-summary blockquote, #mainContent.fancy-page .article-body .field-name-field-article.field-type-text-with-summary blockquote, #mainContent.simple-page .article-body .field-name-field-article.field-type-text-with-summary blockquote, #mainContent.workshop-page .article-body .field-name-field-article.field-type-text-with-summary blockquote { max-width: 250px; }
  #mainContent.article .discover-more, #mainContent.video .discover-more, #mainContent.audio .discover-more, #mainContent.collections .discover-more, #mainContent.fancy-page .discover-more, #mainContent.simple-page .discover-more, #mainContent.workshop-page .discover-more { margin-left: -20px; margin-right: -20px; padding: 0 10px 10px 10px; }
  #mainContent.video .carousel-section { margin-left: 10px; margin-right: 10px; }
  #mainContent.video #videoCarousel .video-carousel { height: 305px; }
  #mainContent.video #videoCarousel .video-carousel .video-frame { height: 305px; }
  #mainContent.video #videoCarousel .video-carousel .active .video-frame { width: 375px; height: 305px; }
  #mainContent.simple-page #pageContent .page-body .page-header h1 { font-size: 25px; }
  #mainContent.workshop-page #pageContent .sidebar .side-menu li a { font-size: 15px; }
  #mainContent.workshop-page #pageContent .page-body { padding: 0; }
  #mainContent.workshop-page #pageContent .page-body .panel.tile.panel-workshop .panel-body .person, #mainContent.workshop-page #pageContent .page-body .panel.tile.panel-learn .panel-body .person, #mainContent.workshop-page #pageContent .page-body .panel.tile.panel-collection .panel-body .person { padding: 10px 0 0 0; }
  #mainContent.workshop-page #pageContent .page-body .panel.tile.panel-workshop .panel-body .person ul, #mainContent.workshop-page #pageContent .page-body .panel.tile.panel-learn .panel-body .person ul, #mainContent.workshop-page #pageContent .page-body .panel.tile.panel-collection .panel-body .person ul { margin-bottom: 5px; }
  #mainContent.workshop-page #pageContent .page-body ul { margin-bottom: 5px; }
  #mainContent.workshop-page #pageContent #wsSponsors .sponsor-list { overflow: hidden; }
  #mainContent.workshop-page #pageContent #wsSponsors .sponsor-list li { width: calc(100% / 3); }
  #mainContent.workshop-page #pageContent #wsDiscoverMore { margin-bottom: 0; }
  #mainContent.workshop-page #sideMenu .commerce-add-to-cart [type="submit"] { min-width: 100px; }
  #hero.article .article-info .artile-title { font-size: 35px; }
  #hero.article .article-info .article-subtitle { font-size: 20px; }
  .container { width: 100vw; padding: 0 10px; }
  #videoCarousel .carousel-control { width: calc((100vw - 620px)/2); z-index: 30; height: 200px; margin-top: 50px; }
  #videoCarousel .tile { width: 100%; min-width: 620px; }
  #videoCarousel .tile.panel-idea, #videoCarousel .tile.panel-general-purpose { height: 300px !important; }
  #videoCarousel .tile.panel-person .person-image { width: 50vw; height: 300px; }
  #videoCarousel .tile .tile-link { height: 100%; }
  #videoCarousel .video-carousel .tile-frame { width: calc((100vw - 620px)/2); opacity: 1; border-left: 1px solid #fff; border-right: 1px solid #fff; }
  #videoCarousel .video-carousel .tile-frame .panel-body { min-height: auto; }
  #videoCarousel .video-carousel .active .tile-frame { margin: 0px; }
  .sponsors-page .sponsor-list li a { max-width: calc((768px / 3) - 20px); }
  .filter-results .tags-carousel-wrapper .tags-carousel { max-width: 700px; }
  .page-navbar .page-menu .navbar-right li:last-child ul { left: auto; right: 0; }
  .tile.panel-person .panel-body .person-image img, .tile.panel-person.small .panel-body .person-image img { width: 150px; max-width: 150px; }
  #hero .article-title, #hero .title { font-size: 40px; }
  .lp-filter form *, .view-filters form * { font-size: 14px; }
  #block-omega-donation-omega-donation-multistep-form { padding: 40px; }
  #block-omega-donation-omega-donation-multistep-form .wizard-trail span { padding: 0 20px; } }
@media (min-width: 992px) and (max-width: 1279px) { #videoCarousel .carousel-control { width: calc((100vw - 620px)/2); z-index: 30; height: 100%; margin-top: 0px; }
  #videoCarousel .tile { width: 100%; min-width: 620px; }
  #videoCarousel .tile.panel-idea, #videoCarousel .tile.panel-general-purpose { height: 300px !important; }
  #videoCarousel .tile.panel-person .person-image { width: 50vw; height: 300px; }
  #videoCarousel .video-carousel .tile-frame { width: calc((100vw - 620px)/2); opacity: 0.3; border-left: 1px solid #fff; border-right: 1px solid #fff; }
  #videoCarousel .video-carousel .tile-frame .panel-body { min-height: auto; }
  #videoCarousel .video-carousel .active .tile-frame { margin: 0px; opacity: 1; } }
