.sidebar {
    margin-top: 2px;
    >ul>li,
    .article-share {
        @include add-border(2px, $hairline, top-bottom);
        position: relative;
        padding: 20px 0;
        margin-top: -2px;
        color: $interactiveText;
        .event-title {
            font-size: $articleSidebarEventTitle;
        }
        span {
            padding: 0;
            padding: 0;
        }
    }
    .article-info {
        .article-author {
            font-size: $articleSidebarEventAuthor;
            padding: 5px 0 10px;
            a {
                color: inherit;
            }
        }
        .article-date {
            font-size: $articleSidebarEventDate;
            font-family: $serifFontOnly;
            font-style: italic;
        }
        .type {
            display: block;
        }
        .article-share {
            .social-links {
                margin-bottom: 20px;
            }
        }
    }
    .future-events {
        margin-left: 0;
        margin-right: 0;
        .event-type,
        .event-participants,
        .event-date {
            font-size: $articleSidebarFutureEvent;
            display: block;
            a {
                color: inherit;
            }
        }
        .event-title {
            padding-bottom: 5px;
            font-weight: 400;
            a {
                color: inherit;
            }
        }
        .event-participants {
            padding-bottom: 0px;
            font-family: $serifFontOnly;
            font-style: italic;
        }
        .event-date {
            font-family: $serifFontOnly;
            font-style: italic;
        }
        .event-type {
            padding-bottom: 5px;
        }
        >li {
            @include add-border(2px, $hairline, top-bottom);
            position: relative;
            padding: 20px 0;
            margin-top: -2px;
            color: $interactiveText;
        }
        .panel.tile {
            background-color: transparent;
            border-top: 2px solid #C2C2C2;
            border-bottom: 2px solid #C2C2C2;
            position: relative;
            padding: 20px 0 20px 0;
            color: #575757;
            margin: -2px 0 0 0!important;
            height: auto!important;
            min-height: auto!important;
            a {
                height: 100%;
            }
            .panel-body {
                background: transparent;
                padding: 0;
                color: $interactiveText;
                .content-type {
                    font-size: $articleSidebarFutureEvent;
                    color: $interactiveText;
                }
                .title h1 {
                    padding-bottom: 5px;
                    font-weight: 400;
                    color: $interactiveText;
                    font-size: $articleSidebarEventTitle;
                    letter-spacing: 0px;
                }
                .person {
                    padding: 0;
                    margin-bottom: 0px;
                    .person-names {
                        padding: 0;
                        li {
                            font-size: $articleSidebarFutureEvent;
                            font-family: $serifFontOnly;
                            font-style: italic;
                            a {
                                color: $interactiveText!important;
                            }
                        }
                    }
                }
                .date-location {
                    position: relative;
                    bottom: auto;
                    ul li:not(:first-child) {
                        display: none;
                    }
                    em {
                        font-size: $articleSidebarFutureEvent;
                    }
                }
            }
            .favourite,
            .panel-footer,
            .panel-body .person .person-images {
                display: none;
            }
        }
    }
}

#page-content {
    .carousel-section {
        .section-title {
            margin-bottom: 0;
        }
    }
}

.pane-node-field-intro-blurb,
.article-intro,
.field-name-field-description .field-item {
    font-size: $articleIntro;
    display: block;
    letter-spacing: -0.2px;
    color: $interactiveText;
    font-family: $serifFontOnly;
    font-style: italic;
    @extend .bottom-bar-left-teal;
    p,
    em {
        font-family: $serifFontOnly;
        font-size: $articleIntro;
        margin-bottom: 0!important;
    }
    a {
        color: $cta!important;
    }
    .pane-node-field-intro-blurb {
        padding: 0;
        margin: 0;
        &:before {
            display: none;
            padding: 0;
            margin: 0;
        }
    }
}

.article-text {
    display: block;
}

.article-text,
.field-name-field-article.field-type-text-with-summary p,
.field-items p {
    color: $bodyText;
    font-size: $articleBodyText;
    margin-bottom: 30px;
    em {
        strong {
            font-weight: 700;
        }
        a {
            color: $cta;
        }
    }
}

#mainContent {
    padding: 40px 0;
    &.landingpage,
    &.fancy-page {
        padding-top: 0;
    }
}

#mainContent.article {
    .article-body {
        background: #fff;
        padding: 30px 40px 30px;
        &:before,
        &:after {
            content: " ";
            display: table;
        }
        &:after {
            clear: both;
        }
    }
}

.field {
    ul {
        margin-bottom: 30px;
        li {
            color: $bodyText;
            font-size: $articleBodyText;
        }
    }
}

aside {
    float: right;
    margin-left: 30px;
    @include add-border(2px, $cta, all);
    padding: 30px 30px 50px 30px;
    max-width: 300px;
    width: 100%;
    position: relative;
    background: #fff;
    letter-spacing: -0.3px;
    margin-top: 25px;
    p {
        margin-bottom: 0;
    }
    .quote-icon,
    &:before {
        position: absolute;
        top: 0;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        background: $cta;
        border-radius: 50%;
        display: block;
        width: 50px;
        height: 50px;
        text-align: center;
        color: $fieldText;
        font-size: 50px;
        font-family: "Times New Roman", serif;
        vertical-align: middle;
        letter-spacing: -2px;
    }
    &:before {
        content: "\201C";
    }
    .quote {
        font-size: $articleQuote;
        color: $interactiveText;
        padding-bottom: 10px;
    }
    .quote-author,
    .quote-author-profession {
        font-size: $articleQuoteAuthor;
        color: $interactiveText;
    }
    .social-links {
        padding-top: 10px;
    }
}

aside.attribution {
    font-size: 12px;
    font-style: italic;
    &:before {
        font-style: normal;
    }
}

blockquote {
    margin-left: 10px;
    font-style: italic;
    border-left: 2px solid $hairline;
    font-family: $serifFontOnly;
    p {
        font-family: $serifFontOnly;
        margin-bottom: 5px!important;
    }
}

.carousel-section {
    margin-top: 20px;
    .carousel {
        background: #fff;
        margin-top: 20px;
        margin-bottom: 40px;
    }
    .dark-bg {
        padding: 20px 0;
    }
    .section-title {
        font-size: $articleCarouselTitle;
        padding: 20px 0;
        margin-bottom: 0;
    }
    .text-block {
        padding: 0 20px;
        .description {
            font-size: $articleCarouselText;
        }
    }
    .author {
        font-size: $articleCarouselAuthor;
        padding-bottom: 5px;
    }
    .date {
        font-size: $articleCarouselDate;
        padding-bottom: 25px;
    }
    .carousel-indicators {
        bottom: -30px;
        li {
            display: inline-block;
            border: none;
            border-radius: 50%;
            background-color: $lightBg;
            &.active {
                margin: 1px;
                width: 10px;
                height: 10px;
                background-color: $cta;
            }
        }
    }
    .carousel-control {
        opacity: 1;
        width: 10%;
        &:before {
            content: "";
            width: 30px;
            height: 30px;
            border-radius: 50%;
            position: absolute;
            top: 50%;
            left: 50%;
            -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            background: $cta;
        }
        &:after {
            position: absolute;
            top: 50%;
            left: 50%;
            -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            display: block;
        }
        &.left:after {
            content: "\f104";
            font-family: "FontAwesome";
        }
        &.right:after {
            content: "\f105";
            font-family: "FontAwesome";
            margin-left: 2px;
        }
    }
}

.discover-more {
    margin-left: -40px;
    margin-right: -40px;
    background: #ececec;
    padding: 0px 30px 40px;
    padding-top: 40px;
    .section-title {
        padding-left: 10px;
        padding-top: 40px;
        font-size: 24px;
    }
    .tiles-grid {
        margin: 0;
    }
    .related {
        padding-bottom: 25px;
        .related-tiles {
            width: calc(100% - 20px);
            border-bottom: 1px solid $hairline;
            margin-bottom: 10px;
            padding: 10px 0;
            font-size: 18px;
            color: $interactiveText;
            position: relative;
            margin-left: 10px;
        }
    }
}

.article-copyright {
    font-size: 11px;
    display: block;
    margin-bottom: 0;
    padding: 10px 0;
}
