.audio-player,
.audio-player div,
.audio-player h1,
.audio-player a,
.audio-player img,
.audio-player span,
.audio-player button {
	margin: 0;
	padding: 0;
	border: none;
	outline: none;
}

div.audio-player {
	position: relative;
	width: 100%;
	height: 60px!important;
	background: transparent;
	border-radius: 3px;
	margin-top: 30px;
}

/* Title */

.audio-player h1 {
	position: absolute;
	top: 37px;
	left: 165px;
	font-family: Helvetica, Arial, sans-serif;
	font-weight: bold;
	font-size: 14px;
	color: #ececec;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, .5);
}

/* Cover */

.audio-player .cover {
	position: absolute;
	top: 0;
	left: 0;
}

/* Buttons */

.mejs-controls .mejs-button button {
	cursor: pointer;
	display: block;
	position: absolute;
	text-indent: -9999px;
}

/* Play & Pause */

.mejs-controls .mejs-play button,
.mejs-controls .mejs-pause button {
	width: 60px;
	height: 60px;
	top: 0;
	left: 0;
	background: transparent url(../images/play-pause.png) 0 0;
}

.mejs-controls .mejs-pause button {
	background-position: 0 -60px;
}

/* Mute & Unmute */

.mejs-controls .mejs-mute button,
.mejs-controls .mejs-unmute button {
	width: 14px;
	height: 12px;
	top: 70px;
	left: 140px;
	background: transparent url(../images/mute-unmute.png) 0 0;
}

.mejs-controls .mejs-unmute button {
	background-position: 0 -12px;
}

/* Volume Slider */

.mejs-controls div.mejs-horizontal-volume-slider {
	position: absolute;
	top: 71px;
	left: 165px;
	cursor: pointer;
}

.mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-total {
	width: 200px;
	height: 8px;
	background: #212227;
	box-shadow: inset 0px 1px 0px rgba(0, 0, 0, .3), 0px 1px 0px rgba(255, 255, 255, .25);
	border-radius: 6px;
}

.mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-current {
	position: absolute;
	width: 0;
	height: 6px;
	top: 1px;
	left: 1px;
	background: url(../images/volume-bar.png) repeat-x;
	border-radius: 6px;
}


/* Progress Slider */

.mejs-controls div.mejs-time-rail {
	width: 100%;
}

.mejs-controls .mejs-time-rail span {
	position: absolute;
	display: block;
	width: 400px;
	height: 2px;
	left: 0;
	top: 0;
	cursor: pointer;
	border-radius: 0px 0px 2px 2px;
}

.mejs-controls .mejs-time-rail span.mejs-time-total {
	left: 80px;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

.mejs-controls .mejs-time-rail .mejs-time-total {
	background: #999999;
	width: calc(100% - 40px)!important;
}

.mejs-controls .mejs-time-rail .mejs-time-loaded {
	width: 0;
	background: #999999;
}

.mejs-controls .mejs-time-rail .mejs-time-current {
	width: 0;
	background: #fff;
}


/* Volume Slider & Progress Bar Handle */

.mejs-controls .mejs-time-rail .mejs-time-handle,
.mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-handle {
	position: absolute;
	display: block;
	width: 3px;
	height: 10px;
	top: -4px;
	border-radius: 3px;
	background: #fff;
}

.mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-handle {
	top: -3px;
}


/* Time Float Box */

.mejs-controls .mejs-time-rail .mejs-time-float {
	position: absolute;
	display: none;
	width: 33px;
	height: 23px;
	top: -26px;
	margin-left: -17px;
	background: url(../images/time-box.png);
}

.mejs-controls .mejs-time-rail .mejs-time-float-current {
	width: 33px;
	display: block;
	left: 0;
	top: 4px;
	font-size: 10px;
	font-weight: bold;
	color: #666666;
	text-align: center;
}

#mep_0 {
	height: 60px!important;
	position: relative;
	width: calc(100% - 40px)!important;
}