.bootstrap-tagsinput {
	width: 490px;
	background-color: #fff;
	border: 1px solid #ccc;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	display: inline-block;
	padding: 2px 10px;
	color: $interactiveText;
	vertical-align: middle;
	border-radius: 0px;
	line-height: 38px;
	height: 40px;
	cursor: text;
	text-align: left;
	overflow: hidden;
	white-space: nowrap;
	[type="text"] {
		border: none;
		box-shadow: none;
		outline: none;
		background-color: transparent;
		padding: 0;
		margin: 0;
		width: 100%;
		max-width: inherit;
		font-size: 16px;
		height: 100%;
		position: relative;
	}
	input::-webkit-input-placeholder {
		font-size: 18px!important;
		color: $interactiveText;
		font-weight: 300;
	}
	input:-moz-placeholder {
		font-size: 18px!important;
		color: $interactiveText;
		font-weight: 300;
	}
	input::-moz-placeholder {
		font-size: 18px!important;
		color: $interactiveText;
		font-weight: 300;
	}
	input:-ms-input-placeholder {
		font-size: 18px!important;
		color: $interactiveText;
		font-weight: 300;
	}
	input:focus {
		border: none;
		box-shadow: none;
	}
	.tag {
		margin-right: 5px;
		color: $cta;
		background: #fff;
		font-size: 14px;
		font-weight: 400;
		border: 2px solid $cta;
		padding: 0px 4px;
		display: inline-block;
		line-height: 24px;
		border-radius: 5px;
		[data-role="remove"] {
			margin-left: 8px;
			cursor: pointer;
			&:after {
				content: "\f00d";
				font-family: "FontAwesome";
				padding: 0px 2px;
			}
			&:hover {
				box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
			}
			&:hover:active {
				box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
			}
		}
	}
}

.landingpage {
	.bootstrap-tagsinput {
		.tag {
			color: $otherInitiative;
			border: 2px solid $otherInitiative;
		}
	}
	&.owlc {
		.bootstrap-tagsinput {
			.tag {
				color: $owlc;
				border: 2px solid $owlc;
			}
		}
	}
	&.ocsl {
		.bootstrap-tagsinput {
			.tag {
				color: $ocsl;
				border: 2px solid $ocsl;
			}
		}
	}
}

.discover {
	.bootstrap-tagsinput {
		.tag {
			color: $cta;
			border: 2px solid $cta;
		}
	}
}

[id*="SearchForm"] {
	input::-webkit-input-placeholder {
		font-size: 18px!important;
		color: $interactiveText;
		font-weight: 300;
	}
	input:-moz-placeholder {
		font-size: 18px!important;
		color: $interactiveText;
		font-weight: 300;
	}
	input::-moz-placeholder {
		font-size: 18px!important;
		color: $interactiveText;
		font-weight: 300;
	}
	input:-ms-input-placeholder {
		font-size: 18px!important;
		color: $interactiveText;
		font-weight: 300;
	}
	input:focus {
		border: none;
		box-shadow: none;
	}
	[type="text"] {
		width: 490px;
		background-color: #fff;
		border: 1px solid #ccc;
		box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
		display: inline-block;
		padding: 2px 10px;
		color: $interactiveText;
		vertical-align: middle;
		border-radius: 0px;
		line-height: 38px;
		height: 40px;
		cursor: text;
		text-align: left;
		overflow: hidden;
		white-space: nowrap; 
	}
	[type="submit"] {
		margin-left: -2px;
	}
}
