.campus {
	background-size: auto 1039px!important;
	background-position: center bottom!important;
	background-repeat: no-repeat;
	padding: 40px 0;
	min-height: 900px;
	position: relative;
	&:before {
		content: "";
		position: absolute;
		display: block;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: -webkit-gradient(linear, left top, left bottom, color-stop(25%, #fff), color-stop(25%, #000));
		background: -webkit-linear-gradient(#fff 25%, #000);
		background: linear-gradient(#fff 25%, #000);
		z-index: 1;
		mix-blend-mode: lighten;
	}
	.container {
		z-index: 2;
		position: relative;
	}
	.section-title {
		font-size: $homeCampusTitle;
		color: $headerText;
		max-width: $homeCampusTitlewidth;
		font-family: "Graphik Web";
		font-weight: 500;
	}
	.section-subtitle {
		position: relative;
		margin-top: 30px;
		font-size: $homeCampusSubtitle;
		color: $interactiveText;
		max-width: $homeCampusSubtitlewidth;
	}
	.campus-tiles {
		margin-top: 75px;
		text-align: center;
		position: relative;
		font-size: 0;
		li {
			height: $initiativeTileHeight;
			width: calc(100% / 3);
			position: relative;
			padding: 10px;
			a {
				width: 100%;
				height: 100%;
				background: rgba(141, 165, 208, 0.7);
				position: relative;
			}
			.initiative {
				font-size: $homeCampusInitiative;
				position: absolute;
				top: 50%;
				text-align: center;
				-webkit-transform: translateY(-50%);
				-ms-transform: translateY(-50%);
				transform: translateY(-50%);
				display: block;
				width: 100%;
				color: $fieldText;
				font-weight: 300;
			}
		}
	}
}

//fallback effect for IE
.gecko .campus:before {
	background: -webkit-gradient(linear, left top, left bottom, color-stop(25%, #fff), color-stop(25%, transparent));
	background: -webkit-linear-gradient(#fff 25%, transparent);
	background: linear-gradient(#fff 25%, transparent);
}
