#edit-catalogs {
	display: inline;
	position: relative;
	height: auto;
	.form-item {
		width: calc(100% / 3);
		display: inline-block;
		margin-bottom: 40px;
		vertical-align: top;
	}
	.checkbox label:before {
		background: #ffffff;
		border-radius: 5px;
		border: solid 2px $cta;
	}
}

#omega-catalog-form #edit-submit {
	clear: both;
	display: block;
}

#omega-email-list-form .form-type-select:not(.form-item-sort-bef-combine):after,
#omega-catalog-checkout-form .form-type-select:not(.form-item-sort-bef-combine):after {
	top: 28px;
}

.panel-default>.panel-heading {
	color: $cta;
	font-weight: 400;
	background-color: #ffffff;
	border-color: $cta;
}


.view-dynamic-collection  {
	padding-bottom: 20px;
}
