#mainContent.collections {
	@extend #mainContent.article;
	.article-body {
		border-bottom-color: #fff;
		.discover-more {
			margin-right: -30px;
			margin-left: -30px;
		}
	}
	.article-body .article-intro,
	.article-body .field-name-field-description .field-item {
		padding-bottom: 30px;
		border-bottom: 2px solid $hairline;
		&:before {
			display: none;
		}
	}
	.collections-list {
		>li {
			border-bottom: 2px solid $hairline;
			padding: 40px 0;
		}
		padding-top: 30px;
		.panel {
			width: $collectionsPagePanel;
			margin: 0 0 0 10px!important;
		}
		.tiles-grid {
			float: right;
			margin: 0;
		}
		.item-content {
			min-height: $collectionsPagePanel;
			.title {
				font-size: $collectionsItemTitle;
				letter-spacing: -1px;
				color: $interactiveText;
			}
			.description {
				font-size: $collectionsItemDescription;
				color: $bodyText;
				font-weight: 300;
			}
		}
	}
	.pane-dynamic-collection-dynamic-collection {
		background: #fff;
		clear: both;
		padding-top: 0;
		padding-bottom: 0;
		margin: 0;
		.view-dynamic-collection .view-content {
			ul > div[class*="row"] {
				padding: 20px 0;
				border-bottom: 2px solid $hairline;
				height: 360px;
				&:last-child {
					border: none
				}
				div[class*="col-"] {
					height: 100%;
				}
				.tile-content {
					padding: 10px 0;
					width: 100%;
					height: 100%;
					position: relative;
					.content-type {
						font-size: $collectionsDiscoverTileType;
						color: $interactiveText;
						.fa {
							position: relative;
							font-size: 18px;
							color: $fieldText;
							&:before {
								content: "";
								background: url('../images/icons/play_icon_grey.png') 50% 50% no-repeat;
								background-size: contain;
								display: inline-block;
								width: 16px;
								height: 16px;
								vertical-align: bottom;
							}
						}
					}
					.title {
						padding: 10px 0px;
						font-size: $collectionsDiscoverTileTitle;
						line-height: 1.2;
						letter-spacing: -1px;
						a {
							color: inherit;
						}
					}
					.tile-text {
						color: $bodyText;
						font-size: $collectionsDiscoverTileText;
						line-height: $collectionsDiscoverTileText + 2;
						letter-spacing: -0.3px;
					}
					.bottom-info {
						position: absolute;
						bottom: 10px;
						.featured {
							font-size: $collectionsDiscoverTileFeatured;
							color: $interactiveText;
							letter-spacing: -0.3px;
							line-height: $collectionsDiscoverTileFeatured +2;
							font-family: $serifFontOnly;
							font-style: italic;
							display: block;
						}
					}
				}
			}
		}
	}
}
