//colorbox content image
#cboxLoadedContent img {
    width: 100%;
    height: auto;
}

#colorbox {
    background: transparent;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: 0;
}

//our campus - hotels
.fancy-page #pageContent .page-body {
    #bed-breakfast-lodgings,
    #hotels-motels,
    #rv-camping-areas,
    div[id*="faq"],
    #cancellation-refund-policy,
    #omega-caf,
    #omega-store,
    #omega-wellness-center {
        margin-top: 20px;
        p,
        a,
        span,
        strong {
            font-size: 16px;
            margin-bottom: 20px;
        }
        em {
            font-size: 14px;
        }
        ul {
            margin-bottom: 20px;
            li {
                font-size: 16px;
            }
        }
        *:last-child {
            margin-bottom: 0;
        }
    }
    div[id*="faq"]:first-child {
        margin-top: 0;
    }
    div[id*="faq"]:not(:first-child) {
        margin-top: 40px;
    }
    div[id*="faq"] h2 {
        font-weight: 700;
    }
    #hotels-motels ul li {
        padding-left: 0;
        &:before {
            display: none;
        }
    }
    #rv-camping-areas em {
        font-size: 14px;
    }
    #guest-services,
    #tours {
        p,
        a,
        span,
        em,
        strong {
            font-size: 16px;
            margin-bottom: 20px;
        }
        ul {
            padding-left: 40px;
            margin-bottom: 20px;
            li {
                font-size: 14px;
                &:before {
                    top: 9px;
                }
            }
        }
        > *:last-child {
            margin-bottom: 0;
        }
    }
}

.field-item > *:last-child {
    margin-bottom: 0!important;
}

#mainContent.sponsors-page {
    padding-bottom: 20px;
}

#transportation-services table {
    width: 100%;
    table-layout: fixed;
}

#sample-schedule {
    table {
        width: 100%!important;
        td,
        th {
            padding: 5px;
        }
    }
}

#daily-open-classes-schedule {
    table {
        width: 100%!important;
        td,
        th {
            padding: 5px;
        }
        td:first-child,
        th:first-child {
            width: 30%;
        }
    }
}

