.discover {
	@extend .landingpage;
	.lp-tabs {
		.nav-tabs>li.active>a,
		.nav-tabs>li.active>a:hover,
		.nav-tabs>li.active>a:focus {
			border-bottom-color: $cta;
		}
	}
	padding-top: 0;
	nav.navbar.page-navbar {
		background: $cta;
		ul {
			>li {
				&:focus,
				&:hover {
					background: $cta;
				}
				&:active {
					background: $cta;
				}
				.dropdown-submenu {
					a {
						color: $cta;
						outline: 0;
					}
				}
				.dropdown-submenu {
					&:open {
						background: $cta;
					}
				}
			}
		}
	}
	.hero-content {
		.btn {
			background: $cta;
		}
	}
	.lp-logged,
	.lp-not-logged {
		.fa-stack {
			.fa-circle {
				color: $cta;
			}
		}
	}
	.lp-not-logged {
		[type="submit"] {
			background: $cta;
			&:focus,
			&:hover {
				background: darken($cta, 5%);
			}
			&:active {
				background: darken($cta, 5%);
			}
		}
	}
	.filterModal {
		.modal-footer {
			text-align: center;
			padding-top: 0;
			border-top: none;
			.reset-btn[type="button"] {
				float: none;
				display: block;
				background: transparent;
				color: $interactiveText;
				margin-top: 10px;
				margin: auto;
				outline: 0;
				&:focus,
				&:hover {
					background: transparent;
				}
				&:active {
					background: transparent;
				}
			}
			[type="submit"],
			[type="button"] {
				margin: auto;
				display: block;
				background: $cta;
				outline: 0;
				&:focus,
				&:hover {
					background: darken($cta, 5%);
				}
				&:active {
					background: darken($cta, 5%);
				}
			}
		}
		.modal-body {
			.panel-heading {
				a {
					color: $interactiveText;
					&:hover {
						color: $cta;
					}
					&.collapsed {
						&:hover {
							color: $cta;
						}
					}
					&:after {
						background: $cta;
					}
				}
			}
			.panel-body {
				.all {
					&.active {
						color: $cta;
					}
				}
				.suboptions-list {
					a {
						&:hover {
							color: $cta;
						}
						&.active {
							color: $cta;
						}
					}
				}
			}
		}
		.modal-header {
			.modal-header .close {
				color: $cta;
			}
		}
	}
	.sponsors {
		.section-title-big {
			&:before {
				background: $cta;
			}
		}
	}
	.lp-filter {
		.form-group {
			[type="submit"] {
				left: -4px;
			}
		}
		form [type="submit"] {
			background: $cta;
			min-width: 100px;
			font-size: 14px;
			&:focus,
			&:hover {
				background: darken($cta, 5%);
			}
			&:active {
				background: darken($cta, 5%);
			}
		}
		.filter-btn {
			color: $cta;
			font-size: 16px;
			&:focus,
			&:hover {
				color: $cta;
			}
			&:active {
				color: $cta;
			}
		}
		select {
			height: 40px;
			padding-right: 43px;
			cursor: pointer;
			width: 100%;
			font-size: 14px;
			font-weight: 300;
			font-family: $baseFont;
			-webkit-appearance: none;
			option {
				line-height: 1.5;
				font-weight: 300;
			}
		}
		.form-type-select {
			position: relative;
			cursor: pointer;
			max-width: 200px;
			margin-left: 3px;
			font-weight: 300;
		}
		.form-type-select:after {
			content: "\f0d7";
			font-family: "FontAwesome";
			display: block;
			position: absolute;
			top: 1px;
			right: 1px;
			color: #fff;
			width: 38px;
			height: 38px;
			background: $cta;
			pointer-events: none;
			font-size: 18px;
			line-height: 38px;
			text-align: center;
		}
		.bootstrap-tagsinput {
			max-width: 300px;
		}
	}
	#videoCarousel {
		.carousel-control {
			&:before {
				background: $cta;
			}
		}
	}
	.dates-popover {
		background: $cta;
		min-width: 100px;
		font-size: 16px;
		span.label {
			font-size: 16px!important;
			top: 0px;
			padding-top: 0;
			padding-bottom: 0;
			line-height: 40px;
		}
	}
	&.owlc {
		.nav-tabs>li.active>a,
		.nav-tabs>li.active>a:hover,
		.nav-tabs>li.active>a:focus {
			border-bottom-color: $owlc;
		}
		.lp-filter {
			form {
				[type="submit"] {
					background: $owlc;
					&:focus,
					&:hover {
						background: darken($owlc, 5%);
					}
					&:active {
						background: darken($owlc, 5%);
					}
				}
			}
			.filter-btn {
				color: $owlc;
				&:focus,
				&:hover {
					color: $owlc;
				}
				&:active {
					color: $owlc;
				}
			}
		}
		.dates-popover {
			background: $owlc;
		}
	}
	&.ocsl {
		.nav-tabs>li.active>a,
		.nav-tabs>li.active>a:hover,
		.nav-tabs>li.active>a:focus {
			border-bottom-color: $ocsl;
		}
		.lp-filter {
			form {
				[type="submit"] {
					background: $ocsl;
					&:focus,
					&:hover {
						background: darken($ocsl, 5%);
					}
					&:active {
						background: darken($ocsl, 5%);
					}
				}
			}
			.filter-btn {
				color: $ocsl;
				&:focus,
				&:hover {
					color: $ocsl;
				}
				&:active {
					color: $ocsl;
				}
			}
		}
		.dates-popover {
			background: $ocsl;
		}
	}
	.tags-carousel-wrapper {
		.tags-carousel {
			ul {
				li {
					a {
						border: 2px solid $cta;
						color: $cta;
					}
				}
			}
		}
		a[class*="tags-carousel-control-"] {
			i {
				background: $cta;
			}
		}
	}
	.clear-filters {
		background: $cta;
	}
}
