#block-omega-donation-omega-donation-multistep-form {
    background: #fff;
    padding: 40px;
    form[id*='omega-donation'] {
        width: 100%;
        position: relative;
        .form-item {
            display: block;
            margin-bottom: 20px;
        }
        textarea {
            max-width: 100%;
        }
    }
    #omega-donation-step-two-form {
        #edit-previous {
            float: left;
            margin-right: 5px;
        }
    }
    .wizard-trail {
        display: block;
        text-align: center;
        font-size: 0;
        padding-bottom: 30px;
        margin-bottom: 30px;
        border-bottom: 1px solid $hairline;
        max-width: 80%;
        margin-left: auto;
        margin-right: auto;
        counter-reset: donation-step;
        span {
            display: inline-block;
            width: calc(100% / 3);
            text-align: center;
            padding: 0 50px;
            font-size: 16px;
            position: relative;
            &:before {
                counter-increment: donation-step;
                content: counter(donation-step);
                display: block;
                font-size: 14px;
                width: 30px;
                height: 30px;
                line-height: 28px;
                border: 1px solid $hairline;
                border-radius: 50%;
                position: relative;
                margin: 0 auto 15px;
            }
            &.wizard-trail-current {
                font-weight: 700;
                &:before {
                    background: $cta;
                    color: #fff;
                    border-color: transparent;
                }
            }
        }
    }
    [class*="donate-form-title"],
    .donation-string h3 {
        font-weight: 700;
        margin-bottom: 20px;
    }
    .commerce-credit-card-expiration {
        width: 100%;
        >.form-item {
            display: inline-block;
            width: 50%;
            float: left;
            .control-label {
                max-height: 19px;
            }
            &:first-child {
                width: calc(50% - 20px);
                margin-right: 20px;
            }
        }
        &::after {
            display: block;
            content: "";
            clear: both;
        }
    }
}
