#omega-online-workshop-email-reminder {
	width: 100%;
	max-width: 960px;
	margin: auto;
	padding: 0px 10px 30px;
	margin-top: 30px;
	position: relative;
	.form-item.form-item-email {
		display: block;
		float: left;
		width: calc(100% - 157px);
	}
	[type="submit"] {
		width: 157px;
		float: left;
		display: block;
		margin-top: 27px;
	}
}
