.fancy-page {
	@extend #mainContent.article;
	padding-top: 0px;
	#pageContent {
		padding-top: 40px;
		.sidebar {
			margin-top: 2px;
			position: relative;
			ul>li>,
			.page-share {
				@include add-border(2px, $hairline, top-bottom);
				position: relative;
				padding: 20px 0;
				margin-top: -2px;
				span {
					padding: 0;
				}
				.social-links {
					.fa-circle {
						color: $otherInitiative;
					}
				}
			}
			.side-menu {
				li {
					a {
						color: $interactiveText;
						display: block;
						padding: 7px; 
						font-size: 16px;
						font-weight: 300;
						-moz-user-select: none;
						-webkit-user-select: none;
						-ms-user-select: none;
						&:hover {
							color: $otherInitiative;
						}
					}
				}
				.nav>li {
					outline: 0;
				}
				.nav>li>a:hover,
				.nav>li>a:focus {
					text-decoration: none;
					background-color: transparent;
					outline: 0;
				}
			}
			ul {
				-webkit-transition: all 0.5s ease-in-out;
				transition: all 0.5s ease-in-out;
				&.affix {
					top: 0px;
				}
			}
		}
		#sideMenu {
			li ul li.active {
				background: #fff;
				cursor: pointer;
				a {
					user-select: none;
					-moz-user-select: none;
					-webkit-user-select: none;
					-ms-user-select: none;
				}
			}
		}
		.page-body {
			background: #fff;
			padding: 30px 40px 0;
			border-bottom: 20px solid #fff;
			p {
				margin-bottom: 20px;
				font-size: 16px;
			}
			ul {
				margin-bottom: 20px;
				padding-left: 40px;
				li {
					font-size: 16px;
				}
			}
			div[id*="tab"]:not(:last-child) {
				border-bottom: 1px solid $hairline;
				margin-bottom: 20px;
			}
			.page-text {
				>p,
				>a,
				>span,
				strong {
					font-size: 16px;
					margin-bottom: 20px;
				}
				>em {
					font-size: 14px;
				}
				> ul {
					margin-bottom: 20px;
					li {
						font-size: 14px;
						margin-bottom: 0;
						&:before {
							top: 7px;
						}
					}
				}
				>*:last-child {
					margin-bottom: 0;
				}
				.our-campus-page-content {
					> ul {
						li {
							font-size: 14px;
						}
					}
				}
				>table {
					width: 100%;
				}
				.tile {
					ul {
						padding-left: 0;
						margin-bottom: 0;
					}
					.expand-button {
						margin-bottom: 0;
					}
				}
				> table {
					margin-bottom: 20px;
					th,
					td {
						vertical-align: top;
						padding: 5px;
						font-size: 16px;
					} 
				}
				>h1,
				>h2,
				>h3,
				>h4,
				>h5,
				>h6 {
					font-weight: 700;
				}
			}
		}
		h1 {
			margin-bottom: 30px;
		}
		h2 {
			margin-bottom: 25px;
		}
		h3 {
			margin-bottom: 20px;
		}
		h4 {
			margin-bottom: 15px;
		}
		h5 {
			margin-bottom: 10px;
		}
		h6 {
			margin-bottom: 5px;
		}
	}
	#hero {
		.orange-bg.transparent {
			background-color: rgba($otherInitiative, 0.8);
		}
	}
	.lp-logged,
	.lp-not-logged {
		background: #fff;
		padding: 20px 0;
		.fa-stack {
			width: 1em;
			margin-left: 5px;
			.fa-circle {
				font-size: 26px;
				color: $otherInitiative;
			}
			.fa-inverse {
				font-size: 22px;
				left: 1px;
				top: -1px;
			}
		}
		label {
			font-size: 18px;
			font-weight: 300;
			color: $interactiveText;
		}
	}
	.lp-logged {
		.view-profile {
			font-size: 16px;
			font-weight: 300;
			letter-spacing: -0.2px;
			color: $interactiveText;
		}
		form {
			text-align: center;
		}
		.form-item-submitted-email-landing-updates {
			display: none;
		}
		.form-actions {
			display: none;
		}
	}
	.lp-not-logged {
		form {
			text-align: center;
		}
		.form-item-submitted-email-landing-updates {
			display: inline-block;
		}
		input.form-control {
			width: 250px;
			height: 40px;
			padding: 10px;
			margin-left: 10px;
			display: inline-block;
			border-radius: 0;
		}
		#edit-actions {
			display: inline-block;
		}
		[type="submit"] {
			outline: 0;
			line-height: 40px;
			position: relative;
			left: -3px;
			top: 1px;
			font-size: 16px;
			background: $otherInitiative;
			&:focus,
			&:hover {
				background: darken($otherInitiative, 5%);
			}
			&:active {
				background: darken($otherInitiative, 5%);
			}
		}
		.log-in {
			margin-top: 0px;
			display: block;
			color: $interactiveText;
			font-size: 18px;
			font-weight: 300;
		}
		.form-item-submitted-checkbox-landing-updates {
			display: none;
		}
		.form-item-submitted-email-landing-updates .control-label .form-required {
			display: none;
		}
	}
}

#mainContent.fancy-page.ocsl {
	nav.navbar.page-navbar {
		background: $ocsl;
		ul {
			li {
				&:focus,
				&:hover {
					background: lighten($ocsl, 5%);
				}
				&:active {
					background: darken($ocsl, 5%);
				}
			}
		}
	}
	#pageContent {
		.sidebar {
			ul>li>,
			.page-share {
				.social-links {
					.fa-circle {
						color: $ocsl;
					}
				}
			}
			.side-menu {
				li {
					a {
						&:hover {
							color: $ocsl;
						}
					}
				}
			}
		}
	}
	#hero {
		.orange-bg.transparent {
			background-color: rgba($ocsl, 0.8);
		}
	}
	.lp-logged,
	.lp-not-logged {
		background: #fff;
		padding: 20px 0;
		.fa-stack {
			width: 1em;
			margin-left: 5px;
			.fa-circle {
				font-size: 26px;
				color: $ocsl;
			}
			.fa-inverse {
				font-size: 22px;
				left: 1px;
				top: -1px;
			}
		}
		label {
			font-size: 18px;
			font-weight: 300;
			color: $interactiveText;
		}
	}
	.lp-logged {
		.view-profile {
			font-size: 16px;
			font-weight: 300;
			letter-spacing: -0.2px;
			color: $interactiveText;
		}
		form {
			text-align: center;
		}
		.form-item-submitted-email-landing-updates {
			display: none;
		}
		.form-actions {
			display: none;
		}
	}
	.lp-not-logged {
		form {
			text-align: center;
		}
		.form-item-submitted-email-landing-updates {
			display: inline-block;
		}
		input.form-control {
			width: 250px;
			height: 40px;
			padding: 10px;
			margin-left: 10px;
			display: inline-block;
			border-radius: 0;
		}
		#edit-actions {
			display: inline-block;
		}
		[type="submit"] {
			outline: 0;
			line-height: 40px;
			position: relative;
			left: -3px;
			font-size: 16px;
			background: $ocsl;
			&:focus,
			&:hover {
				background: darken($ocsl, 5%);
			}
			&:active {
				background: darken($ocsl, 5%);
			}
		}
		.log-in {
			margin-top: 0px;
			display: block;
			color: $interactiveText;
			font-size: 18px;
			font-weight: 300;
		}
		.form-item-submitted-checkbox-landing-updates {
			display: none;
		}
		.form-item-submitted-email-landing-updates .control-label .form-required {
			display: none;
		}
	}
}

#mainContent.fancy-page.other {
	nav.navbar.page-navbar {
		background: $otherInitiative;
		ul {
			li {
				&:focus,
				&:hover {
					background: lighten($otherInitiative, 5%);
				}
				&:active {
					background: darken($otherInitiative, 5%);
				}
			}
		}
	}
	#pageContent {
		.sidebar {
			ul>li>,
			.page-share {
				.social-links {
					.fa-circle {
						color: $otherInitiative;
					}
				}
			}
			.side-menu {
				li {
					a {
						&:hover {
							color: $otherInitiative;
						}
					}
				}
			}
		}
	}
	.social-links {
		.fa-circle {
			color: $otherInitiative;
		}
	}
	#hero {
		.orange-bg.transparent {
			background-color: rgba($otherInitiative, 0.8);
		}
	}
	.lp-logged,
	.lp-not-logged {
		background: #fff;
		padding: 20px 0;
		.fa-stack {
			width: 1em;
			margin-left: 5px;
			.fa-circle {
				font-size: 26px;
				color: $otherInitiative;
			}
			.fa-inverse {
				font-size: 22px;
				left: 1px;
				top: -1px;
			}
		}
		label {
			font-size: 18px;
			font-weight: 300;
			color: $interactiveText;
		}
	}
	.lp-logged {
		.view-profile {
			font-size: 16px;
			font-weight: 300;
			letter-spacing: -0.2px;
			color: $interactiveText;
		}
		form {
			text-align: center;
		}
		.form-item-submitted-email-landing-updates {
			display: none;
		}
		.form-actions {
			display: none;
		}
	}
	.lp-not-logged {
		form {
			text-align: center;
		}
		.form-item-submitted-email-landing-updates {
			display: inline-block;
		}
		input.form-control {
			width: 250px;
			height: 40px;
			padding: 10px;
			margin-left: 10px;
			display: inline-block;
			border-radius: 0;
		}
		#edit-actions {
			display: inline-block;
		}
		[type="submit"] {
			outline: 0;
			line-height: 40px;
			position: relative;
			left: -3px;
			font-size: 16px;
			background: $otherInitiative;
			&:focus,
			&:hover {
				background: darken($otherInitiative, 5%);
			}
			&:active {
				background: darken($otherInitiative, 5%);
			}
		}
		.log-in {
			margin-top: 0px;
			display: block;
			color: $interactiveText;
			font-size: 18px;
			font-weight: 300;
		}
		.form-item-submitted-checkbox-landing-updates {
			display: none;
		}
		.form-item-submitted-email-landing-updates .control-label .form-required {
			display: none;
		}
	}
}

#mainContent.fancy-page.owlc {
	nav.navbar.page-navbar {
		background: $owlc;
		ul {
			li {
				&:focus,
				&:hover {
					background: lighten($owlc, 5%);
				}
				&:active {
					background: darken($owlc, 5%);
				}
			}
		}
	}
	#pageContent {
		.sidebar {
			ul>li>,
			.page-share {
				.social-links {
					.fa-circle {
						color: $owlc;
					}
				}
			}
			.side-menu {
				li {
					a {
						&:hover {
							color: $owlc;
						}
					}
				}
			}
		}
	}
	.social-links {
		.fa-circle {
			color: $owlc;
		}
	}
	#hero {
		.orange-bg.transparent {
			background-color: rgba($owlc, 0.8);
		}
	}
	.lp-logged,
	.lp-not-logged {
		background: #fff;
		padding: 20px 0;
		.fa-stack {
			width: 1em;
			margin-left: 5px;
			.fa-circle {
				font-size: 26px;
				color: $owlc;
			}
			.fa-inverse {
				font-size: 22px;
				left: 1px;
				top: -1px;
			}
		}
		label {
			font-size: 18px;
			font-weight: 300;
			color: $interactiveText;
		}
	}
	.lp-logged {
		.view-profile {
			font-size: 16px;
			font-weight: 300;
			letter-spacing: -0.2px;
			color: $interactiveText;
		}
		form {
			text-align: center;
		}
		.form-item-submitted-email-landing-updates {
			display: none;
		}
		.form-actions {
			display: none;
		}
	}
	.lp-not-logged {
		form {
			text-align: center;
		}
		.form-item-submitted-email-landing-updates {
			display: inline-block;
		}
		input.form-control {
			width: 250px;
			height: 40px;
			padding: 10px;
			margin-left: 10px;
			display: inline-block;
			border-radius: 0;
		}
		#edit-actions {
			display: inline-block;
		}
		[type="submit"] {
			outline: 0;
			line-height: 40px;
			position: relative;
			left: -3px;
			font-size: 16px;
			background: $owlc;
			&:focus,
			&:hover {
				background: darken($owlc, 5%);
			}
			&:active {
				background: darken($owlc, 5%);
			}
		}
		.log-in {
			margin-top: 0px;
			display: block;
			color: $interactiveText;
			font-size: 18px;
			font-weight: 300;
		}
		.form-item-submitted-checkbox-landing-updates {
			display: none;
		}
		.form-item-submitted-email-landing-updates .control-label .form-required {
			display: none;
		}
	}
}

.simple-page {
	@extend .fancy-page;
	#pageContent {
		.page-body {
			padding: 20px 40px 30px;
			border-bottom: none;
			background: rgba(255, 255, 255, 0.7);
			img {
				max-width: 100%;
			}
			.page-header {
				min-height: 170px;
				padding: 0;
				border: none;
				margin: 0 0 30px 0;
				h1 {
					font-size: $simplePageTitle;
					margin-bottom: 20px;
					margin-top: 10px;
					line-height: 1.2;
					letter-spacing: -0.3px;
				}
				p {
					margin-bottom: 0px;
					&.date {
						font-family: $serifFontOnly;
						font-style: italic;
						font-size: 16px;
						padding-top: 5px;
					}
				}
			}
		}
	}
	&.press-release {
		h2 {
			margin-bottom: 35px;
			padding-top: 15px;
		}
		.press-release-bottom-text {
			padding-top: 20px;
		}
		.press-release-link {
			padding: 20px 0;
		}
		.press-release-static-text {
			margin-top: 20px;
			h4 {
				margin-bottom: 10px;
			}
			li {
				font-size: 18px;
			}
		}
	}
	&.owlc {
		.social-links {
			.fa-circle {
				color: $owlc;
			}
		}
	}
	&.ocsl {
		.social-links {
			.fa-circle {
				color: $ocsl;
			}
		}
	}
}
