#footer {
	background: $footerField;
	border-top: $footerBorderTop solid $footerDivider;
	padding: 20px 0 0 0;
	.footer-logo {
		position: relative;
		top: 20px;
	}
	.footer-menu {
		padding: 0 0 10px 0;
		li {
			margin-right: 20px;
			a,
			a:hover {
				color: $fieldText;
				font-size: $footerMenuItem;
			}
		}
	}
	.social-links {
		padding-top: 15px;
		margin-bottom: 25px;
		margin-top: 5px;
		float: right;
		li {
			margin-right: 7px;
			.fa-lg {
				font-size: 1.07em;
			}
		}
	}
	.copyright {
		li:first-child {
			margin-right: 50px;
		}
		span {
			font-size: $footerCopyright;
		}
	}
	.webform-submit {
		line-height: 35px;
	}
}

#footerNewletter,
#footer .webform-client-form {
	font-size: 0;
	legend,
	label.control-label {
		display: block;
		width: 100%;
		padding: 0;
		margin-bottom: 3px;
		font-weight: 400;
		font-size: $footerNewsletterTitle;
		line-height: 1;
		color: $fieldText;
		border: 0;
		border-bottom: none;
	}
	input,
	button {
		height: $buttonHeight;
	}
	input[type="email"] {
		width: $footerNewsletterInput;
		box-shadow: inset 0px 0px 0px 1px #d4d4d4;
		border: none;
		border-radius: 0px;
        font-size: 15px;
	}
	button[type="submit"] {
		font-size: $footerNewsletterButton;
		&:hover,
		&:focus,
		&:active {
			outline: none;
			background: $cta;
			line-height: 35px;
		}
		width: $footerNewsletterButtonWidth;
	}
	.form-inline,
	.form-group {
		font-size: 0px;
		display: inline-block;
		vertical-align: bottom;
		margin: 0;
	}
	.user_email_address_confirm-textfield {
		display: none;
	}
	.webform-component,
	.form-actions {
		display: inline-block;
	}
	.form-item.webform-component.webform-component-email {
		.control-label {
			display: none;
		}
	}
}
