nav.navbar {
	position: relative;
	width: 100%;
	background-color: $navBgColor;
	border-color: transparent;
	border: none;
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	box-shadow: inset 0px 30px 0px 0px $navTopBgColor;
	margin-bottom: 0;
	.container-fluid {
		max-width: $navWidth;
		padding: 0;
	}
	.navbar-header {
		position: absolute;
		bottom: 5px;
		a {
			display: block;
		}
	}
	#mainMenu ul {
		&.nav-bottom {
			height: $navBottomHeight;
			margin-bottom: 0px;
			float: right;
			font-size: 0;
			>li {
				>a {
					color: $menuItemColor;
					font-size: $navBottomElementSize;
					font-weight: 300;
					padding: 0px 20px;
					text-decoration: none;
					-webkit-transition: all 0.3s ease;
					transition: all 0.3s ease;
					line-height: $navBottomHeight;
					display: block;
				}
				&.open {
					background: $megamenuBgColor;
					.dropdown-menu {
						display: block;
					}
				}
			}
			.tow-col-list {
				-moz-column-count: 2;
				column-count: 2;
				-webkit-column-count: 2;
				font-size: 0;
			}
		}
		&.nav-top {
			height: $navTopHeight;
			text-align: right;
			margin-bottom: 0px;
			font-size: 0;
			>li {
				vertical-align: top;
				padding: 0;
				>a {
					color: $menuItemColor;
					font-size: $navTopElementSize;
					font-weight: 300;
					padding: 0px 10px;
					display: block;
					max-height: $navTopHeight;
					text-decoration: none;
					line-height: 30px;
					&:hover {
						color: $menuItemColor;
						background: $navSocialBlockBg;
					}
				}
				&:hover {
					background-color: transparent;
				}
				&.social-block {
					>a {
						padding: 0px 5px;
						.icon {
							padding: 0 5px;
						}
					}
				}
			}
			#search {
				padding: 0;
				margin: 0 1px 0 0;
				font-size: 0px;
				.btn {
					line-height: 30px;
				}
				input[type="text"].form-control {
					width: 0;
					height: $navTopHeight;
					padding: 0;
					border: none;
					border-radius: 0;
					-webkit-transition: all 0.4s ease-in-out;
					transition: all 0.4s ease-in-out;
					box-shadow: none;
					&.active {
						width: 200px;
						padding: 6px 12px;
					}
				}
				[type="submit"].form-control {
					width: 0;
					height: $navTopHeight;
					padding: 0;
					border: none;
					border-radius: 0;
					-webkit-transition: all 0.4s ease-in-out;
					transition: all 0.4s ease-in-out;
					box-shadow: none;
					overflow: hidden;
				}
				input[type="text"].form-control.active+[type="submit"].form-control {
					width: 100px;
					color: #fff;
					background: $cta;
					padding: 6px 12px;
				}
				.button {
					background: $navSearchBg;
					border: none;
					color: $menuItemColor;
					box-shadow: none;
					height: $navTopHeight;
					min-width: auto;
				}
			}
			.social-block {
				position: relative;
				background: transparent;
				.yamm-content {
					padding: 15px;
				}
				.dropdown-menu {
					left: 50%;
					-webkit-transform: translateX(-50%);
					-ms-transform: translateX(-50%);
					transform: translateX(-50%);
					min-width: 250px;
					background: $navSocialBlockBg;
					margin-top: -3px;
					ul li a {
						display: block;
						text-align: left;
						.fa {
							margin-right: 10px;
						}
					}
					#navNewsletter,
					.webform-client-form {
						legend {
							font-size: 14px;
							border: none;
							margin-bottom: 5px;
						}
						label {
							font-weight: 300;
						}
						.form-group {
							margin-bottom: 10px;
						}
						.form-control {
							border-radius: 0px;
							margin-bottom: 5xp;
						}
						.checkbox {
							margin-top: 0px;
							margin-bottom: 15px;
							label {}
							input {
								visibility: hidden;
							}
						}
						button[type="submit"] {
							background: $facebookColor;
							color: #fff;
							border-radius: 0px;
							margin: 0px;
						}
					}
					.btn {
						width: 100%;
						height: 30px;
						margin-bottom: 10px;
						color: #000;
						background: #fff;
						display: block;
						border-radius: 0px;
						line-height: 30px;
						font-weight: 300;
						&.facebook {
							background: $facebookColor;
							color: #fff;
						}
						&.twitter {
							background: $twitterColor;
							color: #fff;
						}
						&.instagram {
							background: $instagramColor;
							color: #fff;
						}
						&.youtube {
							background: $youtubeColor;
							color: #fff;
						}
						&.googleplus {
							background: $googleplusColor;
							color: #fff;
						}
						&.linkedin {
							background: $linkedinColor;
							color: #fff;
						}
						&.pinterest {
							background: $pinterestColor;
							color: #fff;
						}
					}
				}
				&.open {
					background: #fff;
					.dropdown-menu {
						display: block;
						ul li a {
							color: #000;
						}
					}
				}
			}
		}
	}
	.dropdown-menu {
		position: absolute;
		top: 100%;
		left: 0;
		z-index: 1000;
		display: none;
		float: left;
		min-width: 200px;
		padding: 0;
		margin: 0;
		text-align: left;
		list-style: none;
		background-color: $megamenuBgColor;
		background-clip: padding-box;
		border: none;
		border-radius: 0px;
		box-shadow: none;
		color: $menuItemColor;
		a {
			color: $menuItemColor;
			white-space: normal;
		}
		.title {
			text-transform: uppercase;
			margin: 0 0 10px 0;
			padding: 10px 0;
			border-bottom: 1px solid $menuItemColor;
			font-weight: 300;
		}
		.sublist {
			text-align: left;
			font-size: 0;
			li {
				margin-bottom: 0px;
				display: block;
				width: 100%;
				position: relative;
				font-size: 0;
				a {
					display: inline-block;
					text-decoration: none;
					line-height: 40px;
					position: relative;
					padding: 0;
					height: auto;
					margin-bottom: 0px;
					font-size: 14px;
					font-weight: 300;
					&:hover {
						color: #000;
					}
				}
			}
		}
		.tow-col-list.sublist {
			li {
				a {
					height: auto;
				}
			}
		}
	}
	.open>.dropdown-menu {
		display: block;
	}
	.dropdown.open {
		.yamm-content {
			text-align: left;
		}
	}
	&.relative {
		position: relative!important;
		margin: 0;
	}
}
