#hero {
	position: relative;
	height: 400px;
	a:not([href^="#"]) {
		color: #ffffff;
		font-weight: 300;
		font-size: inherit;
	}
	&.tall {
		height: 400px;
	}
	&.homepage {
		height: auto;
		+#mainContent {
			padding: 10px 0;
		}
	}
	#homeCarousel {
		height: $homeCarouselHeight;
		.carousel-inner {
			height: 100%;
		}
		.item {
			height: 100%;
			background-size: cover!important;
			background-repeat: no-repeat!important;
			background-position: center bottom!important;
			.item-caption {
				position: absolute;
				bottom: -100%;
				left: 0;
				right: 0;
				-webkit-transition: all 0.3s ease;
				transition: all 0.3s ease;
				.container {
					padding: 0 10px;
				}
				.caption-content {
					background: rgba(0, 0, 0, 0.5);
					padding: 10px;
					text-align: center;
					.omega-moment-tag {
						color: $omegaMomentText;
						font-size: $homeHeroOmegaMoment;
					}
					.caption-text {
						color: $fieldText;
						font-size: $homeHeroOmegaText;
					}
					.caption-author-date {
						color: $fieldText;
						font-size: $homeHeroOmegaText;
					}
				}
			}
			&.active {
				.item-caption {
					bottom: 0;
					-webkit-animation-delay: 500ms;
					animation-delay: 500ms;
				}
			}
		}
		&.carousel-fade {
			.carousel-inner {
				.item {
					opacity: 0;
					-webkit-transform: translateZ(0);
					-webkit-transition-property: opacity;
					transition-property: opacity;
					-webkit-transition-duration: 0.7s;
					transition-duration: 0.7s;
				}
				.active {
					opacity: 1;
				}
				.active.left,
				.active.right {
					left: 0;
					opacity: 0;
					z-index: 1;
				}
				.next.left,
				.prev.right {
					opacity: 1;
				}
			}
		}
	}
	&.article {
		height: $articleHeroHeight;
	}
	.article-info {
		padding: 20px 5px;
	}
	.article-category,
	.category {
		font-size: $heroArticleCategory;
		padding: 20px 5px;
		@include add-border(1px, $fieldText, bottom);
	}
	.article-title,
	.title {
		padding: 20px 0;
		font-size: $heroArticleTitle;
		letter-spacing: -1px;
		line-height: 1.1;
	}
	.article-subtitle,
	.subtitle {
		font-size: $heroArticleSubtitle;
		letter-spacing: -0.5px;
		font-weight: 300;
	}
	&.video {
		@extend .article;
		.play-icon {
			margin-top: 20px;
		}
	}
	&.audio {
		@extend .article;
		.audio-bar {
			margin-top: 20px;
			position: relative;
		}
		.audio-info-text {
			padding-left: 80px;
			margin-top: 0px;
			position: absolute;
			font-family: $serifFontOnly;
			font-style: italic;
		}
		#audio-timers {
			width: calc(100% - 80px);
			height: 30px;
			float: right;
			position: relative;
			top: -20px;
			font-family: $serifFontOnly;
			font-style: italic;
		}
	}
	&.collections {
		@extend .article;
		.event-details {
			margin-top: 40px;
			li {
				font-size: $heroCollectionEvDetails;
				&.event-date {
					margin-top: 5px;
					font-family: $serifFontOnly;
					font-style: italic;
				}
			}
			.curator-name {
				a {
					color: #fff;
				}
			}
		}
	}
	&.landingpage {
		@extend .article;
		.hero-content {
			position: absolute;
			bottom: 95px;
			left: 50%;
			-webkit-transform: translateX(-50%);
			-ms-transform: translateX(-50%);
			transform: translateX(-50%);
			max-width: 100%;
			width: 100%;
			.initiative-title {
				font-size: 43px;
				letter-spacing: -0.3px;
				line-height: 52px;
				padding-bottom: 15px;
				text-shadow: 0 0 3px rgba(80,80,80,0.9)
			}
			.tagline {
				font-size: 25px;
				line-height: 30px;
				padding-bottom: 30px;
			}
			.btn {
				color: #fff;
				font-weight: 300;
				border-radius: 4px;
				font-weight: 400;
				padding: 0 30px;
				line-height: 30px;
				i.fa {  
					font-size: 19px;
					position: absolute;
					top: 0;
					left: 0;
					line-height: 32px;
					width: 30px;
					text-align: center;
				}
			}
		}
	}
	&.fancy-page,
	&.simple-page {
		height: $fancyPageHeroHeight;
		.page-info {
			padding: 0px 5px;
			.page-category {
				font-size: $heroArticleCategory;
				padding: 20px 5px;
				@include add-border(1px, $fieldText, bottom);
				font-weight: 300;
			}
			.page-title {
				padding: 20px 0;
				font-size: $heroArticleTitle;
				letter-spacing: -1px;
				line-height: 1.2;
			}
			.page-subtitle {
				font-size: $heroArticleSubtitle;
				letter-spacing: -0.5px;
				font-weight: 300;
			}
		}
	}
	&.workshop-page {
		height: $workshopPageHeroHeight;
		margin-bottom: 45px;
		.transparent {
			min-width: 500px;
		}
		.page-info {
			padding: 20px 0px;
			position: relative;
			height: 100%;
			.page-category {
				font-size: $heroArticleCategory;
				padding: 20px 0px 10px;
				@include add-border(1px, $fieldText, bottom);
				width: calc(100% - 20px);
				margin-left: 10px;
			}
			.page-title {
				padding: 20px 10px 10px;
				font-size: $heroArticleTitle;
				letter-spacing: -1px;
				line-height: 1.2;
			}
			.page-subtitle {
				font-size: $heroArticleSubtitle;
				letter-spacing: -0.5px;
				font-weight: 300;
				padding-left: 10px;
				padding-right: 10px;
			}
			.date-location {
				margin-bottom: 30px;
				padding: 0 10px;
				font-style: italic;
				span {
					line-height: 1;
					display: inline-block;
				}
				span+span:before {
					content: " | ";
				}
			}
			.register-today {
				width: 220px;
				margin-bottom: 25px;
				margin-left: 10px;
				line-height: 40px;
			}
			.short-workshop-info {
				margin-left: 10px;
				font-size: 14px;
			}
		}
		.person {
			padding: 0;
			width: 100%;
			font-size: 0;
			width: 100%;
			position: absolute;
			bottom: -70px;
			left: 0;
			right: 0;
			.person-images li {
				width: 25%;
				padding: 0 10px;
				-webkit-transition: all 0.3s ease;
				transition: all 0.3s ease;
				vertical-align: top;
				overflow: hidden;
				position: relative;
				.image {
					background: rgba(255, 255, 255, 0.2);
					width: 100%;
					height: 0;
					padding-bottom: 100%;
					overflow: hidden;
					position: relative;
					background-size: cover!important;
					background-repeat: no-repeat!important;
					background-position: center top!important;
					filter: grayscale(100%);
					filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/></filter></svg>#grayscale");
					-webkit-filter: grayscale(100%);
					-moz-filter: grayscale(100%);
					-ms-filter: grayscale(100%);
					-o-filter: grayscale(100%);
					-webkit-filter: gray;
					filter: gray;
				}
				img {
					max-width: 100%;
					position: absolute;
				}
				.more {
					width: 100%;
					height: 0;
					padding-bottom: 100%;
					background: $darkBg;
					position: relative;
					.fa {
						position: absolute;
						color: #fff;
						top: 50%;
						left: 50%;
						-webkit-transform: translate(-50%, -50%);
						-ms-transform: translate(-50%, -50%);
						transform: translate(-50%, -50%);
						font-size: 20px;
					}
				}
				p {
					font-size: 13px;
					color: #000;
					margin-top: 5px;
					a {
						color: #000;
					}
				}
			}
		}
	}
}
