.initiatives {
	background: #e3e3e3;
	position: relative;
	clear: both;
	padding: 0 0 40px 0;
	margin-bottom: 0px;
	.section-title {
		color: $interactiveText;
		max-width: $homeInitiativesTitleWidth;
		margin: auto;
	}
	.initiatives-list {
		margin-top: 0px;
		text-align: center;
		position: relative;
		font-size: 0;
		li {
			height: $initiativeTileHeight;
			width: calc(100% / 3);
			position: relative;
			padding: 10px;
			.initiative-content {
				position: relative;
				width: 100%;
				height: 100%;
				background-size: cover!important;
				background-position: center center!important;
				background-repeat: no-repeat;
				a {
					width: 100%;
					height: 100%;
					font-weight: 300;
				}
				.initiative {
					font-size: $homeInitiativesTitle;
					position: absolute;
					top: 50%;
					text-align: center;
					-webkit-transform: translateY(-50%);
					-ms-transform: translateY(-50%);
					transform: translateY(-50%);
					display: block;
					width: 100%;
					color: $fieldText;
					padding: 10px 35px;
				}
			}
		}
	}
}

.pane-homepage-initiatives-list-panel-initiatives-list {
	clear: both;
	background: #e3e3e3;
	border-top: 50px solid #f5f5f5;
	.pane-title {
		padding: 40px 0 20px;
		text-align: center;
		font-size: $homeInitiativesTitle;
		color: $interactiveText;
		max-width: $homeInitiativesTitleWidth;
		margin: auto;
	}
}
