nav.navbar.page-navbar {
	position: relative!important;
	max-width: 100%;
	background: $otherInitiative;
	box-shadow: none;
	margin-bottom: 0;
	.collapse {
		padding: 0;
	}
	ul {
		>.open>a,
		.open>a:hover,
		a:focus {
			background: transparent;
		}
		>li {
			-webkit-transition: all 0.3s ease;
			transition: all 0.3s ease;
			&:focus,
			&:hover {
				background: $otherInitiative;
				>a,
				>span {
					background: rgba(0, 0, 0, 0.2);
				}
			}
			&:active {
				background: $otherInitiative;
			}
			>span {
				position: relative;
				color: #fff;
				font-size: 14px;
				font-weight: 300;
				display: block;
				padding: 15px 20px;
				cursor: pointer;
			}
			>a,
			>span,
			>a:not([href*="#"]) {
				color: #fff;
				font-size: 14px;
				font-weight: 300;
				&:hover,
				&:focus,
				&:active {
					color: #fff;
					&:focus {
						color: #fff;
					}
				}
			}
			>.dropdown-toggle {
				position: relative;
				&:after {
					content: "\f0d7";
					font-family: "FontAwesome";
					position: relative;
					margin-left: 5px;
					color: #fff;
				}
			}
			li:active {
				>a,
				>span {
					color: #fff;
				}
			}
			.dropdown-submenu {
				position: relative;
				a,
				span {
					color: $interactiveText;
					outline: 0;
				}
				&:hover,
				&:active,
				&:focus,
				&:focus:active,
				&:focus:hover {
					a,
					span {
						color: #fff;
						outline: 0;
						&:hover {
							background: rgba(0, 0, 0, 0.2);
						}
					}
				}
				.fa {
					position: relative;
					top: 2px;
					float: right;
				}
				.submenu-drop {
					position: relative;
					&:after {
						content: "\f0da";
						font-family: "FontAwesome";
						position: absolute;
						right: 15px;
						color: #fff;
					}
				}
			}
			.dropdown-submenu .dropdown-menu {
				top: 0;
				left: 100%;
				margin-top: 0px;
			}
			.dropdown-submenu {
				&:open {
					background: $otherInitiative;
					>a:hover,
					span:hover {
						background: rgba(0, 0, 0, 0.2);
					}
					.dropdown-menu {
						display: block;
					}
				}
			}
			&.open {
				//					background: $otherInitiative;
				a,
				span {
					padding-top: 15px;
					padding-bottom: 15px;
					&:hover {
						background-color: rgba(0, 0, 0, 0.2);
					}
				}
				ul.dropdown-menu {
					li {
						a,
						span {
							color: $interactiveText;
						}
						&:hover {
							>a,
							span {
								color: #fff;
							}
						}
						ul.dropdown-submenu {
							li {
								a,
								span {
									color: $interactiveText;
								}
								&:hover {
									>a,
									span {
										color: #fff;
									}
								}
							}
						}
					}
				}
			}
			.dropdown-toggle {
				.fa {
					display: inline-block;
					margin-left: 3px;
				}
			}
		}
	}
}

.lp-not-logged {
	form {
		text-align: center;
	}
	.form-item-submitted-email-landing-updates {
		display: inline-block;
	}
	input.form-control {
		width: 250px;
		height: 40px;
		padding: 10px;
		margin-left: 10px;
		display: inline-block;
		border-radius: 0;
	}
	#edit-actions {
		display: inline-block;
	}
	[type="submit"] {
		outline: 0;
		line-height: 40px;
		position: relative;
		left: -3px;
		font-size: 16px;
		background: $otherInitiative;
		&:focus,
		&:hover {
			background: darken($otherInitiative, 5%);
		}
		&:active {
			background: darken($otherInitiative, 5%);
		}
	}
	.log-in, .log-in:not([href^="#"])  {
		margin-top: 0px;
		display: block;
		color: $interactiveText;
		font-size: 18px;
		font-weight: 300;
		&:hover {
			color: $interactiveText;
			font-size: 18px;
			font-weight: 300;
		}
	}
	.form-item-submitted-checkbox-landing-updates {
		display: none;
	}
	.form-item-submitted-email-landing-updates .control-label .form-required {
		display: none;
	}
}

.lp-logged,
.lp-not-logged {
	background: #fff;
	padding: 20px 0;
	.fa-stack {
		width: 1em;
		margin-left: 5px;
		.fa-circle {
			font-size: 26px;
			color: $otherInitiative;
		}
		.fa-inverse {
			font-size: 22px;
			left: 1px;
			top: -1px;
			width: 24px;
			text-align: center;
		}
	}
	label {
		font-size: 18px;
		font-weight: 300;
		color: $interactiveText;
	}
	.form-actions {
		display: inline-block;
		position: relative;
		top: -1px;
		margin-left: -1px;
	}
}

.lp-logged {
	.view-profile, .view-profile:not([href^="#"]) {
		font-size: inherit;
		font-weight: 300;
		letter-spacing: -0.2px;
		color: $interactiveText;
	}
	form {
		text-align: center;
	}
	.form-item-submitted-email-landing-updates {
		display: none;
	}
	.form-actions {
		display: none;
	}
}

.landingpage {
	padding-top: 0;
	.hero-content {
		.btn {
			background: $otherInitiative;
		}
	}
	.tiles-row {
		margin-top: 25px;
		.headline-col {
			border-bottom: 1px solid $hairline;
			padding: 0 0 20px;
			width: calc(100% - 20px);
			margin: 0 0 10px 10px;
			.see-all {
				background: #fff;
				border-radius: 3px;
				border: 1px solid $interactiveText;
				color: $interactiveText;
				line-height: 30px;
				max-width: 110px;
				min-width: 110px;
			}
			.headline-title {
				font-size: 25px;
				color: $interactiveText;
				position: relative;
				top: 0px;
				margin: 0;
				padding: 0;
			}
		}
	}
	[role="tabpanel"] {
		margin-top: 40px;
		.lp-tabs,
		.lp-filter {
			padding: 0 10px;
		}
	}
	.modal.fade .modal-dialog {
		-webkit-transform: scale(0.1);
		-ms-transform: scale(0.1);
		transform: scale(0.1);
		top: 100vh;
		opacity: 0;
		-webkit-transition: all 0.3s;
		transition: all 0.3s;
	}
	.modal.fade.in .modal-dialog {
		-webkit-transform: scale(1);
		-ms-transform: scale(1);
		transform: scale(1);
		-webkit-transform: translate3d(0, -100vh, 0);
		transform: translate3d(0, -100vh, 0);
		opacity: 1;
	}
	.sponsors {
		.section-title-big {
			&:before {
				background: $otherInitiative;
			}
		}
	}
	.form-item-submitted-landing-page-key-initiative {
		display: none;
	}
	&.ocsl {
		nav.navbar.page-navbar {
			background: $ocsl;
			.collapse {
				padding: 0;
			}
			ul {
				>.open>a,
				.open>a:hover,
				a:focus {
					background: darken($ocsl, 5%);
				}
				li {
					&:focus,
					&:hover {
						background: darken($ocsl, 5%);
					}
					&:active {
						background: darken($ocsl, 5%);
					}
					&.open {
						background: $ocsl;
					}
				}
			}
		}
		.hero-content {
			.btn {
				background: $ocsl;
			}
		}
		.lp-logged,
		.lp-not-logged {
			.fa-circle {
				color: $ocsl;
			}
			[type="submit"],
			[type="button"] {
				background: $ocsl;
				&:focus,
				&:hover {
					background: darken($ocsl, 5%);
				}
				&:active {
					background: darken($ocsl, 5%);
				}
			}
		}
		.nav-tabs>li.active>a,
		.nav-tabs>li.active>a:hover,
		.nav-tabs>li.active>a:focus {
			border-bottom-color: $ocsl;
		}
		.filterModal,
		#filterModal {
			.modal-footer {
				[type="submit"],
				[type="button"] {
					background: $ocsl;
					&:focus,
					&:hover {
						background: darken($ocsl, 5%);
					}
					&:active {
						background: darken($ocsl, 5%);
					}
				}
				[type="button"].reset-btn,
				.reset-btn {
					background: transparent;
				}
			}
			.modal-body {
				.panel-heading {
					a {
						color: $ocsl;
						&:hover {
							color: $ocsl;
						}
						&.collapsed {
							color: $interactiveText;
							&:hover {
								color: $ocsl;
							}
						}
						&:after {
							background: $ocsl;
						}
					}
				}
				.panel-body {
					.all {
						&.active {
							color: $ocsl;
						}
						&:hover {
							color: $ocsl;
						}
					}
					.suboptions-list {
						a {
							&:hover {
								color: $ocsl;
							}
							&.active {
								color: $ocsl;
							}
						}
					}
				}
			}
		}
		.sponsors {
			.section-title-big {
				&:before {
					background: $ocsl;
				}
			}
		}
	}
	&.other {
		nav.navbar.page-navbar {
			background: $otherInitiative;
			.collapse {
				padding: 0;
			}
			ul {
				>.open>a,
				.open>a:hover,
				a:focus {
					background: darken($otherInitiative, 5%);
				}
				li {
					&:focus,
					&:hover {
						background: darken($otherInitiative, 5%);
					}
					&:active {
						background: darken($otherInitiative, 5%);
					}
					&.open {
						background: $otherInitiative;
					}
				}
			}
		}
		.hero-content {
			.btn {
				background: $otherInitiative;
			}
		}
		.lp-not-logged {
			[type="submit"] {
				background: $otherInitiative;
				&:focus,
				&:hover {
					background: darken($otherInitiative, 5%);
				}
				&:active {
					background: darken($otherInitiative, 5%);
				}
			}
		}
		.lp-logged,
		.lp-not-logged {
			.fa-circle {
				color: $otherInitiative;
			}
			[type="submit"] {
				background: $otherInitiative;
				&:focus,
				&:hover {
					background: darken($otherInitiative, 5%);
				}
				&:active {
					background: darken($otherInitiative, 5%);
				}
			}
		}
		.nav-tabs>li.active>a,
		.nav-tabs>li.active>a:hover,
		.nav-tabs>li.active>a:focus {
			border-bottom-color: $otherInitiative;
		}
		.filterModal {
			.modal-footer {
				.reset-btn[type="button"] {
					float: none;
					display: block;
					background: transparent;
					color: $interactiveText;
					margin-top: 10px;
					margin: auto;
					outline: 0;
					&:focus,
					&:hover {
						background: transparent;
					}
					&:active {
						background: transparent;
					}
				}
				[type="submit"],
				[type="button"] {
					margin: auto;
					display: block;
					background: $otherInitiative;
					outline: 0;
					&:focus,
					&:hover {
						background: darken($otherInitiative, 5%);
					}
					&:active {
						background: darken($otherInitiative, 5%);
					}
				}
				[type="button"].reset-btn,
				.reset-btn {
					background: transparent;
				}
			}
			.modal-body {
				.panel-heading {
					a {
						color: $interactiveText;
						&:hover {
							color: $otherInitiative;
						}
						&.collapsed {
							&:hover {
								color: $otherInitiative;
							}
						}
						&:before {
							background: $otherInitiative;
						}
					}
				}
				.panel-body {
					.all {
						&.active {
							color: $otherInitiative;
						}
						&:hover {
							color: $otherInitiative;
						}
					}
					.suboptions-list {
						a {
							&:hover {
								color: $otherInitiative;
							}
							&.active {
								color: $otherInitiative;
							}
						}
					}
				}
			}
		}
		.sponsors {
			.section-title-big {
				&:before {
					background: $otherInitiative;
				}
			}
		}
	}
	&.owlc {
		nav.navbar.page-navbar {
			background: $owlc;
			.collapse {
				padding: 0;
			}
			ul {
				>.open>a,
				.open>a:hover,
				a:focus {
					background: darken($owlc, 5%);
				}
				li {
					&:focus,
					&:hover {
						background: darken($owlc, 5%);
					}
					&:active {
						background: darken($owlc, 5%);
					}
				}
			}
		}
		.hero-content {
			.btn {
				background: $owlc;
			}
		}
		.lp-not-logged {
			[type="submit"] {
				background: $owlc;
				&:focus,
				&:hover {
					background: darken($owlc, 5%);
				}
				&:active {
					background: darken($owlc, 5%);
				}
			}
		}
		.lp-logged,
		.lp-not-logged {
			.fa-circle {
				color: $owlc;
			}
			[type="submit"] {
				background: $owlc;
				&:focus,
				&:hover {
					background: darken($owlc, 5%);
				}
				&:active {
					background: darken($owlc, 5%);
				}
			}
		}
		.nav-tabs>li.active>a,
		.nav-tabs>li.active>a:hover,
		.nav-tabs>li.active>a:focus {
			border-bottom-color: $owlc;
		}
		.filterModal {
			.modal-footer {
				[type="submit"],
				[type="button"] {
					margin: auto;
					display: block;
					background: $owlc;
					outline: 0;
					&:focus,
					&:hover {
						background: darken($owlc, 5%);
					}
					&:active {
						background: darken($owlc, 5%);
					}
				}
				[type="button"].reset-btn,
				.reset-btn {
					background: transparent;
				}
			}
			.modal-body {
				.panel-heading {
					a {
						color: $interactiveText;
						&:hover {
							color: $owlc;
						}
						&.collapsed {
							&:hover {
								color: $owlc;
							}
						}
						&:after {
							background: $owlc;
						}
					}
				}
				.panel-body {
					.all {
						&.active {
							color: $owlc;
						}
						&:hover {
							color: $owlc;
						}
					}
					.suboptions-list {
						a {
							&:hover {
								color: $owlc;
							}
							&.active {
								color: $owlc;
							}
						}
					}
				}
			}
		}
		.sponsors {
			.section-title-big {
				&:before {
					background: $owlc;
				}
			}
		}
	}
	.lp-tabs {
		.nav-tabs>li.active>a,
		.nav-tabs>li.active>a:hover,
		.nav-tabs>li.active>a:focus {
			border-bottom-color: $otherInitiative;
		}
	}
	.lp-filter {
		form {
			[type="submit"] {
				background: $otherInitiative;
				&:focus,
				&:hover {
					background: darken($otherInitiative, 5%);
				}
				&:active {
					background: darken($otherInitiative, 5%);
				}
			}
		}
		.filter-btn {
			color: $otherInitiative;
			&:focus,
			&:hover {
				color: $otherInitiative;
			}
			&:active {
				color: $otherInitiative;
			}
		}
	}
	#videoCarousel {
		.carousel-control {
			&:before {
				background: $otherInitiative;
			}
		}
	}
	.dates-popover {
		background: $otherInitiative;
		min-width: auto;
	}
	&.owlc {
		.nav-tabs>li.active>a,
		.nav-tabs>li.active>a:hover,
		.nav-tabs>li.active>a:focus {
			border-bottom-color: $owlc;
		}
		.lp-filter {
			form {
				[type="submit"] {
					background: $owlc;
					&:focus,
					&:hover {
						background: darken($owlc, 5%);
					}
					&:active {
						background: darken($owlc, 5%);
					}
				}
			}
			.filter-btn {
				color: $owlc;
				&:focus,
				&:hover {
					color: $owlc;
				}
				&:active {
					color: $owlc;
				}
			}
		}
		.dates-popover {
			background: $owlc;
		}
	}
	&.ocsl {
		.nav-tabs>li.active>a,
		.nav-tabs>li.active>a:hover,
		.nav-tabs>li.active>a:focus {
			border-bottom-color: $ocsl;
		}
		.lp-filter {
			form {
				[type="submit"] {
					background: $ocsl;
					&:focus,
					&:hover {
						background: darken($ocsl, 5%);
					}
					&:active {
						background: darken($ocsl, 5%);
					}
				}
			}
			.filter-btn {
				color: $ocsl;
				&:focus,
				&:hover {
					color: $ocsl;
				}
				&:active {
					color: $ocsl;
				}
			}
		}
		.dates-popover {
			background: $ocsl;
		}
	}
}

.filterModal,
#filterModal {
	.modal-footer {
		text-align: center;
		padding-top: 0;
		border-top: none;
		[type="submit"],
		[type="button"] {
			margin: auto;
			display: block;
			background: $otherInitiative;
			outline: 0;
			&:focus,
			&:hover {
				background: darken($otherInitiative, 5%);
			}
			&:active {
				background: darken($otherInitiative, 5%);
			}
		}
		.reset-btn[type="button"] {
			float: none;
			display: block;
			background: transparent;
			color: $interactiveText;
			margin-top: 10px;
			margin: auto;
			outline: 0;
			&:focus,
			&:hover {
				background: transparent;
			}
			&:active {
				background: transparent;
			}
		}
	}
	.modal-footer {
		padding-bottom: 5px;
	}
	.modal-dialog {
		max-width: 363px;
		.modal-content {
			border-radius: 0px;
		}
	}
	.modal-title {
		padding: 0;
	}
	.modal-body {
		padding-bottom: 20px;
		.panel {
			border: none;
			margin-top: 0px;
		}
		.panel-group {
			margin: 0;
		}
		.panel-body {
			padding-left: 0;
			padding-right: 0;
		}
		.panel-heading {
			padding: 0;
			background: transparent;
			border: none;
			border-color: transparent;
			box-shadow: inset 0px -2px 0px 0px $hairline;
			.panel-title {
				padding: 0;
			}
			a {
				display: block;
				padding: 12px 0px;
				-webkit-transition: all 0.3s ease;
				transition: all 0.3s ease;
				color: $otherInitiative;
				&:hover {
					color: $otherInitiative;
				}
				&.collapsed {
					color: $interactiveText;
					&:hover {
						color: $otherInitiative;
					}
					&:after {
						-webkit-transform: rotate(0deg);
						-ms-transform: rotate(0deg);
						transform: rotate(0deg);
					}
				}
				&:after {
					content: "\f107";
					font-family: "FontAwesome";
					position: absolute;
					right: 15px;
					-webkit-transition: all 0.3s ease;
					transition: all 0.3s ease;
					-webkit-transform: rotate(-180deg);
					-ms-transform: rotate(-180deg);
					transform: rotate(-180deg);
					color: #fff;
					background: $otherInitiative;
					border-radius: 50%;
					width: 20px;
					height: 20px;
					text-align: center;
					padding: 0;
					line-height: 20px;
					letter-spacing: -0.5px;
				}
			}
		}
		.panel-body {
			border: none;
			.all {
				padding: 5px 0;
				display: block;
				font-size: 14px;
				&.active {
					color: $otherInitiative;
				}
			}
			.suboptions-list {
				-webkit-column-count: 2;
				-moz-column-count: 2;
				column-count: 2;
				a {
					padding: 5px 0;
					display: block;
					font-size: 14px;
					&:hover {
						color: $otherInitiative;
					}
					&.active {
						color: $otherInitiative;
					}
				}
			}
		}
	}
	.modal-header {
		background: #f5f5f5;
		padding: 7px 25px 7px 15px;
		.close {
			color: $otherInitiative;
			outline: none;
		}
		.modal-title {
			text-align: left;
			font-size: 18px;
			font-weight: 300;
		}
	}
}

#videoCarousel {
	position: relative;
	overflow: hidden;
	max-width: 1280px;
	margin: 10px auto 40px;
	overflow-y: visible;
	.video-carousel {
		height: auto;
		overflow-y: visible;
		ul {
			width: 20000em;
			position: relative;
			list-style: none;
			margin: 0;
			padding: 0;
			li.item {
				display: block;
				float: left;
			}
		}
		.item {
			overflow-y: auto!important;
		}
		.active {
			.tile-frame {
				height: 300px;
				width: 620px;
				padding-top: 0px;
				margin: 0 20px;
				-webkit-transition: 0.7s ease-out;
				transition: 0.7s ease-out;
				opacity: 1;
				overflow: auto!important;
			}
		}
		.tile-frame {
			width: 310px;
			height: 300px;
			overflow: hidden;
			position: relative;
			background: #575757;
			-webkit-transition: 0.7s ease-out;
			transition: 0.7s ease-out;
			opacity: 0.4;
		}
	}
	.carousel-control {
		opacity: 1;
		width: 310px;
		cursor: pointer;
		height: 300px;
		&:before {
			content: "";
			width: 30px;
			height: 30px;
			border-radius: 50%;
			position: absolute;
			top: 50%;
			-webkit-transform: translateY(-50%);
			-ms-transform: translateY(-50%);
			transform: translateY(-50%);
			background: $cta;
		}
		&.left:before {
			left: auto;
			right: 15px;
		}
		&.left:after {
			left: auto;
			right: 24px;
		}
		&.right:before {
			right: auto;
			left: 15px;
		}
		&.right:after {
			right: auto;
			left: 29px;
		}
		&:after {
			position: absolute;
			top: 50%;
			left: 50%;
			-webkit-transform: translate(-50%, -50%);
			-ms-transform: translate(-50%, -50%);
			transform: translate(-50%, -50%);
			display: block;
		}
		&.left:after {
			content: "\f104";
			font-family: "FontAwesome";
		}
		&.right:after {
			content: "\f105";
			font-family: "FontAwesome";
			margin-left: 2px;
		}
	}
	.tile {
		margin: 0!important;
		width: 620px;
		right: 0;
		position: absolute;
		.panel-heading {
			height: 100%;
		}
		.favourite {
			z-index: 20;
		}
		.panel-body {
			position: absolute;
			z-index: 10;
			bottom: 0;
			top: 0;
			left: 0;
			right: 0;
			height: 100%;
			padding-bottom: 10px;
		}
		&.panel-idea,
		&.panel-general-purpose {
			.panel-body {
				background: transparent;
				height: auto;
				top: auto;
				z-index: 10;
			}
			ul {
				width: 100%;
				font-size: 14px;
				li:nth-last-child(2) {
					&:after {
						content: "|";
						display: inline-block;
						width: 10px;
						text-align: center;
					}
				}
			}
		}
		&.panel-collection {
			.image-tiles {
				margin-right: -5px;
				margin-left: -15px;
				ul {
					width: 100%;
				}
			}
		}
		&.panel-person {
			max-height: 100%!important;
			.panel-body {
				padding-bottom: 0;
				.person-bio {
					padding: 15px;
					width: calc(100% - 300px);
				}
				.person-image {
					max-width: 300px;
				}
			}
		}
		.panel-footer {
			display: none;
		}
	}
	.item.active+.item {
		.tile {
			left: 0;
			right: auto;
		}
	}
	.item.active {
		.tile {
			&.panel-idea,
			&.panel-general-purpose {
				.panel-heading:after {
					content: "";
					display: block;
					position: absolute;
					bottom: 0;
					left: 0;
					width: 100%;
					height: 100%;
					background: rgba(0, 0, 0, 0);
					background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(3, 3, 3, 0) 18%, rgba(17, 17, 17, 0.79) 87%, rgba(19, 19, 19, 0.79) 100%);
					background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(18%, rgba(3, 3, 3, 0)), color-stop(87%, rgba(17, 17, 17, 0.79)), color-stop(100%, rgba(19, 19, 19, 0.79)));
					background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(3, 3, 3, 0) 18%, rgba(17, 17, 17, 0.79) 87%, rgba(19, 19, 19, 0.79) 100%);
					background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(3, 3, 3, 0) 18%, rgba(17, 17, 17, 0.79) 87%, rgba(19, 19, 19, 0.79) 100%);
					background: -ms-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(3, 3, 3, 0) 18%, rgba(17, 17, 17, 0.79) 87%, rgba(19, 19, 19, 0.79) 100%);
					background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(3, 3, 3, 0) 18%, rgba(17, 17, 17, 0.79) 87%, rgba(19, 19, 19, 0.79) 100%);
					filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#131313', GradientType=0);
				}
			}
		}
	}
}

.ocsl #videoCarousel {
	.carousel-control {
		&:before {
			background: $ocsl;
		}
	}
}

.other #videoCarousel {
	.carousel-control {
		&:before {
			background: $otherInitiative;
		}
	}
}

.owlc #videoCarousel {
	.carousel-control {
		&:before {
			background: $owlc;
		}
	}
}

.lp-filter,
.view-filters {
	text-align: center;
	form {
		padding: 40px 0;
		position: relative;
		width: 100%;
		font-size: 0;
		[type="submit"] {
			height: 40px;
			position: relative;
			left: -3px;
			font-size: 16px;
			background: $cta;
			&:focus,
			&:hover {
				background: darken($cta, 5%);
				outline: 0;
			}
			&:active {
				background: darken($cta, 5%);
				outline: 0;
			}
		}
		* {
			font-size: 16px;
		}
	}
	.filter-btn {
		background: transparent;
		font-weight: 400;
		color: $cta;
		&:focus,
		&:hover {
			background: transparent;
			outline: 0;
			color: $cta;
		}
		&:active {
			background: transparent;
			outline: 0;
			color: $cta;
		}
	}
	.date {
		display: inline-block;
		position: relative;
	}
	.allDates {
		position: absolute;
		max-width: 200px;
		border: 1px solid $hairline;
		box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.4);
		z-index: 100;
		padding: 10px;
		background: #fff;
		&.open {
			display: block!important;
			min-width: 200px;
			margin-left: 0;
			left: 50%;
			-webkit-transform: translate(-50%);
			-ms-transform: translate(-50%);
			transform: translate(-50%);
			top: 50px;
			&:before {
				content: "";
				width: 0;
				height: 0;
				border-left: 10px solid transparent;
				border-right: 10px solid transparent;
				border-bottom: 10px solid #fff;
				position: absolute;
				top: -10px;
				left: 50%;
				-webkit-transform: translateX(-50%);
				-ms-transform: translateX(-50%);
				transform: translateX(-50%);
				z-index: 2;
			}
			&:after {
				content: "";
				width: 0;
				height: 0;
				border-left: 10px solid transparent;
				border-right: 10px solid transparent;
				border-bottom: 10px solid #000;
				position: absolute;
				top: -10px;
				left: 50%;
				-webkit-transform: translateX(-50%);
				-ms-transform: translateX(-50%);
				transform: translateX(-50%);
				z-index: 1;
			}
		}
		label {
			font-size: 14px;
			display: block;
			padding: 0 5px;
			line-height: 20px;
			margin-bottom: 0;
			position: relative;
			top: 0px;
			margin-top: 5px;
		}
	}
	.allDates input {
		position: relative;
		width: 100%;
		min-width: auto!important;
		display: inline-block;
		height: 40px;
	}
}

.lp-tabs {
	.nav-tabs {
		text-align: center;
		font-size: 0;
		>li {
			float: none;
			display: inline-block;
			font-size: 16px;
			a {
				text-transform: uppercase;
				color: $interactiveText;
			}
		}
	}
	.nav-tabs>li.active>a,
	.nav-tabs>li.active>a:hover,
	.nav-tabs>li.active>a:focus {
		color: $interactiveText;
		background-color: transparent;
		border: none;
		border-bottom: 5px solid;
		border-bottom-color: $cta;
		cursor: pointer;
	}
	.nav-tabs>li>a:hover {
		border-color: transparent;
	}
}
