.view-media-center {
	.view-header+.view-content {
		padding: 0 10px 20px 10px;
	}
	.year-container {
		padding: 5px 0;
		border-bottom: 1px solid $hairline;
		&:last-of-type {
			border: none;
		}
		.expand-area:before {
			font-size: 12px;
			margin-right: 5px;
		}
	}
}

//pagination style
.pagination {
	border-radius: 0px;
	>li {
		>a,
		>span {
			position: relative;
			display: block;
			float: left;
			padding: 0 5px;
			line-height: 30px;
			color: $interactiveText;
			text-decoration: none;
			background-color: #fff;
			border: 1px solid $hairline;
			width: 30px;
			border-radius: 0px!important;
		}
	}
	>.active {
		>a,
		>span,
		>a:hover,
		>a:focus,
		>span:hover,
		>span:focus {
			background-color: $cta;
			border-color: $cta;
		}
	}
	>.next,
	>.prev,
	>.pager-first,
	>.pager-last {
		>a,
		>span {
			width: auto;
		}
	}
	//	.ajax-progress-throbber {
	//		display: none;
	//	}
}

.ajax-progress-throbber {
	display: block;
	position: fixed;
	width: 100vw;
	height: 100vh;
	z-index: 100000;
	background: rgba(255, 255, 255, 0.6);
	top: 0;
	left: 0;
	.throbber {
		background: url('https://media.giphy.com/media/xTk9ZvMnbIiIew7IpW/giphy.gif');
		background-size: cover;
		width: 64px;
		height: 64px;
		border-radius: 50%;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		-webkit-transform: translate(-50%, -50%);
		display: block;
	}
}
