#mainContent.person {
	padding: 0;
	.person-bio {
		background: #fff;
		padding: 40px 0;
		.person-image {
			width: 100%;
			height: 0;
			padding-bottom: 100%;
			margin-bottom: 20px;
			filter: grayscale(100%);
			filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/></filter></svg>#grayscale");
			-webkit-filter: grayscale(100%);
			-moz-filter: grayscale(100%);
			-ms-filter: grayscale(100%);
			-o-filter: grayscale(100%);
			-webkit-filter: gray;
			filter: gray;
			background-size: cover!important;
			background-repeat: no-repeat!important;
			background-position: center top;
		}
		.person-website {
			a {
				text-decoration: none;
				color: #6a6a6a;
			}
		}
		.bio {
			h1 {
				margin-bottom: 30px;
			}
			p {
				font-size: 18px;
				margin-bottom: 30px;
				line-height: 1.5;
				&:last-child {
					margin-bottom: 10px;
				}
			}
			ul {
				margin-bottom: 30px;
				li {
					font-size: 18px;
					line-height: 1.5;
				}
				&:last-of0type {
					margin-bottom: 10px;
				}
			}
		}
	}
	.tiles-grid {
		padding: 50px 0 30px;
		.section-title {
			font-size: $personBioTilesGridTitle;
			padding: 0 10px;
		}
	}
	.tiles-row {
		margin-top: 25px;
		.headline-col {
			border-bottom: 1px solid $hairline;
			padding: 0 0 20px;
			width: calc(100% - 20px);
			margin: 0 0 10px 10px;
			.see-all {
				background: #fff;
				border-radius: 3px;
				border: 1px solid $interactiveText;
				color: $interactiveText;
				line-height: 30px;
				max-width: 110px;
				min-width: 110px;
			}
			.headline-title {
				font-size: 25px;
				color: $interactiveText;
				position: relative;
//				top: 10px;
			}
		}
	}
	.related {
		margin-bottom: 25px;
		.related-tiles {
			width: calc(100% - 20px);
			border-bottom: 1px solid $hairline;
			margin-bottom: 10px;
			padding: 10px 0;
			font-size: 18px;
			color: $interactiveText;
			position: relative;
			margin-left: 10px;
		}
	}
}
