#mainContent.profile-page {
	padding-top: 0;
}

.profile-page {
	.user-info {
		background: #fff;
		padding: 40px 0 30px;
	}
	.user-profile-image {
		.user-tile {
			position: relative;
			width: 100%;
			max-width: 300px;
			height: 0;
			padding-bottom: 100%;
			z-index: 1;
			.user-image {
				display: block;
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background-size: cover!important;
				background-repeat: no-repeat!important;
				background-position: 50% 0!important;
				z-index: 2;
			}
			.change-picture {
				position: absolute;
				bottom: 0;
				line-height: 30px;
				background: rgba(0, 0, 0, 0.5);
				color: #fff;
				z-index: 3;
				width: 100%;
				text-align: center;
				left: 0;
				cursor: pointer;
			}
		}
	}
	.user-details {
		.user-name {
			font-size: 43px;
			color: $interactiveText;
			margin-bottom: 20px;
		}
		.topics {
			color: $menuItemColor;
		}
		.topic-list {
			margin-bottom: 15px;
			li {
				display: inline;
				a {
					font-size: 18px;
					&:after {
						content: ",  ";
					}
				}
				&:last-child a:after {
					display: none;
				}
			}
		}
		.user-bttons-group {
			.btn:not(:last-of-type) {
				margin-bottom: 10px;
			}
		}
	}
	.user-tiles {
		.headline-col {
			border-bottom: 1px solid $hairline;
			padding: 0 0 20px;
			width: calc(100% - 20px);
			margin: 0 0 10px 10px;
			.see-all {
				background: #fff;
				border-radius: 3px;
				border: 1px solid $interactiveText;
				color: $interactiveText;
				line-height: 30px;
				max-width: 110px;
				min-width: 110px;
			}
			.headline-title {
				font-size: 25px;
				color: $interactiveText;
				position: relative;
				top: 0px;
				margin: 0;
				padding: 0;
			}
		}
		.tab-pane {
			.tiles-row {
				margin-bottom: 30px;
			}
		}
	}
}

.remove-column-padding {
	width: auto;
	margin-left: -10px;
	margin-right: -10px;
}

.btn.btn-outline {
	background: #fff;
	color: $interactiveText;
	border: 2px solid $interactiveText;
	border-radius: 4px;
}
