.quote-section {
	#quoteCarousel {
		height: $homeQuoteCarouselHeight;
		.item {
			background-size: cover!important;
			background-position: center top!important;
			background-repeat: no-repeat!important;
			padding: 120px 0 20px;
			height: 100%;
			.container.full-height {
				position: relative;
				height: 100%;
				.row,
				div[class*="col"] {
					position: relative;
					height: 100%;
				}
			}
		}
		.quote-text {
			font-family: "Graphik Web";
			font-size: $homeQuoteText;
			color: $headerText;
			max-width: $homeQuoteTextWidth;
			font-weight: 300;
		}
		.author {
			position: absolute;
			bottom: 0;
			left: 50%;
			.author-name {
				font-size: $homeQuoteAuthor;
				color: $headerText;
				text-transform: capitalize;
				position: relative;
			}
			.author-ocupation {
				font-size: $homeQuoteAuthorJob;
				color: $headerText;
			}
		}
		.cta {
			margin-top: 30px;
			i {
//				float: left;
				font-size: 12px;
				line-height: $buttonHeight;
				&.fa-spin {
					-webkit-animation: fa-spin 0.7s infinite linear;
					animation: fa-spin 0.7s infinite linear;
				}
			}
		}
	}
}