li.search-tile {
	padding: 20px 0;
	border-bottom: 1px solid $hairline;
	height: 290px;
	list-style-type: none;
	position: relative;
	&:last-child {
		border: none
	}
	.tile-content {
		float: left;
		width: 70%;
		height: 100%;
		position: relative;
	}
	.tile-image {
		float: left;
		width: calc(30% - 20px);
		margin-right: 19px;
		height: 250px;
		position: relative;
		overflow: hidden;
		background: $cta;
		z-index: 1;
		&:before {
			content: "Photo";
			font-size: 40px;
			font-weight: 700;
			color: rgba(255, 255, 255, 0.5);
			position: absolute;
			display: block;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			z-index: 2;
		}
		img {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			height: 250px;
			width: 260px;
			max-width: none;
			z-index: 3;
		}
	}
	.tile-content {
		.content-type {
			font-size: $collectionsDiscoverTileType;
			color: $interactiveText;
			.fa {
				position: relative;
				font-size: 18px;
				color: $fieldText;
				&:before {
					content: "";
					background: url('../images/icons/play_icon_grey.png') 50% 50% no-repeat;
					background-size: contain;
					display: inline-block;
					width: 16px;
					height: 16px;
					vertical-align: bottom;
				}
			}
		}
		.title {
			padding: 10px 0px;
			font-size: $collectionsDiscoverTileTitle;
			line-height: 1.2;
			color: $interactiveText;
			font-weight: 400;
			white-space: nowrap;
			text-overflow: ellipsis;
			overflow: hidden;
			line-height: 1;
			a {
				color: inherit;
				font-weight: inherit;
			}
		}
		.tile-text {
			color: $bodyText;
			font-size: $searchTileText;
			line-height: $searchTileText + 7;
			text-overflow: ellipsis;
			max-height: 75px;
			overflow: hidden;
		}
		.bottom-info {
			position: absolute;
			bottom: 10px;
			.featured {
				font-size: $collectionsDiscoverTileFeatured;
				color: $interactiveText;
				letter-spacing: -0.3px;
				line-height: $collectionsDiscoverTileFeatured +2;
				font-family: $serifFontOnly;
				font-style: italic;
			}
		}
	}
}

.maybeShow {
	display: none;
}

.view-search.everything .maybeShow,
.view-search.ideas .maybeShow {
	display: block;
}

.view.view-search {
	.searchZone {
		padding-left: 5px;
		margin-top: 60px;
		margin-bottom: 25px;
		display: inline-block;
		padding-bottom: 10px;
		border-bottom: 2px solid $hairline;
		.fa {
			font-size: $searchPlaceholderSize;
			color: $interactiveText;
//			-webkit-text-stroke: 3px $lightBg;
			opacity: 0.5;
			margin-right: 35px;
		}
		input {
			border: none;
			background: transparent;
			padding: 0;
			font-size: $searchPlaceholderSize;
			outline: none;
			color: $searchPlaceholderColor;
		}
		input::-webkit-input-placeholder {
			color: $searchPlaceholderColor;
			font-style: normal;
			font-size: $searchPlaceholderSize;
		}
		input:-moz-placeholder {
			/* Firefox 18- */
			color: $searchPlaceholderColor;
			font-style: normal;
			font-size: $searchPlaceholderSize;
		}
		input::-moz-placeholder {
			/* Firefox 19+ */
			color: $searchPlaceholderColor;
			font-style: normal;
			font-size: $searchPlaceholderSize;
		}
		input:-ms-input-placeholder {
			color: $searchPlaceholderColor;
			font-style: normal;
			font-size: $searchPlaceholderSize;
		}
	}
}
