.sponsors {
	.section-title-big {
		color: $headerText;
		font-family: "Graphik Web";
		font-weight: 500;
	}
	padding: 70px 0;
	.sponsor-list {
		font-size: 0px;
		width: 100%;
		padding: 30px 0 0 0;
		li {
			width: -webkit-calc(100% / 5);
			width: -moz-calc(100% / 5);
			width: calc(100% / 5);
			margin-bottom: 30px;
			height: $sponsorsItemHeight;
			text-align: center;
			padding: 0 10px;
			a {
				display: table;
				height: 100%;
				width: 100%;
				position: relative;
				img {
					display: table-cell;
					vertical-align: middle;
					text-align: center;
					margin: auto;
					position: absolute;
					top: 50%;
					left: 50%;
					-webkit-transform: translate(-50%, -50%);
					-ms-transform: translate(-50%, -50%);
					-moz-transform: translate(-50%, -50%);
					-o-transform: translate(-50%, -50%);
					transform: translate(-50%, -50%);
					max-width: 100%;
					max-height: 100%;
				}
				span {
					display: table-cell;
					vertical-align: middle;
					font-size: $sponsorsName;
				}
			}
		}
	}
	a.see-more {
		color: $interactiveText;
		font-size: $sponsorsSeeMoreBtn;
	}
	&.four-columns {
		padding: 30px 0;
		.sponsor-list {
			padding-top: 0;
			li {
			width: -webkit-calc(100% / 4);
			width: -moz-calc(100% / 4);
			width: calc(100% / 4);
			}
		}
	}
}

.sponsors-page {
	padding: 70px 0;
	.sponsor-list {
		font-size: 0px;
		width: auto;
		margin-left: -10px;
		margin-right: -10px;
		padding: 30px 0 0 0;
		position: relative;
		z-index: 5;
		li {
			width: -webkit-calc(100% / 3);
			width: -moz-calc(100% / 3);
			width: calc(100% / 3);
			margin-bottom: 30px;
			height: 100px;
			text-align: center;
			a {
				display: table;
				height: 100%;
				width: 100%;
				max-width: 300px;
				position: relative;
				text-align: center;
				img {
					display:block;
					text-align: center;
					margin: auto;
					position: absolute;
					top: 50%;
					left: 50%;
					-ms-transform: translate(-50%, -50%);
					-o-transform: translate(-50%, -50%);
					transform: translate(-50%, -50%);
					-webkit-transform: translate(-50%, -50%);
					-moz-transform: translate(-50%, -50%);
					max-width: 100%;
					max-height: 100%;
					width: 100%;
				}
				span {
					display: table-cell;
					vertical-align: middle;
					font-size: $sponsorsName;
					padding: 0 20px;
				}
			}
		}
	}
	.sponsor-level {
//		border-bottom: 1px solid $hairline;
		display: inline-block;
		padding-right: 20px;
		background: $lightBg;
		position: relative;
		z-index: 10;
		float: left;
	}

	.sponsor-level + .sponsor-list {
		clear: both;
		&:before {
			content: "";
			display: block;
			width: calc(100% - 20px);
			top: -23px;
			position: absolute;
			left: 10px;
			height: 1px;
			border-bottom: 1px;
			border-bottom-color: $hairline;
			border-bottom-style: dashed;
		}
	}
}
