.tags-carousel-wrapper {
	text-align: center;
	max-width: 840px;
	margin: auto;
	position: relative;
	.tags-carousel {
		position: relative;
		overflow: hidden;
		max-width: 780px;
		margin: 0 auto;
		ul {
			width: 20000em;
			position: relative;
			list-style: none;
			margin: 0;
			padding: 0;
			li {
				float: left;
				padding: 0 5px;
				a {
					border: 2px solid $cta;
					display: block;
					padding: 0px 30px;
					line-height: 36px;
					white-space: nowrap;
					font-weight: 400;
					color: $cta;
					background: #fff;
					font-size: $tagsCarouselFontSize;
					border-radius: 5px;
				}
			}
		}
	}
	a[class*="tags-carousel-control-"] {
		display: block;
		text-align: center;
		line-height: 40px;
		position: relative;
		width: 20px;
		height: 40px;
		i {
			position: absolute;
			letter-spacing: 0px;
			display: block;
			top: 50%;
			left: 50%;
			width: 20px;
			height: 20px;
			line-height: 20px;
			text-align: center;
			color: #fff;
			background: $cta;
			border-radius: 50%;
			-webkit-transform: translate(-50%, -50%);
			-ms-transform: translate(-50%, -50%);
			transform: translate(-50%, -50%);
			font-size: 15px;
		}
	}
	a[class*="-prev"] {
		position: absolute;
		left: 0;
		top: 0;
	}
	a[class*="-next"] {
		position: absolute;
		right: 0;
		top: 0;
	}
}

.landingpage.owlc {
	.tags-carousel-wrapper {
		.tags-carousel {
			ul {
				li {
					a {
						border: 2px solid $owlc;
						color: $owlc;
					}
				}
			}
		}
		a[class*="tags-carousel-control-"] {
			i {
				background: $owlc;
			}
		}
	}
	.clear-filters {
		background: $owlc;
	}
}

.landingpage.ocsl {
	.tags-carousel-wrapper {
		.tags-carousel {
			ul {
				li {
					a {
						border: 2px solid $ocsl;
						color: $ocsl;
					}
				}
			}
		}
		a[class*="tags-carousel-control-"] {
			i {
				background: $ocsl;
			}
		}
	}
	.clear-filters {
		background: $ocsl;
	}
}

.landingpage {
	.tags-carousel-wrapper {
		.tags-carousel {
			ul {
				li {
					a {
						border: 2px solid $otherInitiative;
						color: $otherInitiative;
					}
				}
			}
		}
		a[class*="tags-carousel-control-"] {
			i {
				background: $otherInitiative;
			}
		}
	}
	.clear-filters {
		background: $otherInitiative;
	}
}
