.tiles-grid {
	margin-bottom: 20px;
	.container {
		padding: 0;
	}
	.row {
		margin: 0;
	}
	div[class*="col"] {
		padding: 0;
	}
}

.container .tiles-grid {
	margin-left: -10px;
	margin-right: -10px;
	width: auto;
}

.tile {
	position: relative;
	border-radius: 0px;
	width: auto;
	height: $tileHeight;
	margin: 10px!important;
	border: none;
	box-shadow: none;
	background-position: center top!important;
	@media(min-width: 1024px) {
		min-height: 300px;
	}
	@media(min-width: 768px) and (max-width: 1023px) {
		min-height: 230px;
	}
	@media(max-width: 767px) {
		min-height: 300px;
	}
	&.small {
		font-size: 100%;
	}
	.tile-link {
		width: 100%;
		height: 100%;
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 11;
	}
	.panel-heading,
	.panel-body,
	.panel-footer {
		border-radius: 0px;
		z-index: 0;
	}
	.favourite {
		position: absolute;
		top: 0px;
		right: 20px;
		z-index: 100;
		overflow: hidden;
		width: 30px;
		.checkbox {
			margin: 0;
			top: -4px;
		}
		input[type="checkbox"] {
			display: none;
		}
		label {
			padding-left: 0px!important;
			pointer-events: none;
		}
		label:before {
			content: "\f097";
			font-family: "FontAwesome";
			color: #fff;
			font-size: 40px;
			position: relative;
			top: -10px;
			text-shadow: 1px 0px 3px rgba(0, 0, 0, 0.5);
			background: transparent;
			width: auto;
			height: auto;
			border: none;
		}
		input:checked+label:before,
		.checkbox.labelchecked label:before {
			content: "\f02e";
		}
		.fav-icon {
			position: relative;
		}
		.fav-icon:before {
			content: "\f097";
			font-family: "FontAwesome";
			color: #fff;
			font-size: 40px;
			position: relative;
			top: -15px;
			text-shadow: 1px 0px 3px rgba(0, 0, 0, 0.5);
			background: transparent;
			width: auto;
			height: auto;
			border: none;
			cursor: pointer;
		}
		.fav-icon.checked:before {
			content: "\f02e";
		}
	}
	em,
	span {
		font-size: 13px;
	}
	.panel-footer.open {
		box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.1);
		.expand-button {
			bottom: 5px;
		}
	}
	.type {
		background: rgba(0, 0, 0, 0.3);
		text-align: center;
		position: absolute;
		top: 0;
		left: 0;
		font-size: $tileType;
		letter-spacing: -0.3px;
		text-transform: uppercase;
		z-index: 2;
		color: $fieldText;
		padding: 10px 20px 5px;
		line-height: 1;
	}
	.title {
		h1 {
			padding-bottom: 10px;
			font-family: "Graphik Web";
			font-weight: 500;
		}
	}
	.panel-heading {
		background-size: cover!important;
		background-position: center top!important;
		min-height: $tileImageHeight;
		position: relative;
		border: none;
	}
	.panel-footer {
		position: absolute;
		width: 100%;
		border: none;
		height: 0;
		-webkit-transition: all 0.3s ease;
		transition: all 0.3s ease;
		padding: 0;
		z-index: 101;
		.expanded-tile-content {
			visibility: hidden;
			display: none;
		}
		.expand-button {
			position: absolute;
			bottom: -10px;
			left: 50%;
			-webkit-transform: translate(-50%, 0%);
			-ms-transform: translate(-50%, 0%);
			transform: translate(-50%, 0%);
			z-index: 100;
			padding: 5px 20px;
			&:before {
				content: "";
				width: 0;
				height: 0;
				border-left: 17px solid transparent;
				border-right: 17px solid transparent;
				bottom: -5px;
				position: absolute;
				left: 50%;
				-webkit-transform: translateX(-50%);
				-ms-transform: translateX(-50%);
				transform: translateX(-50%);
				-webkit-transition: all 0.3s ease;
				transition: all 0.3s ease;
			}
			.fa {
				position: relative;
				font-size: $tileExpandIcon;
				top: 5px;
				color: $fieldText;
			}
		}
		&.open {
			z-index: 102;
			.expand-button {
				bottom: 10px;
				&:before {
					bottom: 0px;
					display: none;
				}
				.fa:before {
					content: "\f068";
				}
			}
			.expanded-tile-content {
				height: 100%;
				visibility: visible;
				display: block;
				-webkit-animation-delay: 300ms;
				animation-delay: 300ms;
				-webkit-transition: all 0.5s ease;
				transition: all 0.5s ease;
				padding: 15px;
				pointer-events: auto;
				.text-block {
					font-size: $tileExpendedContent;
				}
			}
		}
	}
	&.panel-idea {
		.panel-article {
			.person {
				.by {
					font-size: $tileIdeaArticleBy;
					display: inline-block;
					color: #fff!important;
					&:before {
						content: "By: ";
					}
				}
			}
			.duration-date {
				em {
					display: none;
				}
			}
		}
		.panel-audio-video {
			.content-type {
				font-size: $tileContentType;
				.fa {
					position: relative;
					font-size: 18px;
					color: $fieldText;
					&:before {
						content: "";
						background: url(../images/icons/play_icon.png) 50% 50% no-repeat;
						background-size: contain;
						display: inline-block;
						width: $tilePlayIconSize;
						height: $tilePlayIconSize;
						vertical-align: bottom;
					}
				}
			}
			.person {
				.featuring {
					font-size: $tileIdeaArticleBy;
					display: inline-block;
					color: #fff!important;
					&:before {
						content: "Featuring: ";
						font-family: $serifFontOnly;
						font-style: italic;
					}
				}
			}
			.duration-date {
				.duration {
					display: block;
				}
				.date-release {
					display: none;
				}
			}
		}
		.panel-press {
			.duration-date {
				.date-release {
					font-size: $tileIdeaArticleBy;
					display: block;
				}
				.duration {
					display: none;
				}
			}
		}
		.panel-body {
			background: $ideaTile;
			color: $fieldText;
			position: relative;
			padding-bottom: 30px;
			text-align: left;
			height: $tileIdeaBodyHeight;
			overflow: hidden;
			.title {
				padding-bottom: 5px;
				text-align: left;
				h1 {
					line-height: 1;
					letter-spacing: -0.5px;
					font-weight: 500;
					padding-bottom: 10px;
					font-size: 20px;
					overflow: hidden;
					text-overflow: ellipsis;
					display: -webkit-box;
					-webkit-box-orient: vertical;
					-webkit-line-clamp: 3;
					/* number of lines to show */
					line-height: 20px;
					/* fallback */
					max-height: 62px;
					/* fallback */
				}
			}
			.person {
				line-height: 1;
				.by,
				.featuring {
					display: none;
					color: #fff!important;
					li {
						font: $serifFont;
						display: inline;
					}
					li:after {
						content: ", ";
						position: relative;
						left: -2px;
						top: 0px!important;
					}
					li:last-child:before {
						content: " and ";
						position: relative;
						left: -1px;
						top: 0px!important;
					}
					li:last-child:after {
						content: ".";
					}
					li:nth-last-child(2):after {
						content: " ";
					}
					li:first-child {
						&:before {
							content: " ";
						}
					}
					li a {
						color: #fff!important;
					}
				}
			}
			.duration-date {
				position: absolute;
				bottom: 15px;
				em {
					font: $serifFont;
					font-size: 14px!important;
				}
			}
			.person+.duration-date {
				position: relative;
				bottom: 0px;
			}
		}
		.panel-footer {
			background: $ideaTile;
			.expand-button {
				&:before {
					border-top: 15px solid $ideaTile;
				}
			}
		}
	}
	&.panel-workshop {
		.title {
			h1 {
				font-size: $tileTitle;
				letter-spacing: .5px;
				font-weight: 500;
			}
		}
		.person {
			padding: 15px 0;
			.person-images li {
				width: $tileWorkshopImage;
				height: $tileWorkshopImage;
				margin-right: 10px;
				background: rgba(255, 255, 255, 0.2);
				-webkit-transition: all 0.3s ease;
				transition: all 0.3s ease;
				vertical-align: top;
				overflow: hidden;
				img {
					width: 100%;
				}
				.more {
					.fa {
						line-height: $tileWorkshopImage;
						color: $fieldText;
					}
				}
				&:hover {
					background: rgba(255, 255, 255, 0.4);
				}
				filter: grayscale(100%);
				filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/></filter></svg>#grayscale");
				-webkit-filter: grayscale(100%);
				-moz-filter: grayscale(100%);
				-ms-filter: grayscale(100%);
				-o-filter: grayscale(100%);
				-webkit-filter: gray;
				filter: gray;
			}
			.person-names {
				padding: 10px 0;
				li {
					font: $serifFont;
					display: inline;
				}
				li:after {
					content: ", ";
					position: relative;
					left: -2px;
					top: 0px!important;
				}
				li:last-child:before {
					content: "";
				}
				li:last-child:after {
					content: "";
				}
				li:nth-last-child(2):after {
					content: " ";
					top: 0px!important;
				}
				li+li:last-child:before {
					content: " and ";
					position: relative;
					left: -1px;
					top: 0px!important;
				}
				li a {
					color: #fff!important;
				}
			}
		}
		.panel-body {
			background: $workshopTile;
			color: $fieldText;
			padding: 40px 15px 20px 15px;
			height: 100%;
			@media(min-width: 1024px) {
				min-height: 300px;
			}
			position: relative;
			z-index: 1;
			overflow: hidden;
			.date-location {
				position: absolute;
				bottom: 30px;
				font-family: $serifFontOnly;
				li {
					position: relative;
					display: inline-block;
					em {
						font: $serifFont;
					}
				}
				li+li:before {
					content: " | ";
					font-style: normal;
					display: inline-block;
					margin: 0 10px;
					font-style: italic;
				}
			}
			.content-type {
				font-size: $tileContentType;
			}
		}
		.panel-footer {
			background: $workshopTile;
			.expand-button {
				&:before {
					border-top: 15px solid $workshopTile;
				}
			}
		}
	}
	&.panel-learn {
		@extend .panel-workshop;
		.panel-body,
		.panel-footer {
			background: $onlineLearnTile;
		}
		.expand-button {
			&:before {
				border-top: 15px solid $onlineLearnTile!important;
			}
		}
	}
	&.panel-category {
		background-size: cover!important;
		background-repeat: no-repeat!important;
		background-position: center top!important;
		.panel-body {
			height: 100%;
			padding: 20px;
			.category {
				border: 2px solid #fff;
				height: 100%;
				position: relative;
				display: block;
				width: 100%;
				height: 100%;
				padding: 10px;
				h1 {
					display: table;
					width: 100%;
					height: 100%;
					padding: 0px;
					a {
						display: table-cell;
						vertical-align: middle;
						height: 100%;
						text-align: center;
						color: #fff;
						font-size: $tileTitle;
						font-weight: 500;
						letter-spacing: -0.5px;
						font-family: "Graphik Web";
					}
				}
			}
		}
		.panel-footer {
			background: #000000;
			.expand-button {
				&:before {
					border-top: 15px solid #000000;
				}
			}
		}
	}
	&.panel-collection {
		@extend .panel-learn;
		background: $specialTile;
		.panel-body {
			background: transparent;
			.image-tiles {
				ul {
					margin-right: -5px;
					margin-left: -15px;
					font-size: 0px;
					li {
						width: 25%;
						height: 0;
						padding-bottom: 25%;
						overflow: hidden;
						position: relative;
						background-repeat: no-repeat!important;
						background-size: cover!important;
					}
				}
			}
		}
		.panel-footer {
			background: $specialTile;
			.expand-button {
				position: absolute;
				bottom: -10px;
				left: 50%;
				-webkit-transform: translate(-50%, 0%);
				-ms-transform: translate(-50%, 0%);
				transform: translate(-50%, 0%);
				z-index: 100;
				&:before {
					border-top: 15px solid $specialTile!important;
				}
			}
		}
	}
	&.panel-general-purpose {
		.panel-body {
			background: $specialTile;
			color: $fieldText;
			position: relative;
			padding-bottom: 30px;
			text-align: left;
			height: $tileIdeaBodyHeight;
			overflow: hidden;
			.title {
				padding-bottom: 5px;
				text-align: left;
				h1 {
					font-size: $tileTitle;
					line-height: 1;
					letter-spacing: -0.5px;
					font-weight: 500;
					padding-bottom: 10px;
				}
			}
			.person+.duration-date {
				position: relative;
				bottom: 0px;
			}
		}
		.panel-footer {
			background-color: $specialTile;
			.expanded-tile-content {
				visibility: hidden;
				display: none;
			}
			.expand-button {
				&:before {
					border-top: 15px solid $specialTile;
				}
			}
		}
	}
	&.panel-person,
	&.panel-person.small {
		min-height: 150px;
		background: $teacherTile;
		max-height: $personTileHeight!important;
		.panel-body {
			height: 100%;
			padding: 0;
			.person-image,
			.person-bio {
				float: left;
			}
			.person-image {
				width: 100%;
				max-width: $tilePersonImage;
				height: 100%;
				overflow: hidden;
				position: relative;
				img {
					position: absolute;
					top: 0;
					left: 50%;
					-webkit-transform: translateX(-50%);
					-ms-transform: translateX(-50%);
					transform: translateX(-50%);
					height: 100%;
					width: auto;
					filter: grayscale(100%);
					filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/></filter></svg>#grayscale");
					-webkit-filter: grayscale(100%);
					-moz-filter: grayscale(100%);
					-ms-filter: grayscale(100%);
					-o-filter: grayscale(100%);
					-webkit-filter: gray;
					filter: gray;
				}
			}
			.person-bio {
				padding: 15px;
				width: calc(100% - 150px);
				height: calc(100% - 15px);
				overflow: hidden;
				.person-ocupation {
					font-size: $tilePersonJob;
					display: none;
				}
				.person-name {
					font-size: $tilePersonName;
					border-bottom: 2px solid rgba(255, 255, 255, 0.5);
					margin-bottom: 10px;
					padding-bottom: 5px;
				}
				.person-info {
					font: $serifFont;
					font-size: $tilePersonInfo;
				}
			}
		}
	}
}

#tile-alert {
	position: fixed;
	top: -100%;
	left: 0;
	right: 0;
	width: 100%;
	background: $cta;
	color: #fff;
	z-index: 3000;
	-webkit-transition: all 0.6s ease-in-out;
	transition: all 0.6s ease-in-out;
	box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, 0.5);
	.alert {
		margin: 0;
	}
	.alert-logged-in {
		display: none;
	}
	.close {
		opacity: 0.7;
		outline: 0;
		outline: none;
	}
	&.open {
		top: 0;
	}
	.tile-name {
		font-style: italic;
	}
	a {
		color: #fff;
		font-weight: 400;
	}
}

#alert {
	position: relative;
	width: 100%;
	background: $cta;
	color: #fff;
	-webkit-transition: all 0.6s ease-in-out;
	transition: all 0.6s ease-in-out;
	box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, 0.5);
	.alert-link {
		position: absolute;
		top: 0;
		left: 0;
		display: block;
		width: 100%;
		height: 100%;
		cursor: pointer;
		z-index: 1;
	}
	.alert {
		padding: 15px 25px;
		margin: 0;
		p {
			margin: 0;
		}
	}
	.close {
		opacity: 0.7;
		outline: 0;
		outline: none;
		position: absolute;
		z-index: 1000;
		top: 2px;
		right: 0;
		line-height: 50px;
		padding: 0 15px;
	}
	&.owlc {
		background: $owlc;
	}
	&.ocsl {
		background: $ocsl;
	}
	&.other {
		background: $otherInitiative;
	}
}

body.logged-in {
	.tile .favourite label {
		pointer-events: auto;
	}
	#tile-alert {
		.alert .alert-logged-in {
			display: block;
		}
		.alert .alert-not-logged-in {
			display: none;
		}
	}
}
