.nav-tabs {
	text-align: center;
	font-size: 0;
	>li {
		float: none;
		display: inline-block;
		font-size: 16px;
		a {
			text-transform: uppercase;
			color: $interactiveText!important;
			font-weight: 300;
			&:hover {
				color: $interactiveText!important;
				font-weight: 300;
			}
		}
	}
}

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:hover,
.nav-tabs>li.active>a:focus {
	color: $interactiveText;
	background-color: transparent;
	border: none;
	border-bottom: 5px solid;
	border-bottom-color: $cta;
	cursor: pointer;
	font-weight: 300;
}

.nav-tabs>li>a:hover {
	border-color: transparent;
}
