#mainContent.video {
	@extend #mainContent.article;
	.quote-section {
		margin-bottom: 30px;
		margin-left: 30px;
	}
	.carousel-section .carousel {
		background: transparent;
	}
}

.video #videoCarousel {
	position: relative;
	overflow: hidden;
	max-width: $videoPageCarouselWidth;
	margin: 0 auto 30px;
	.jcarousel-control-prev,
	.jcarousel-control-next {
		position: absolute;
		bottom: 0;
		left: 0;
		text-align: center;
		text-shadow: none;
		background-color: transparent;
		height: $videoCarouselItem;
		z-index: 2;
	}
	.jcarousel-control-prev {
		left: 0;
		right: auto;
	}
	.jcarousel-control-next {
		right: 0;
		left: auto;
	}
	.video-carousel {
		position: relative;
		overflow: hidden;
		width: 100%;
		margin: auto;
		height: $videoPageCarouselHeight;
		ul {
			width: 20000em;
			position: relative;
			list-style: none;
			margin: 0;
			padding: 0;
			li.item {
				display: block;
				float: left;
			}
		}
		.video-frame {
			width: $videoCarouselSideItem;
			height: $videoPageCarouselHeight;
			overflow: hidden;
			position: relative;
			background: $darkBg;
			-webkit-transition: 0.7s ease-out;
			-o-transition: 0.7s ease-out;
			-moz-transition: 0.7s ease-out;
			transition: 0.7s ease-out;
			iframe {
				width: $videoCarouselCenterItem;
				height: 100%;
				float: right;
				border: none;
			}
			.video-overlay {
				background: rgba(34, 34, 34, 0.25);
				position: absolute;
				height: -webkit-calc(100% / 2);
				height: -moz-calc(100% / 2);
				height: calc(100% / 2);
				bottom: 0;
				z-index: 100;
				width: 100%;
				-webkit-transition: all 0.5s ease;
				-o-transition: all 0.5s ease;
				-moz-transition: all 0.5s ease;
				transition: all 0.5s ease;
				padding: 20px;
				opacity: 0;
				pointer-events: none;
				.video-title {
					color: $fieldText;
					font-size: $videoCarosuelVideoTitle;
					margin-top: 10px;
					font-weight: 300;
				}
				.video-duration {
					color: $fieldText;
					font-size: $videoCarosuelVideoDuration;
					position: absolute;
					bottom: 15px;
				}
				img {
					width: 35px;
					height: 35px;
				}
			}
			.type-of-video {
				position: absolute;
				top: 15px;
				left: 15px;
				z-index: 101;
				text-transform: uppercase;
				color: $fieldText;
				font-size: $videoCarosuelVideoType;
				font-weight: 300;
				display: none;
			}
			.vjs-big-play-button {
				display: none;
			}
		}
		.active .video-frame {
			height: $videoCarouselItem;
			width: $videoCarouselCenterItem;
			padding-top: 0px;
			margin: 0 10px;
			-webkit-transition: 0.7s ease-out;
			-o-transition: 0.7s ease-out;
			-moz-transition: 0.7s ease-out;
			transition: 0.7s ease-out;
			iframe {
				float: left;
				border: none;
			}
			.video-overlay {
				opacity: 1;
				width: $videoCarouselCenterItem;
			}
			.type-of-video {
				display: block;
			}
			.vjs-big-play-button {
				display: block;
			}
			&:hover {
				.video-overlay {
					opacity: 0;
				}
			}
		}
	}
	.video-carousel .item.active+.item .video-frame iframe {
		float: left;
		border: none;
	}
	.video-js .vjs-dock-text {
		left: 0;
		bottom: 0;
		top: auto;
		margin: 0;
		width: 100%;
		background: rgba(34, 34, 34, .45);
		padding: 30px 20px 20px;
		min-height: 40%;
	}
}

#mainContent.video .carousel-section .carousel-control {
	width: $videoCarouselSideItem;
	cursor: pointer;
	height: 100%;
	z-index: 1000;
}

.video-popup {
	position: fixed;
	top: -$videoHeight;
	left: 0;
	width: 100%;
	max-width: 100%;
	height: $videoHeight;
	background: #000;
	z-index: 2000;
	transition: all 0.3s ease;
	&.open {
		top: 0;
	}
	iframe,
	video,
	.video-js {
		height: $videoHeight;
		display: block;
		margin: auto;
		width: $videoWidth;
		border: none;
	}
	.close {
		position: absolute;
		top: 0;
		right: 0;
		padding: 20px;
		font-size: 20px;
		color: #fff;
		opacity: 0.7;
		z-index: 2001;
		&:hover {
			opacity: 1;
		}
	}
}

@media (max-width:991px) {
	.video-popup {
		width: 100%;
		height: 0;
		padding-bottom: calc(56.25% + 30px);
		iframe,
		video,
		.video-js {
			width: 100%;
			height: calc(100% - 30px);
			position: absolute;
			top: 30px;
			left: 0;
		}
		.close {
			top: 0;
			left: 0;
			width: 100%;
			padding: 0px;
			text-align: center;
			height: 30px;
			.fa {
				position: absolute;
				line-height: 30px;
				font-size: 14px;
				right: 10px;
				font-weight: 300;
			}
			&:before {
				content: "Close video";
				position: relative;
				width: 100%;
				height: 100%;
				top: 0;
				left: 0;
				text-align: center;
				color: #fff;
				font-size: 12px;
				font-weight: 300;
				line-height: 30px;
			}
		}
	}
}

.vjs-big-play-button {
	display: none;
}
