.women-leadership {
	-moz-background-size: cover!important;
	-o-background-size: cover!important;
	background-size: cover!important;
	background-position: center top!important;
	background-repeat: no-repeat!important;
	padding: 40px 0 0 0;
	max-height: $homeWomenLeadershipHeight;
	margin-top: 10px;
	.section-title {
		font-size: $homeWomenLeadershipTitle;
		color: $headerText;
		line-height: 1.2;
		font-family: "Graphik Web";
		font-weight: 500;
	}
	.section-subtitle {
		color: $bodyText;
		max-width: $homeWomenLeadershipSubtitleWidth;
		font-size: $homeWomenLeadershipSubtitle;
		padding: 10px 0 20px;
		line-height: 1.3;
	}
	.section-subtitle+.btn {
		margin-bottom: 30px;
	}
	a.btn {
		color: #fff;
		font-weight: 400;
		&:hover {
			color: #fff;
			font-weight: 400;
		}
	}
}
