#mainContent.workshop-page {
	@extend .fancy-page;
	#pageContent {
		.person.mobile-only {
			padding: 0;
			width: 100%;
			font-size: 0;
			width: 100%;
			position: relative;
			text-align: center;
			.person-images li {
				width: 25%;
				padding: 0 10px;
				-webkit-transition: all 0.3s ease;
				transition: all 0.3s ease;
				vertical-align: top;
				overflow: hidden;
				position: relative;
				.image {
					background: rgba(255, 255, 255, 0.2);
					width: 100%;
					height: 0;
					padding-bottom: 100%;
					overflow: hidden;
					position: relative;
					background-size: cover!important;
					background-repeat: no-repeat!important;
					background-position: center top!important;
					filter: grayscale(100%);
					filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/></filter></svg>#grayscale");
					-webkit-filter: grayscale(100%);
					-moz-filter: grayscale(100%);
					-ms-filter: grayscale(100%);
					-o-filter: grayscale(100%);
					-webkit-filter: gray;
					filter: gray;
				}
			}
			img {
				max-width: 100%;
				position: absolute;
				.more {
					width: 100%;
					height: 0;
					padding-bottom: 100%;
					background: $darkBg;
					position: relative;
					.fa {
						position: absolute;
						color: #fff;
						top: 50%;
						left: 50%;
						-webkit-transform: translate(-50%, -50%);
						-ms-transform: translate(-50%, -50%);
						transform: translate(-50%, -50%);
						font-size: 20px;
					}
				}
				p {
					font-size: 13px;
					color: #000;
					margin-top: 5px;
				}
			}
		}
		.sidebar {
			margin-top: 2px;
			position: relative;
			ul>li>,
			.page-share {
				.social-links {
					.fa-circle {
						color: $cta;
					}
				}
				.add-fav {
					margin-top: 20px;
					position: relative;
					padding: 0 30px;
				}
			}
			#sideMenu {
				&.affix {
					top: 20px;
					position: fixed;
				}
				&.affix-top {
					position: relative;
				}
				&.affix-bottom {
					position: absolute;
					top: auto!important;
					bottom: 0!important;
				}
			}
		}
		.page-body {
			background: #fff;
			padding: 30px 20px 0;
			border-bottom: none;
		}
		.ws-section {
			min-height: 100px;
			margin-bottom: 20px;
			padding: 20px;
			&:last-child {
				margin-bottom: 0;
			}
			.section-title {
				font-size: 24px;
				color: $interactiveText;
				margin-bottom: 25px;
				font-weight: 700;
			}
			&:nth-child(even) {
				background: $lightBg;
			}
			p {
				font-size: 16px;
			}
		}
		#wsDescription {
			.workshop-intro {
				font-family: $serifFontOnly;
				font-style: italic;
				font-size: $articleIntro;
				display: block;
				letter-spacing: -0.2px;
				color: $interactiveText;
				@extend .bottom-bar-left-teal;
			}
			.carousel-section {
				.section-title {
					font-size: 30px;
					padding: 20px 0;
					color: #fff;
				}
			}
			ul {
				margin-bottom: 20px;
				li {
					display: block;
					position: relative;
					a:hover {
						color: $cta;
					}
				}
			}
		}
		#wsMoreInformation {
			p {
				margin-bottom: 5px;
				font-size: 16px;
			}
			ul {
				padding-left: 40px;
				margin-bottom: 20px;
				li {
					display: block;
					padding: 5px 0 5px 10px;
					position: relative;
					&:before {
						content: "";
						display: block;
						position: absolute;
						left: 0;
						top: 15px;
						width: 5px;
						height: 5px;
						border-radius: 50%;
						-webkit-border-radius: 50%;
						-ms-border-radius: 50%;
					}
					a:hover {
						color: $cta;
					}
				}
			}
		}
		#wsSchedule {
			padding: 20px;
			.workshop-schedule {
				td {
					padding: 3px 0;
					vertical-align: top;
				}
			}
			.schedule {
				.schedule-day {
					margin-bottom: 20px;
					.day {
						border-bottom: 1px solid $hairline;
						margin-bottom: 10px;
						padding-bottom: 5px;
						color: $interactiveText;
						.date {
							float: right;
							display: block;
						}
					}
					.schedule-row {
						* {
							font-size: 16px;
							color: #000;
						}
					}
				}
			}
			table {
				width: 100%;
				th {
					border-bottom: 1px solid $hairline;
					margin-bottom: 10px;
					padding-bottom: 5px;
					color: $interactiveText;
					height: 35px;
				}
				td {
					font-size: 16px;
					color: #000;
					height: 25px;
				}
			}
			.section-title {
				color: #000;
			}
		}
		#wsTeachers {
			.teachers-grid {
				padding: 0;
				margin: 0;
				position: relative;
				font-size: 0;
				margin-left: -10px;
				margin-right: -10px;
				li {
					width: 25%;
					display: inline-block;
					margin-bottom: 20px;
					position: relative;
					padding: 0 10px 0 10px;
					vertical-align: top;
					.teacher-image {
						width: 100%;
						height: 0;
						padding-bottom: 100%;
						overflow: hidden;
						margin-bottom: 10px;
						background-size: cover!important;
						background-repeat: no-repeat!important;
						background-position: center top!important;
						position: relative;
						filter: grayscale(100%);
						filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/></filter></svg>#grayscale");
						-webkit-filter: grayscale(100%);
						-moz-filter: grayscale(100%);
						-ms-filter: grayscale(100%);
						-o-filter: grayscale(100%);
						-webkit-filter: gray;
						filter: gray;
						a {
							position: absolute;
							top: 0;
							left: 0;
							right: 0;
							bottom: 0;
							width: 100%;
							height: 100%;
						}
					}
					.teacher-name {
						font-size: 14px;
						margin-bottom: 10px;
						a {
							color: inherit;
						}
					}
					.teacher-bio {
						font-size: 14px;
					}
				}
			}
		}
		#wsTuition {
			.row {
				margin: 0;
				[class*="col"] {
					padding: 0;
				}
			}
			.table {
				p {
					margin-bottom: 5px;
					color: $interactiveText;
					i {
						display: inline-block;
						margin-left: 10px;
					}
					+p {
						padding-left: 10px;
//						font-size: 13px;
						margin: 0;
					}
				}
				tr>td {
					vertical-align: middle!important;
				}
			}
			#feesAccordion {
				.panel {
					border: none;
					background-color: transparent;
					margin-top: 0px;
					box-shadow: inset 0px -2px 0px 0px $hairline, inset 0px 2px 0px 0px $hairline;
					border-radius: 0;
					&:not(:first-child) {
						margin-top: -2px;
					}
				}
				.panel-group {
					margin: 0;
				}
				.panel-body {
					padding-left: 15px;
					padding-right: 15px;
					border-top: none;
				}
				.panel-heading {
					padding: 0;
					background: transparent;
					border: none;
					border-color: transparent;
					a {
						display: block;
						padding: 12px 15px;
						-webkit-transition: all 0.3s ease;
						transition: all 0.3s ease;
						color: $cta;
						margin-bottom: 0;
						&:hover {
							color: $cta;
						}
						&.collapsed {
							color: $interactiveText;
							&:hover {
								color: $cta;
							}
							&:after {
								-webkit-transform: rotate(0deg);
								-ms-transform: rotate(0deg);
								transform: rotate(0deg);
							}
						}
						&:after {
							content: "\f107";
							font-family: "FontAwesome";
							position: absolute;
							right: 15px;
							-webkit-transition: all 0.3s ease;
							transition: all 0.3s ease;
							-webkit-transform: rotate(-180deg);
							-ms-transform: rotate(-180deg);
							transform: rotate(-180deg);
							color: #fff;
							line-height: 20px;
							text-align: center;
							background: $cta;
							border-radius: 50%;
							width: 20px;
							height: 20px;
							letter-spacing: -0.5px;
						}
					}
					.panel-title {
						margin-bottom: 0;
						padding: 0;
					}
				}
			}
		}
		div[id*="accomodationModal"] {
			z-index: 11000;
			.modal-title {
				margin: 0;
			}
			div[id*="unit-carousel"] {
				.item {
					height: 300px;
				}
			}
			.unit-price {
				margin-bottom: 10px;
				font-size: 16px;
			}
			.unit-details {
				padding: 10px 0;
				p {
					margin-bottom: 5px;
				}
			}
			.carousel-control {
				width: 50px;
			}
		}
		#wsSponsors {
			.sponsor-list {
				font-size: 0px;
				width: 100%;
				padding: 30px 0 0 0;
				li {
					width: calc(100% / 4);
					margin-bottom: 30px;
					height: $sponsorsItemHeight;
					text-align: center;
					a {
						display: table;
						height: 100%;
						width: 100%;
						position: relative;
						img {
							display: table-cell;
							vertical-align: middle;
							text-align: center;
							margin: auto;
							position: absolute;
							top: 50%;
							left: 50%;
							-webkit-transform: translate(-50%, -50%);
							-ms-transform: translate(-50%, -50%);
							transform: translate(-50%, -50%);
							max-width: 100%;
						}
						span {
							display: table-cell;
							vertical-align: middle;
							font-size: $sponsorsName;
						}
					}
				}
			}
			a.see-more {
				color: $interactiveText;
				font-size: $sponsorsSeeMoreBtn;
			}
			.sponsor-text-only {
				column-count: 2;
				-webkit-column-count: 2;
				-moz-column-count: 2;
				font-size: 16px;
				text-align: left;
				list-style: none;
				li {
					display: block;
					margin-bottom: 10px;
				}
			}
		}
		#wsVisitingOmega {
			.section-title {
				font-size: 43px;
			}
			.tile {
				height: $workshopVisitTileHeight;
				min-height: $workshopVisitTileHeight;
				position: relative;
				margin-bottom: 20px;
				background-size: cover!important;
				background-repeat: no-repeat!important;
				background-position: center center!important;
				display: table;
				width: 100%;
				a {
					position: relative;
					color: #fff;
					width: 100%;
					height: 100%;
					display: table-cell;
					vertical-align: bottom;
					padding: 20px;
				}
			}
		}
		#wsDiscoverMore {
			padding: 0 20px;
			.discover-more {
				padding-bottom: 20px;
				.section-title {
					margin-bottom: 25px;
					padding-bottom: 0;
				}
				.related {
					margin-bottom: 25px;
					.related-tiles {
						width: calc(100% - 20px);
						border-bottom: 1px solid $hairline;
						margin-bottom: 10px;
						padding: 10px 0; 
						font-size: 16px;
						color: $interactiveText;
						position: relative;
						margin-left: 10px;
					}
				}
				.related:last-of-type {
					padding-bottom: 0;
					margin-bottom: 0;
				}
			}
		}
		.tile {
			h1 {
				margin-bottom: 0;
			}
			ul li {
				font-size: inherit;
			}
		}
	}
}

#wsDiscoverMore {
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		margin-bottom: 0;
	}
	.tile ul li {
		font-size: inherit;
	}
}

.modal {
	z-index: 11000;
}

.modal-backdrop {
	z-index: 10500;
}
