.yamm {
	.nav,
	.collapse,
	.dropup,
	.dropdown {
		position: static;
	}
	.container {
		position: relative;
	}
	.dropdown-menu {
		left: auto;
	}
	.yamm-content {
		padding: 20px 0px;
	}
	.dropdown.yamm-fw .dropdown-menu {
		left: 0;
		right: 0;
	}
} 