@media (max-width: 767px) {
    body {
        padding-top: 50px;
    }
    .container .tiles-grid {
        margin-left: 0px;
        margin-right: 0px;
    }
    //	homepage - carousel
    .container {
        width: 320px;
        padding: 0 10px;
    }
    .navbar.yamm {
        display: none;
    }
    nav.navbar.mobile .dropdown-menu {
        .sublist {
            li {
                margin-bottom: 0px;
                display: block;
                width: 100%;
                position: relative;
                font-size: 0;
                a {
                    display: inline-block;
                    text-decoration: none;
                    line-height: inherit;
                    position: relative;
                    padding: 0;
                    height: 40px;
                    margin-bottom: 10px;
                    font-size: 14px;
                }
            }
        }
        .tow-col-list.sublist {
            li {
                a {
                    height: auto;
                }
            }
        }
    }
    nav.navbar.mobile {
        display: block!important;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 1030;
        box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.5);
        background: rgba(255, 255, 255, 1);
        .navbar-header {
            position: relative;
            margin: 0;
            bottom: 0;
            img {
                max-width: 100px;
            }
        }
        .container-fluid {
            .navbar-collapse {
                margin: 0;
            }
        }
        .navbar-toggle {
            width: 70px;
            border: none;
            margin-right: 5px;
            i {
                float: left;
                font-size: 16px;
                color: $hairline;
            }
            .icon-bar {
                float: right;
                background: $hairline;
            }
            &:hover {
                background-color: transparent;
            }
        }
        #mainMenuMobile {
            max-height: 100%;
            height: calc(100vh - 50px);
            overflow-y: scroll;
            overflow-x: hidden;
            max-width: 320px;
            margin: auto;
            &::-webkit-scrollbar {
                display: none;
            }
        }
        .nav-top,
        .nav-middle,
        .nav-bottom {
            width: 100%;
            display: block;
        }
        #search {
            background: $cta;
            margin-top: 0;
            border-top: 0;
        }
        .nav-top {
            font-size: 0;
            padding: 0 10px;
            .dropdown {
                display: inline-block;
                min-width: 50%;
                position: relative;
                font-size: 16px;
                >a {
                    text-transform: uppercase;
                    padding: 10px 0;
                    display: block;
                }
                &.open {
                    border-top: 1px solid $hairline;
                    border-bottom: 1px solid $hairline;
                    width: 100%;
                    .dropdown-menu {
                        display: block;
                    }
                }
                .dropdown-menu {
                    position: static;
                    top: 0;
                    left: 0;
                    z-index: 1000;
                    display: none;
                    float: none;
                    min-width: 200px;
                    padding: 0;
                    margin: 0;
                    text-align: left;
                    list-style: none;
                    background-color: white;
                    background-clip: padding-box;
                    border: none;
                    border-radius: 0px;
                    box-shadow: none;
                    color: #6a6a6a;
                    .title {
                        font-size: 14px;
                        margin: 0 0 5px 0;
                        padding: 5px 0;
                    }
                }
                .container {
                    width: 100%;
                    padding-top: 0;
                }
                .sublist.columns {
                    column-count: 2;
                    -webkit-column-count: 2;
                    -moz-column-count: 2;
                }
            }
        }
        .nav-middle {
            background: #f0f0f0;
            margin-top: 10px;
            li {
                display: block;
                float: left;
                padding: 0;
                a {
                    display: block;
                    width: 100%;
                    padding: 0;
                    text-align: center;
                    line-height: 65px;
                    font-size: 16px;
                    font-weight: 300;
                    color: #6d6d6d;
                    &:hover {
                        background: rgba(0, 0, 0, 0.12);
                    }
                }
            }
            li.login,
            li.register {
                width: 50%;
                border-bottom: 1px solid $hairline;
            }
            li.login,
            li.cart {
                border-right: 1px solid $hairline
            }
            li.catalog {
                width: 100%;
                clear: both;
            }
            li.cart,
            li.email {
                border-top: 1px solid $hairline;
                width: 50%;
            }
            li.cart img {
                width: 49px;
                height: 36px;
                opacity: 0.65;
            }
            li.email img {
                width: 50px;
                height: 34px;
                opacity: 0.65;
            }
        }
        .nav-bottom {
            .social-block {
                margin-top: 10px;
                .btn {
                    width: 100%;
                    text-align: left;
                    max-width: 320px;
                    height: 30px;
                    margin-bottom: 10px;
                    color: #000;
                    background: #fff;
                    display: block;
                    border-radius: 0px;
                    line-height: 30px;
                    font-weight: 300;
                    &.facebook {
                        background: $facebookColor;
                        color: #fff;
                    }
                    &.twitter {
                        background: $twitterColor;
                        color: #fff;
                    }
                    &.instagram {
                        background: $instagramColor;
                        color: #fff;
                    }
                    &.youtube {
                        background: $youtubeColor;
                        color: #fff;
                    }
                    &.googleplus {
                        background: $googleplusColor;
                        color: #fff;
                    }
                    &.linkedin {
                        background: $linkedinColor;
                        color: #fff;
                    }
                    &.pinterest {
                        background: $pinterestColor;
                        color: #fff;
                    }
                }
            }
            .shop-mail {
                li {
                    text-align: left;
                    a {
                        padding: 5px 10px;
                        display: inline-block;
                    }
                }
            }
            form {
                padding-bottom: 20px;
                margin-top: 10px;
                legend {
                    font-size: 14px;
                    margin-bottom: 5px;
                    border: none;
                }
            }
        }
        .dropdown-backdrop {
            display: none;
        }
    }
    #hero {
        #homeCarousel {
            height: 285px;
            .item {
                .item-caption {
                    .container {
                        padding: 0;
                        width: 100%;
                    }
                    .caption-content {
                        .omega-moment-tag {
                            display: block;
                            font-size: 13px;
                            letter-spacing: 0.2px;
                        }
                        .caption-author-date,
                        .caption-text {
                            font-size: 12px;
                            letter-spacing: 0.2px;
                            display: block;
                        }
                    }
                }
            }
        }
    }
    //	tiles
    .panel.tile {
        margin: 10px 10px 20px 10px!important;
        height: auto!important;
        min-height: 300px;
        &.panel-category {
            height: 150px!important;
            min-height: 150px;
            background-position: center center!important;
            .panel-body {
                min-height: 150px;
            }
        }
        .panel-body {
            min-height: 300px;
        }
        .panel-footer.open {
            position: relative;
        }
        .tile-link {
            height: 100%;
        }
        &.panel-general-purpose,
        &.panel-idea {
            .panel-heading {
                height: 160px;
            }
            .panel-body {
                height: 140px;
                min-height: 140px;
            }
        }
        &.panel-person,
        &.panel-person.small {
            background: transparent;
            min-height: auto;
            margin-bottom: 20px;
            max-height: 100%!important;
            background: transparent;
            .panel-body {
                text-align: center;
                min-height: auto;
                * {
                    display: block;
                }
                .person-image {
                    display: block;
                    width: 100px;
                    height: 100px;
                    margin: auto;
                    float: none;
                }
                .person-bio {
                    width: 100%;
                    display: block;
                    .person-ocupation {
                        display: block;
                        text-transform: uppercase;
                    }
                    span {
                        color: $interactiveText;
                    }
                    .person-name {
                        font-size: 18px;
                        font-weight: 400;
                        border: none;
                        padding: 0 15px;
                    }
                }
            }
        }
        //	small tile style
        &.small {
            min-height: auto;
            height: auto!important;
            width: auto!important;
            background-color: transparent;
            margin: 10px !important;
            .favourite,
            .panel-heading,
            .panel-footer {
                display: none;
            }
            .panel-body {
                padding: 0 10px;
                background: transparent;
                min-height: auto!important;
                height: auto!important;
                * {
                    display: none;
                }
                .content-type {
                    display: inline;
                    span {
                        display: inline;
                        color: $interactiveText;
                        font-size: 16px;
                        &:after {
                            content: ": "
                        }
                    }
                    * {
                        display: block;
                    }
                }
                .title {
                    display: inline;
                    h1 {
                        display: inline;
                        color: $interactiveText;
                        font-size: 16px;
                    }
                    * {
                        display: block;
                    }
                }
            }
            &.plus {
                .panel-body {
                    .date-location {
                        display: block;
                        color: $interactiveText;
                        position: relative;
                        bottom: auto;
                        * {
                            display: inline-block;
                        }
                    }
                }
            }
        }
        &.multipurpose {
            &[class*="panel-"] {
                .tile-link {
                    height: 100%;
                }
            }
        }
    }
    //	home quote section
    .quote-section {
        #quoteCarousel {
            height: 500px;
            .item {
                background-size: cover !important;
                background-position: right -400px top !important;
                background-repeat: no-repeat !important;
                padding: 0;
                height: 100%;
                .container.full-height {
                    padding: 20px 10px;
                    background: rgba(255, 255, 255, 0.8);
                    position: absolute;
                    bottom: 0;
                    height: auto;
                    width: 100%;
                }
            }
            .quote-text {
                font-size: 15px;
                max-width: 100%;
                font-weight: 400;
                letter-spacing: -0.5px;
            }
            .author {
                position: relative;
                bottom: auto;
                left: 0%;
                margin-top: 20px;
                .author-name {
                    font-size: 18px;
                    padding-top: 20px;
                    font-weight: 400;
                }
            }
        }
    }
    //	home owlc section
    .women-leadership {
        max-height: 100%;
        padding: 0;
        background: transparent!important;
        position: relative;
        .women-leadership-mobile {
            height: 250px;
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            width: 100%;
        }
        .container {
            width: 100%;
            .tile {
                max-width: 300px;
                margin: 10px auto 10px !important;
            }
        }
        .container .row div[class*="col"] {
            >.row:first-of-type {
                max-width: 55%;
                left: 45%;
                padding: 10px;
                background: rgba(255, 255, 255, 0.5);
                position: relative;
                height: 250px;
                .section-title {
                    font-size: 20px;
                    font-weight: 400;
                    padding-top: 20px;
                }
                .section-subtitle {
                    font-size: 12px;
                    display: block;
                    max-height: 75px;
                    overflow: hidden;
                }
            }
        }
    }
    //	home initiatives section
    .initiatives {
        .section-title {
            font-size: 15px;
            font-weight: 400;
            max-width: 280px;
            margin: auto;
        }
        .initiatives-list {
            li {
                height: 70px;
                width: 100%;
                position: relative;
                padding: 10px;
                .initiative-content .initiative {
                    font-size: 20px;
                    color: #ffffff;
                    line-height: 1;
                }
            }
        }
    }
    //	home campus section
    .campus {
        background: transparent!important;
        padding-bottom: 0;
        padding-top: 0px;
        min-height: auto;
        position: relative;
        .campus-mobile {
            height: 270px;
            position: absolute;
            z-index: -1;
            top: 0;
            left: 0;
            width: 100%;
            background-position: center bottom!important;
        }
        &:before {
            background: rgba(255, 255, 255, 0);
        }
        .container {
            padding: 0;
            width: 100%;
            .row {
                margin: 0;
                div[class*="col"] {
                    padding: 0;
                }
            }
        }
        .section-title {
            font-size: 22px;
            font-weight: 400;
            width: 100%;
            position: relative;
            padding: 50px 10px 30px;
            background: rgba(255, 255, 255, 0.8);
            max-width: 100%;
            min-height: 150px;
            &:before {
                content: "";
                display: block;
                position: absolute;
                top: 30px;
                left: 10px;
                width: 60px;
                height: 3px;
                background: $cta;
            }
        }
        .section-subtitle {
            padding-top: 0;
            margin-top: 130px;
            padding: 0 10px;
            &:before {
                display: none;
            }
        }
        .campus-tiles {
            max-width: 320px;
            margin: 20px auto 0;
            li {
                height: 70px;
                width: 100%;
                .initiative {
                    font-size: 20px;
                }
            }
        }
    }
    //	home sponsors section
    .sponsors {
        padding: 30px 0;
        .section-title-big {
            font-size: 25px;
        }
        .sponsor-list {
            li {
                width: 50%;
                margin-bottom: 20px;
                height: 60px;
            }
        }
    }
    //	footer
    #footer {
        text-align: center;
        .footer-logo {
            display: none;
        }
        .webform-client-form {
            legend {
                margin-bottom: 10px;
            }
            .form-actions {
                width: 95px;
                .btn {
                    min-width: inherit;
                    width: 100%;
                }
            }
            .webform-component-email {
                width: calc(100% - 95px);
                input[type="email"] {
                    width: 100%;
                }
            }
        }
        .social-links {
            float: none!important;
            width: 100%;
            text-align: center;
            margin-bottom: 5px;
            li .fa-lg {
                font-size: 1.6em;
            }
        }
        .footer-menu {
            padding-bottom: 0px;
            li {
                margin: 0;
                padding: 0 10px;
            }
        }
        .copyright {
            padding-bottom: 10px;
            float: none!important;
            text-align: center;
            br {
                display: none;
            }
            li:first-child {
                margin-right: 0px;
            }
            li {
                padding: 0 10px;
            }
        }
    }
    //	article page
    #hero {
        overflow: hidden;
        &.article,
        &.video,
        &.audio,
        &.collections,
        &.landingpage,
        &.fancy-page,
        &.workshop-page,
        &.simple-page {
            height: auto;
            min-height: 205px;
            position: relative;
            &:before {
                content: "";
                position: absolute;
                display: block;
                width: 100%;
                height: 100%;
                background: rgba(0, 0, 0, 0.35);
                top: 0;
                left: 0;
            }
            .container {
                padding: 0;
                width: 100%;
            }
            .transparent {
                background-color: transparent!important;
                text-align: center;
            }
            .article-info {
                .article-category {
                    padding: 0 0 10px 0;
                }
                .article-title {
                    font-size: 25px;
                    padding: 10px 0;
                }
                .article-subtitle {
                    font-size: 18px;
                }
            }
            .page-info .page-title {
                font-size: 25px;
            }
        }
        &.audio {
            height: 330px;
            .article-info {
                .article-title {
                    letter-spacing: 0;
                }
            }
            .audio-player {
                .mejs-controls .mejs-play button,
                .mejs-controls .mejs-pause button {
                    display: block;
                }
                .audio-info-text {
                    position: relative;
                    display: block;
                    width: 100%;
                    padding: 0;
                    text-align: center;
                    margin-bottom: 10px;
                }
            }
            #audio-timers {
                top: 10px;
            }
        }
        &.landingpage {
            .hero-content {
                position: relative;
                bottom: auto;
                padding: 20px 0;
                .initiative-title {
                    font-size: 25px;
                    line-height: 35px;
                    max-width: 300px;
                    margin: auto;
                }
                .tagline {
                    font-size: 18px;
                }
                a.btn {
                    display: none;
                }
            }
        }
        &.fancy-page {
            .page-info {
                .page-title {
                    font-size: 35px;
                }
            }
        }
        &.workshop-page {
            height: auto;
            min-height: 205px;
            text-align: center;
            margin-bottom: 0;
            .page-info {
                padding: 0;
            }
            .transparent {
                min-width: 100%;
            }
            .person {
                display: none;
            }
            .register-today {
                display: none;
            }
            .page-title {
                font-size: 25px!important;
            }
            .date-location {
                margin: 10px 0 20px;
                span {
                    font-size: 14px;
                }
            }
        }
    }
    #mainContent {
        &.article,
        &.video,
        &.audio,
        &.collections,
        &.simple-page,
        &.fancy-page,
        &.workshop-page {
            padding-bottom: 0;
            .container {
                padding-left: 10px;
                padding-right: 10px;
            }
            padding-top: 0;
            background: #fff;
            .sidebar {
                >ul>li {
                    padding: 10px 0;
                    a {
                        text-transform: uppercase;
                    }
                }
                text-align: center;
                .article-info {
                    li:first-child {
                        border-top: none;
                    }
                }
                .future-events {
                    display: none;
                }
            }
            .article-body {
                padding: 20px 0 0;
                border-bottom: none;
                .pane-node-field-intro-blurb,
                .field-name-field-intro-blurb,
                .article-intro {
                    font-size: 20px;
                }
                .field-items p,
                .field-name-field-article.field-type-text-with-summary p {
                    line-height: 22px;
                }
                .field-name-field-article.field-type-text-with-summary blockquote {
                    float: none;
                    margin-left: 0;
                }
            }
            .discover-more {
                margin-left: calc(0px - ((100vw - 300px) / 2));
                margin-right: calc(0px - ((100vw - 300px) / 2));
                padding-left: calc((100vw - 320px) / 2);
                padding-right: calc((100vw - 320px) / 2);
                .section-title {
                    font-size: 24px;
                    padding-top: 20px;
                }
            }
            .carousel-section {
                margin-left: 0;
                margin-right: 0;
            }
        }
        #articleCarousel {
            .carousel-control {
                &.left {
                    left: 10px;
                }
                &.right {
                    right: 10px;
                }
            }
        }
        &.collections {
            .article-body {
                .pane-node-field-intro-blurb,
                .field-name-field-intro-blurb,
                .article-intro {
                    margin-bottom: 0;
                }
                .collections-list {
                    padding-top: 0;
                    li {
                        position: relative;
                        padding-bottom: 360px;
                        .tiles-grid {
                            margin-left: -10px;
                            float: none;
                            position: absolute;
                            bottom: 40px;
                            left: 0;
                            right: 0;
                        }
                    }
                    .item-content {
                        min-height: auto;
                        .title {
                            font-size: 25px;
                        }
                    }
                }
            }
            .discover-more {
                .section-title {
                    margin-bottom: 20px;
                }
                .collections-mobile-tiles {
                    padding: 0;
                }
            }
        }
        &.video {
            #videoCarousel {
                .video-carousel {
                    height: $videoCarouselItemMobile;
                    margin-left: 20px;
                    margin-bottom: 10px;
                    .video-frame,
                    .active .video-frame {
                        width: 200px;
                        height: $videoCarouselItemMobile;
                        background: transparent;
                        margin: 0 5px;
                        iframe {
                            width: 200px;
                            height: 150px;
                            float: none;
                        }
                        .video-overlay {
                            background: transparent;
                            position: relative;
                            height: 110px;
                            color: $interactiveText;
                            bottom: auto;
                            opacity: 1;
                            width: 100%;
                            padding: 5px 0 0 0;
                            * {
                                position: relative;
                                color: $interactiveText;
                                bottom: auto;
                            }
                            .video-title {
                                font-size: 18px;
                                margin-bottom: 10px;
                            }
                            img {
                                -webkit-filter: invert(60%);
                                filter: invert(60%);
                                height: 16px;
                                width: 16px;
                            }
                        }
                        .type-of-video {
                            display: none;
                        }
                    }
                }
                .carousel-control {
                    height: 150px;
                    width: 30px;
                }
            }
        }
        &.person {
            .person-bio {
                padding: 20px 0;
                >.container>.row>div[class*="col-"] {
                    width: 100%;
                }
            }
            .person-website {
                h1 {
                    color: $interactiveText;
                    text-align: center;
                    font-size: 25px;
                    margin: 0 0 20px 0;
                    line-height: 1;
                }
                a {
                    color: $menuItemColor;
                    font-size: 14px;
                    text-align: center;
                    display: block;
                }
                padding-bottom: 20px;
                border-bottom: 1px solid $interactiveText;
                margin-bottom: 20px;
            }
            .bio {
                font-size: 18px;
                color: #000;
            }
            .tiles-grid {
                padding: 25px 0 30px;
                h1.section-title {
                    font-size: 25px;
                    color: $menuItemColor;
                    margin-bottom: 30px;
                }
            }
        }
        &.simple-page {
            #hero {
                height: 200px;
            }
            &.press-release {
                #pageContent {
                    .page-body {
                        .page-header {
                            margin: 0;
                            h1 {
                                font-size: 25px;
                                margin-top: 0;
                                padding-top: 20px;
                                margin-bottom: 20px;
                            }
                        }
                    }
                }
            }
            #pageContent {
                .page-body {
                    padding: 20px;
                    .page-header {
                        margin: 0;
                        h1 {
                            font-size: 25px;
                            margin-top: 0;
                            padding-top: 0px;
                            margin-bottom: 20px;
                        }
                    }
                }
            }
        }
        &.fancy-page {
            &.owlc,
            &.ocsl {
                #hero .transparent {
                    background: transparent!important;
                }
            }
        }
        &.landingpage,
        &.discover {
            .lp-not-logged,
            .lp-logged {
                display: none;
            }
            [role="tabpanel"] {
                .container {
                    padding: 0;
                    .row:not(.tiles-row) {
                        margin: 0;
                        div[class*="col-"]:not(.headline-col) {
                            padding: 0;
                            margin-top: 0px;
                            &.lp-filter {
                                padding: 0 10px;
                                margin-top: 0px;
                                .form-group {
                                    margin: 0 0 15px 0;
                                }
                            }
                        }
                    }
                }
                .lp-tabs {
                    margin-bottom: 20px;
                    min-height: 40px;
                    .nav-tabs {
                        background: #fff;
                        -webkit-transition: all 0.3s ease-in-out;
                        transition: all 0.3s ease-in-out;
                        position: absolute;
                        top: 0;
                        left: 10px;
                        z-index: 10;
                        width: 100%;
                        //							max-width: 150px;
                        max-width: 300px;
                        border: 1px solid $hairline;
                        display: inline-block;
                        >li {
                            overflow: hidden;
                            display: block;
                            position: absolute;
                            opacity: 0;
                            top: 0;
                            pointer-events: none;
                            width: 100%;
                            &.active {
                                height: auto;
                                opacity: 1;
                                position: relative;
                                pointer-events: auto;
                                a {
                                    border: 0;
                                    white-space: nowrap;
                                    padding-right: 25px;
                                    text-overflow: ellipsis;
                                    max-width: 100%;
                                    overflow: hidden;
                                    pointer-events: none;
                                }
                            }
                            a {
                                color: $interactiveText;
                                text-transform: capitalize;
                                text-align: left;
                                font-size: 14px;
                                padding: 10px;
                                white-space: nowrap;
                                padding-right: 25px;
                                text-overflow: ellipsis;
                                overflow: hidden;
                            }
                        }
                        &.open {
                            z-index: 2000;
                            li {
                                position: relative;
                                opacity: 1;
                                pointer-events: auto;
                            }
                            &:after {
                                -webkit-transform: rotate(-180deg);
                                -ms-transform: rotate(-180deg);
                                transform: rotate(-180deg);
                            }
                        }
                        &:after {
                            content: "\f107";
                            font-family: "FontAwesome";
                            position: absolute;
                            right: 10px;
                            top: 8px;
                            display: block;
                            color: #fff;
                            background: $otherInitiative;
                            font-size: 18px;
                            -webkit-transition: all 0.3s ease;
                            transition: all 0.3s ease;
                            width: 20px;
                            height: 20px;
                            border-radius: 50%;
                            line-height: 1.2;
                        }
                    }
                    .mobile-filter-btn {
                        //							display: inline-block!important;
                        display: none!important;
                        background: #fff;
                        min-width: 150px;
                        position: absolute;
                        right: 10px;
                        height: 40px;
                        top: 0;
                        color: $interactiveText;
                        text-align: left;
                        border: 1px solid $hairline;
                        border-left: none;
                        i.fa {
                            display: none;
                        }
                        &:after {
                            content: "\f107";
                            font-family: "FontAwesome";
                            position: absolute;
                            right: 10px;
                            top: 8px;
                            display: block;
                            color: #fff;
                            background: $otherInitiative;
                            font-size: 18px;
                            -webkit-transition: all 0.3s ease;
                            transition: all 0.3s ease;
                            width: 20px;
                            height: 20px;
                            border-radius: 50%;
                            line-height: 1.2;
                            text-align: center;
                        }
                    }
                }
            }
            .lp-filter {
                padding: 0 10px;
                form[id*="SearchForm"],
                #owlcSearchForm,
                #ocslSearchForm,
                #otherinitiativesSearchForm {
                    padding: 10px 0;
                    font-size: 0;
                    vertical-align: top;
                    .filter-btn {
                        display: none;
                    }
                    [type="submit"] {
                        min-width: 85px;
                        width: 85px;
                        display: block;
                        float: right;
                        outline: none;
                        margin-left: -2px;
                    }
                    .form-group {
                        max-width: 210px;
                        display: inline-block;
                        input {
                            min-width: 210px!important;
                            float: left;
                        }
                    }
                }
                #owlcSearchForm #owlcSearch,
                #ocslSearchForm #ocslSearch,
                #otherinitiativesSearchForm #otherinitiativeSearch {
                    &::-webkit-input-placeholder {
                        font-size: 14px!important;
                    }
                    &:-moz-placeholder {
                        font-size: 14px;
                    }
                    &::-moz-placeholder {
                        font-size: 14px;
                    }
                    &:-ms-input-placeholder {
                        font-size: 14px;
                    }
                }
                .form-type-select {
                    max-width: 100%;
                }
            }
            &.owlc {
                [role="tabpanel"] {
                    .lp-tabs {
                        .nav-tabs {
                            &:after {
                                background: $owlc;
                            }
                        }
                        .mobile-filter-btn {
                            &:after {
                                background: $owlc;
                            }
                        }
                    }
                }
                .lp-filter {
                    form[id*="SearchForm"],
                    #owlcSearchForm {
                        padding: 10px 0;
                        font-size: 0;
                        vertical-align: top;
                        .filter-btn {
                            display: none;
                        }
                        [type="submit"] {
                            min-width: 88px;
                            width: 88px;
                            display: block;
                            float: right;
                        }
                        .form-group {
                            max-width: 210px;
                            display: inline-block;
                            input {
                                min-width: 210px!important;
                            }
                            &.date {
                                width: 100%;
                                input {
                                    min-width: auto!important;
                                    width: 100%;
                                }
                            }
                        }
                    }
                }
            }
            &.ocsl {
                [role="tabpanel"] {
                    .lp-tabs {
                        .nav-tabs {
                            &:after {
                                background: $ocsl;
                            }
                        }
                        .mobile-filter-btn {
                            &:after {
                                background: $ocsl;
                            }
                        }
                    }
                }
            }
        }
        .tiles-grid {
            .headline-col {
                div[class*="col"]:first-child {
                    width: 70%;
                    float: left;
                    .headline-title {
                        top: 0;
                        font-size: 20px;
                    }
                }
                div[class*="col"]:last-child {
                    width: 30%;
                    float: left;
                    .see-all {
                        float: none!important;
                        min-width: 100%;
                        max-width: 100%;
                    }
                }
            }
        }
        &.fancy-page,
        &.simple-page,
        &.workshop-page {
            #pageContent {
                .page-body {
                    padding: 0px;
                }
            }
        }
        &.fancy-page,
        &.simple-page {
            #pageContent {
                padding: 0;
                .sidebar {
                    width: 100%;
                    padding: 0;
                    background: #fff;
                    #sideMenu {
                        padding: 0 0 10px 0;
                        background: #fff;
                        .page-share {
                            border-top: 0;
                        }
                        .side-menu {
                            padding: 0;
                            li {
                                display: none;
                                &:first-child {
                                    display: block;
                                }
                            }
                            &:after {
                                content: "\f107";
                                font-family: "FontAwesome";
                                position: absolute;
                                right: 10px;
                                top: 8px;
                                width: 20px;
                                height: 20px;
                                border-radius: 50%;
                                text-align: center;
                                line-height: 20px;
                                color: #fff;
                                background: $otherInitiative;
                            }
                            .mobile-toggle {
                                width: 100%;
                                height: 38px;
                                position: absolute;
                                top: 0;
                                left: 0;
                                background: transparent;
                                z-index: 100;
                            }
                            &.open {
                                .mobile-toggle {
                                    height: 0;
                                }
                                li {
                                    display: block;
                                }
                            }
                        }
                        &.affix {
                            width: 320px;
                            z-index: 1000;
                            background: #fff;
                            top: 50px;
                            left: 0;
                            right: 0;
                            padding: 0;
                            margin: auto;
                            .page-share {
                                display: none;
                            }
                            .side-menu {
                                li {
                                    display: none;
                                    &.active {
                                        display: block;
                                        margin-top: 0;
                                        a {
                                            height: 38px;
                                        }
                                    }
                                }
                                &.open {
                                    .mobile-toggle {
                                        height: 0;
                                    }
                                    li {
                                        display: block;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            &.owlc {
                #pageContent .sidebar #sideMenu .side-menu:after {
                    background: $owlc;
                }
            }
            &.ocsl {
                #pageContent .sidebar #sideMenu .side-menu:after {
                    background: $ocsl;
                }
            }
        }
        &.workshop-page {
            #pageContent {
                padding-top: 10px;
                .person.mobile-only {
                    .short-workshop-info {
                        font-size: 15px;
                    }
                    .person-images {
                        li {
                            display: none;
                            width: calc(100% / 3);
                            &:first-child,
                            &:last-child,
                            &:nth-child(2) {
                                display: inline-block;
                                p,
                                p a {
                                    color: #000;
                                    font-weight: 300;
                                    font-size: 13px;
                                }
                            }
                        }
                    }
                }
                .sidebar {
                    min-height: 50px;
                    height: 140px;
                    #sideMenu.affix {
                        z-index: 1000;
                        top: 50px;
                        background: #fff;
                        &:after {
                            content: "";
                            position: fixed;
                        }
                        .page-share {
                            display: none;
                        }
                        &.open:before {
                            content: "";
                            display: block;
                            width: 100vw;
                            height: 100vh;
                            position: fixed;
                            background: rgba(0, 0, 0, 0.5);
                        }
                    }
                    #sideMenu {
                        width: 320px!important;
                        margin-left: -10px;
                        .side-menu {
                            height: 0;
                            overflow: hidden;
                            padding: 0;
                            border: none;
                            -webkit-transition: max-height 0.8s;
                            transition: max-height 0.8s;
                            float: none;
                            position: absolute;
                            left: 0;
                            right: 0;
                            top: 39px;
                            margin-top: -2px;
                            background: rgba(255, 255, 255, 0.95);
                            text-align: left;
                            li {
                                border-top: 1px solid $hairline;
                                margin-top: 0;
                                &:hover {
                                    background: rgba($cta, 0.5);
                                }
                            }
                        }
                        &.open {
                            .side-menu {
                                height: auto;
                                border-bottom: 2px solid $hairline;
                                z-index: 2000;
                            }
                        }
                        .mobile-sidenav-toggle {
                            width: 160px;
                            display: block;
                            position: relative;
                            float: left;
                            text-align: left;
                            height: 40px;
                            padding: 0;
                            line-height: 40px;
                            padding: 0 10px;
                            z-index: 1001;
                            background: #fff;
                            cursor: pointer;
                            &:after {
                                content: "\f107";
                                font-family: "FontAwesome";
                                position: absolute;
                                right: 10px;
                                top: 8px;
                                display: block;
                                color: #fff;
                                background: $cta;
                                font-size: 18px;
                                -webkit-transition: all 0.3s ease;
                                transition: all 0.3s ease;
                                width: 20px;
                                height: 20px;
                                border-radius: 50%;
                                line-height: 1.2;
                                text-align: center;
                            }
                        }
                        .register {
                            width: 125px;
                            background: $cta;
                            display: block;
                            position: relative;
                            float: left;
                            color: #fff!important;
                            padding: 0;
                            height: 40px;
                            line-height: 38px;
                            z-index: 1001;
                            .btn {
                                min-width: 100%;
                                width: auto;
                                height: 36px;
                                padding: 0;
                                line-height: 36px;
                            }
                        }
                        .member-fav {
                            display: block;
                            float: left;
                            width: calc(320px - 160px - 125px);
                            height: 40px;
                            padding: 0;
                            line-height: 40px;
                            z-index: 1001;
                            background: #fff;
                            i {
                                font-size: 20px;
                                color: $cta;
                            }
                            &.favorite {
                                i {
                                    &:before {
                                        content: "\f02e";
                                    }
                                }
                            }
                        }
                        .page-share {
                            float: none;
                            position: relative;
                            top: 0px;
                            margin-top: 0px;
                            padding-top: 45px;
                            border-top: 0;
                            background: #fff;
                            .btn {
                                margin-top: 10px;
                            }
                        }
                        .commerce-add-to-cart {
                            .form-wrapper.form-group {
                                margin: 0;
                            }
                            .form-item-quantity {
                                display: none;
                            }
                        }
                    }
                }
            }
            #pageContent {
                .no-padding {
                    padding: 0;
                }
                .ws-section {
                    padding: 20px 10px 10px;
                    margin-bottom: 0;
                    p {
                        font-size: 15px;
                    }
                }
                .carousel-section {
                    margin-left: -10px;
                    margin-right: -10px;
                }
                #wsTeachers .teachers-grid {
                    li {
                        width: 50%;
                    }
                    &.four-plus {
                        li:nth-child(n+5) {
                            display: none;
                        }
                    }
                }
                #wsSchedule {
                    .schedule .schedule-day .schedule-row * {
                        font-size: 14px;
                    }
                    table {
                        td {
                            font-size: 14px;
                        }
                    }
                }
                #wsTuition {
                    >.row {
                        >.col-xs-6.text-right {
                            width: 100%;
                            margin-bottom: 15px;
                        }
                    }
                    .section-title {
                        font-size: 18px;
                        position: relative;
                        top: 8px;
                        margin-bottom: 0;
                    }
                }
                div[id*="accomodationModal"] {
                    div[id*="unit-carousel"] {
                        .item {
                            height: 200px;
                        }
                    }
                }
                #wsSponsors {
                    .sponsor-list {
                        padding: 0;
                        overflow: hidden;
                        li {
                            width: 50%;
                        }
                    }
                    .sponsor-text-only {
                        li {
                            font-size: 12px;
                        }
                    }
                }
                #wsVisitingOmega {
                    .section-title {
                        font-size: 25px;
                    }
                    .tile {
                        height: 75px;
                        font-size: 15px;
                        margin-bottom: 10px;
                    }
                }
                #wsDiscoverMore {
                    .discover-more .related:last-of-type {
                        margin-bottom: 0;
                    }
                }
            }
        }
        .bootstrap-tagsinput {
            width: 100%;
        }
        &.landingpage [role="tabpanel"] [role="tabpanel"],
        &.discover [role="tabpanel"] [role="tabpanel"] {
            margin-top: 10px;
        }
    }
    #mainContent {
        nav.navbar.page-navbar {
            .navbar-header {
                position: relative;
                bottom: auto;
                .navbar-toggle[data-target=".page-menu"] {
                    float: left;
                    border: none;
                    background: #fff;
                    color: $interactiveText;
                    margin: 3px 0 3px 0;
                    height: 44px;
                    width: 195px;
                    padding-right: 0;
                    text-align: left;
                    &:hover {
                        background: #fff;
                    }
                    .icon-bar {
                        display: none;
                    }
                    .mobile-menu-toggle {
                        display: block;
                        position: relative;
                        i.fa {
                            position: absolute;
                            right: 10px;
                            top: 0;
                            height: 20px;
                            width: 20px;
                            background: $cta;
                            border-radius: 50%;
                            color: #fff;
                            text-align: center;
                            line-height: 20px;
                        }
                    }
                }
                .navbar-toggle[data-target=".mobile-join"] {
                    width: calc(100% - 195px);
                    border: none;
                    float: right;
                    margin: 3px 0 3px 0;
                    height: 44px;
                    color: #fff;
                    background-color: transparent;
                    &:hover {
                        background: transparent;
                    }
                }
            }
            .navbar-collapse {
                margin: 0;
                padding: 0!important;
                .navbar-nav {
                    width: 100%;
                    margin: 0;
                    li {
                        a {
                            padding: 10px 20px;
                            width: 100%;
                        }
                    }
                    li .facebook-like {
                        background: #fff;
                        margin-bottom: -1px;
                        a {
                            display: inline-block;
                            margin: auto;
                            width: auto;
                            padding: 0 10px;
                            line-height: 35px;
                            margin-top: 20px;
                        }
                    }
                }
                .dropdown-menu {
                    padding-left: 20px;
                    li a,
                    li span {
                        color: #fff!important;
                        padding-top: 10px;
                        padding-bottom: 10px;
                    }
                }
                .dropdown.open a {
                    background-color: transparent;
                }
            }
            .lp-not-logged,
            .lp-logged {
                display: block;
            }
        }
        &.owlc nav.navbar.page-navbar {
            .navbar-header {
                .navbar-toggle[data-target=".page-menu"] {
                    .mobile-menu-toggle {
                        i.fa {
                            background: $owlc;
                        }
                    }
                }
            }
            .navbar-collapse .navbar-nav li .facebook-like a {
                background: $owlc;
            }
        }
        &.ocsl nav.navbar.page-navbar {
            .navbar-header {
                .navbar-toggle[data-target=".page-menu"] {
                    .mobile-menu-toggle {
                        i.fa {
                            background: $ocsl;
                        }
                    }
                }
            }
            .navbar-collapse .navbar-nav li .facebook-like a {
                background: $ocsl;
            }
        }
        &.other nav.navbar.page-navbar {
            .navbar-header {
                .navbar-toggle[data-target=".page-menu"] {
                    .mobile-menu-toggle {
                        i.fa {
                            background: $otherInitiative;
                        }
                    }
                }
            }
            .navbar-collapse .navbar-nav li .facebook-like a {
                background: $otherInitiative;
            }
        }
    }
    .sponsors-page {
        .sponsor-list {
            li {
                width: 100%;
                margin-bottom: 10px;
            }
        }
    }
    .filter-results {
        .tags-carousel-wrapper {
            .tags-carousel {
                overflow: auto;
                overflow-x: scroll;
                overflow-y: hidden;
                ul {
                    white-space: nowrap;
                }
                &::-webkit-scrollbar {
                    display: none;
                }
            }
            a[class*="tags-carousel-control-"] {
                display: none;
            }
        }
        .clear-filters {
            margin-bottom: 30px;
        }
    }
    #videoCarousel {
        .carousel-control {
            width: 50px;
            z-index: 30;
            height: 200px;
            margin-top: 25px; //50
        }
        .tile {
            width: 100%;
            min-width: 300px;
            min-height: 250px!important;
            &.panel-idea,
            &.panel-general-purpose {
                height: 250px!important; // 300
            }
            &.panel-person {
                .person-image {
                    width: 94vw;
                    height: 250px; //300
                }
                .person-bio {
                    display: none;
                }
            }
        }
        .video-carousel {
            .tile-frame {
                width: 3vw;
                opacity: 1;
                border-left: 1px solid #fff;
                border-right: 1px solid #fff;
                height: 250px; // 300
                .panel-body {
                    min-height: auto;
                }
            }
            .active .tile-frame {
                width: 94vw;
                margin: 0px;
                height: 250px;
            }
        }
    }
    .pagination {
        >li {
            >a,
            >span {
                line-height: 24px;
                width: 24px;
                padding: 0;
            }
        }
        >.next,
        >.prev,
        >.pager-first,
        >.pager-last {
            >a {
                width: 25px;
                font-size: 0;
                position: relative;
                line-height: 24px;
                padding: 0;
                &:before {
                    font-size: 14px;
                    position: absolute;
                    display: block;
                    width: 100%;
                    line-height: 22px;
                    text-align: center;
                    top: 0;
                    left: 0;
                }
            }
        }
        >.next {
            >a:before {
                content: "\203A";
            }
        }
        >.prev {
            >a:before {
                content: "\2039";
            }
        }
        >.pager-first {
            >a:before {
                content: "\00ab";
            }
        }
        >.pager-last {
            >a:before {
                content: "\00bb";
            }
        }
    }
    .lp-filter form [type="submit"],
    .view-filters form [type="submit"] {
        min-width: 165px;
        display: block;
        margin: auto;
    }
    .lp-filter .form-group.date {
        width: 100%;
        .dates-popover {
            width: 100%;
        }
    }
    .lp-filter form,
    .view-filters form {
        padding: 0;
    }
    #videoCarousel {
        margin: 10px auto 10px;
    }
    #edit-catalogs {
        .form-item {
            width: 100%;
        }
    }
    #omega-catalog-form,
    #omega-catalog-checkout-form {
        padding: 0 10px;
    }
    .addressfield-container-inline>div.form-item {
        width: 100%;
    }
    #omega-online-workshop-email-reminder {
        max-width: 320px;
        padding: 20px 10px;
        .form-item.form-item-email {
            display: block;
            float: none;
            width: 100%;
            margin-bottom: 10px;
        }
        [type="submit"] {
            width: 100%;
            float: none;
            display: block;
            margin-top: 0px;
        }
    }
    .view.view-search {
        padding: 0;
        .searchZone {
            margin-top: 0px;
            margin-bottom: 20px;
            padding: 20px 10px;
            display: block;
            background: #fff;
            width: auto;
            margin-left: -10px;
            margin-right: -10px;
            .fa {
                font-size: 14px;
                margin-right: 15px;
            }
            input {
                font-size: 14px;
                width: calc(100% - 35px);
            }
            input::-webkit-input-placeholder {
                font-size: 14px;
            }
            input:-moz-placeholder {
                ffont-size: 14px;
            }
            input::-moz-placeholder {
                font-size: 14px;
            }
            input:-ms-input-placeholder {
                font-size: 14px;
            }
        }
    }
    li.search-tile {
        height: auto;
        .tile-content,
        .tile-image {
            float: none;
            width: 100%;
        }
        .tile-image {
            height: 100px;
            img {
                width: 100%;
                height: auto;
                max-height: none!important;
            }
        }
        .tile-content {
            .title {
                text-overflow: none;
                white-space: normal;
                overflow: visible;
                font-size: 18px;
            }
            .tile-text {
                display: none;
            }
            .bottom-info {
                position: relative;
                bottom: auto;
                .featured {
                    font-size: 14px;
                }
            }
        }
    }
    #views-exposed-form-search-search-page,
    .profile-page .user-tiles {
        .lp-tabs {
            margin-top: 20px;
            margin-bottom: 20px;
            min-height: 40px;
            .nav-tabs {
                background: #fff;
                -webkit-transition: all 0.3s ease-in-out;
                transition: all 0.3s ease-in-out;
                position: absolute;
                top: 0;
                left: 10px;
                z-index: 10;
                width: 100%;
                max-width: 300px;
                border: 1px solid $hairline;
                display: inline-block;
                >li {
                    overflow: hidden;
                    display: block;
                    position: absolute;
                    opacity: 0;
                    top: 0;
                    pointer-events: none;
                    width: 100%;
                    &.active {
                        height: auto;
                        opacity: 1;
                        position: relative;
                        pointer-events: auto;
                        a {
                            border: 0;
                            white-space: nowrap;
                            padding-right: 25px;
                            text-overflow: ellipsis;
                            max-width: 100%;
                            overflow: hidden;
                            pointer-events: none;
                        }
                    }
                    a {
                        color: $interactiveText;
                        text-transform: capitalize;
                        text-align: left;
                        font-size: 14px;
                        padding: 10px;
                        white-space: nowrap;
                        padding-right: 25px;
                        text-overflow: ellipsis;
                        overflow: hidden;
                        text-align: center;
                    }
                }
                &.open {
                    z-index: 2000;
                    li {
                        position: relative;
                        opacity: 1;
                        pointer-events: auto;
                    }
                    &:after {
                        -webkit-transform: rotate(-180deg);
                        -ms-transform: rotate(-180deg);
                        transform: rotate(-180deg);
                    }
                }
                &:after {
                    content: "\f107";
                    font-family: "FontAwesome";
                    position: absolute;
                    right: 10px;
                    top: 10px;
                    display: block;
                    color: #fff;
                    background: $otherInitiative;
                    font-size: 18px;
                    -webkit-transition: all 0.3s ease;
                    transition: all 0.3s ease;
                    width: 20px;
                    height: 20px;
                    border-radius: 50%;
                    line-height: 1.2;
                }
            }
        }
    }
    .profile-page {
        .user-details {
            .user-name {
                font-size: 35px;
                margin-top: 20px;
            }
            .user-bttons-group {
                margin: 20px 0;
            }
        }
    }
    #alert {
        .container {
            width: 100%;
            padding: 0;
        }
    }
    #block-omega-donation-omega-donation-multistep-form {
        padding: 10px;
        .wizard-trail {
            padding-bottom: 20px;
            margin-bottom: 20px;
            max-width: 100%;
            span {
                padding: 0;
                font-size: 12px;
                &:before {
                    font-size: 14px;
                    width: 20px;
                    height: 20px;
                    line-height: 18px;
                }
            }
        }
        .form-actions {
            text-align: left;
            [type="submit"] {
                min-width: 130px;
                margin: 2px;
            }
            #edit-return {
                margin-top: 20px;
            }
        }
    }
}

@media (min-width: 600px) and (max-width: 767px) {
    #hero {
        #homeCarousel {
            height: 380px;
        }
    }
    .campus {
        .section-title {
            padding-top: 50px;
            padding-bottom: 30px;
            padding-left: calc((100% - 320px)/2);
            padding-right: calc((100% - 320px)/2);
            &:before {
                left: calc((100% - 320px)/2);
            }
        }
        .section-subtitle {
            padding-left: calc((100% - 320px)/2);
            padding-right: calc((100% - 320px)/2);
            max-width: 100%;
        }
        .campus-tiles li {
            padding: 10px 0;
        }
    }
    .quote-section {
        #quoteCarousel {
            .item {
                background-position: right -300px top !important;
            }
        }
    }
}
