@media (min-width:768px) and (max-width: 991px) {
	.navbar-right {
		float: right !important;
		margin-right: 0px;
	}
	.navbar>.container .navbar-brand,
	.navbar>.container-fluid .navbar-brand {
		margin-left: 0px;
	}
	//	navbar
	nav.navbar {
		.dropdown-menu {
			.title {
				font-size: 19px;
			}
		}
		#mainMenu {
			ul.nav-top {
				.social-block.open {
					.dropdown-menu {
						display: block;
						left: auto;
						right: 0;
						-webkit-transform: translateX(0);
						-ms-transform: translateX(0);
						transform: translateX(0);
					}
				}
			}
			.yamm-content.container>.row {
				margin: 0;
			}
		}
	}
	nav.navbar .dropdown-menu {
		.sublist {
			li {
				margin-bottom: 0px;
				display: block;
				width: 100%;
				position: relative;
				font-size: 0;
				a {
					display: inline-block;
					width: 100%;
					text-decoration: none;
					line-height: inherit;
					position: relative;
					padding: 0;
					height: 40px;
					margin-bottom: 10px;
					font-size: 14px;
				}
			}
		}
		.tow-col-list.sublist {
			li {
				a {
					height: 40px;
				}
			}
		}
	}
	//	tiles
	.panel.tile {
		.tile-link {
			height: 100%;
		}
		&.panel-category {
			.panel-body .category h1 a {
				font-size: 18px;
			}
		}
		&.panel-idea {
			.panel-body {
				padding: 10px;
				.person {
					width: 100%;
					overflow: hidden;
					ul {
						white-space: nowrap;
					}
				}
				.duration-date {
					bottom: 5px;
				}
			}
		}
		&.panel-workshop,
		&.panel-learn,
		&.panel-collection,
		&.panel-general-purpose,
		&.panel-idea,
		&.panel-category {
			.panel-body {
				.title h1 {
					font-size: 16px;
				}
				.person {
					.person-images {
						li {
							width: 40px;
							height: 40px;
							margin-right: 8px;
							.more .fa {
								line-height: 40px;
							}
						}
					}
					.person-names {
						white-space: nowrap;
						overflow: hidden;
						padding-right: 10px;
						li {
							font-size: 11px;
						}
					}
				}
				.date-location {
					bottom: 23px;
					ul {
						white-space: nowrap;
						text-overflow: ellipsis;
						overflow: hidden;
						width: 100%;
						li {
							em {
								font-size: 11px;
							}
						}
					}
				}
			}
			.panel-footer {
				&.open {
					.expanded-tile-content {
						.text-block {
							overflow: hidden;
							font-size: 12px;
							line-height: 1.2;
							display: block;
							max-height: 160px;
						}
					}
				}
			}
		}
		&.panel-idea {
			.panel-body {
				.title h1 {
					max-height: 50px;
					font-size: 16px;
					line-height: 16px;
				}
			}
		}
		&.panel-person {
			.panel-body {
				.person-image {
					max-width: 100px;
				}
				.person-bio {
					width: calc(100% - 100px);
					.person-name {
						line-height: 1;
					}
				}
			}
		}
		&.multipurpose {
			&[class*="panel-"] {
				.tile-link {
					height: 100%;
				}
			}
		}
	}
	//	home quote section
	.quote-section {
		#quoteCarousel {
			.item {
				background-position: right -400px top !important;
			}
			.quote-text {
				font-size: 26px;
			}
			.author {
				left: 10px;
			}
		}
	}
	//	home women leadership
	.women-leadership {
		max-height: 750px;
		.section-title {
			font-size: 38px;
		}
	}
	//	home campus
	.campus {
		.section-title {
			font-size: 38px;
		}
	}
	//	footer
	#footer {
		.webform-client-form {
			legend {
				margin-bottom: 10px;
			}
			.form-actions {
				width: 95px;
				.btn {
					min-width: inherit;
					width: 100%;
				}
			}
		}
	}
	//	tablet blockquote is thiner
	#mainContent {
		&.article,
		&.video,
		&.audio,
		&.collections,
		&.fancy-page,
		&.simple-page,
		&.workshop-page {
			.article-body {
				padding: 20px 20px 0;
				border-bottom: none;
				.field-name-field-article.field-type-text-with-summary {
					blockquote {
						max-width: 250px;
					}
				}
			}
			.discover-more {
				margin-left: -20px;
				margin-right: -20px;
				padding: 0 10px 10px 10px;
			}
		}
		&.video {
			.carousel-section {
				margin-left: 10px;
				margin-right: 10px;
			}
			#videoCarousel {
				.video-carousel {
					height: $videoCarouselItemTablet;
					.video-frame {
						height: $videoCarouselItemTablet;
					}
					.active .video-frame {
						width: 375px;
						height: $videoCarouselItemTablet;
					}
				}
			}
		}
		&.simple-page {
			#pageContent {
				.page-body {
					.page-header {
						h1 {
							font-size: 25px;
						}
					}
				}
			}
		}
		&.workshop-page {
			#pageContent {
				.sidebar .side-menu li a {
					font-size: 15px;
				}
				.page-body {
					padding: 0;
					.panel.tile {
						&.panel-workshop,
						&.panel-learn,
						&.panel-collection {
							.panel-body {
								.person {
									padding: 10px 0 0 0;
									ul {
										margin-bottom: 5px;
									}
								}
							}
						}
					}
					ul {
						margin-bottom: 5px;
					}
				}
				#wsSponsors {
					.sponsor-list {
						overflow: hidden;
						li {
							width: calc(100% / 3);
						}
					}
				}
				#wsDiscoverMore {
					margin-bottom: 0;
				}
			}
			#sideMenu {
				.commerce-add-to-cart {
					[type="submit"] {
						min-width: 100px;
					}
				}
			}
		}
	}
	#hero {
		&.article {
			.article-info {
				.artile-title {
					font-size: 35px;
				}
				.article-subtitle {
					font-size: 20px;
				}
			}
		}
	}
	.container {
		width: 100vw;
		padding: 0 10px;
	}
	#videoCarousel {
		.carousel-control {
			width: calc((100vw - 620px)/2);
			z-index: 30;
			height: 200px;
			margin-top: 50px;
		}
		.tile {
			width: 100%;
			min-width: 620px;
			&.panel-idea,
			&.panel-general-purpose {
				height: 300px!important;
			}
			&.panel-person {
				.person-image {
					width: 50vw;
					height: 300px;
				}
			}
			.tile-link {
				height: 100%;
			}
		}
		.video-carousel {
			.tile-frame {
				width: calc((100vw - 620px)/2);
				opacity: 1;
				border-left: 1px solid #fff;
				border-right: 1px solid #fff;
				.panel-body {
					min-height: auto;
				}
			}
			.active .tile-frame {
				//width: 50vw;
				margin: 0px;
			}
		}
	}
	.sponsors-page {
		.sponsor-list {
			li {
				a {
					max-width: calc((768px / 3) - 20px);
				}
			}
		}
	}
	.filter-results {
		.tags-carousel-wrapper {
			.tags-carousel {
				max-width: 700px
			}
		}
	}
	.page-navbar .page-menu .navbar-right li:last-child ul {
		left: auto;
		right: 0;
	}
	.tile.panel-person .panel-body .person-image img,
	.tile.panel-person.small .panel-body .person-image img {
		width: 150px;
		max-width: 150px;
	}
	#hero .article-title,
	#hero .title {
		font-size: 40px;
	}
	.lp-filter form *,
	.view-filters form * {
		font-size: 14px;
	}
	#block-omega-donation-omega-donation-multistep-form {
		padding: 40px;
		.wizard-trail {
			span {
				padding: 0 20px;

			}
		}
	}
}
