@media (min-width: 992px) and (max-width:1279px) {
	#videoCarousel {
		.carousel-control {
			width: calc((100vw - 620px)/2);
			z-index: 30;
			height: 100%;
			margin-top: 0px;
		}
		.tile {
			width: 100%;
			min-width: 620px;
			&.panel-idea,
			&.panel-general-purpose {
				height: 300px!important;
			}
			&.panel-person {
				.person-image {
					width: 50vw;
					height: 300px;
				}
			}
		}
		.video-carousel {
			.tile-frame {
				width: calc((100vw - 620px)/2);
				opacity: 0.3;
				border-left: 1px solid #fff;
				border-right: 1px solid #fff;
				.panel-body {
					min-height: auto;
				}
			}
			.active .tile-frame {
				//width: 50vw;
				margin: 0px;
				opacity: 1;
			}
		}
	}
}
