body {
    background: $lightBg;
    position: relative;
}

.region.region-content {
    min-height: calc(100vh - 80px - 151px);
}

@media (min-width: 992px) {
    .container {
        width: 960px;
        padding: 0 10px;
    }
}

.container .container {
    width: 100%;
}

div[class*="col-"] {
    padding-left: 10px;
    padding-right: 10px;
}

div[class*="col"].no-padding {
    padding: 0;
    @media(max-width: 767px) {
        padding: 0 10px;
    }
}

.row {
    margin-left: -10px;
    margin-right: -10px;
}

.absolute {
    position: absolute;
}

.relative {
    position: relative;
}

.fixed {
    position: fixed;
}

.static {
    position: static;
}

.full-width {
    width: 100%;
}

.full-height {
    height: 100%;
    div[class*="col"],
    .row {
        height: 100%;
    }
}

.block {
    display: block
}

.inline-block {
    display: inline-block
}

.inline {
    display: inline;
}

//zero padding and margin
.no-margin {
    margin: 0;
}

.no-padding {
    padding: 0;
}

.no-margin-left {
    margin-left: 0;
}

.no-margin-right {
    margin-right: 0;
}

.no-padding-left {
    padding-left: 0;
}

.no-padding-right {
    padding-right: 0;
}

.bordered {
    @include add-border(1px, #fff, all);
}

.transparent-bg {
    background: transparent!important;
    background-color: transparent!important;
}

#mainContent {
    padding: 10px 0;
}

.top-bar {
    position: relative;
    padding-top: 30px;
    &:before {
        content: "";
        display: block;
        position: absolute;
        top: 0px;
        left: 0;
        width: 60px;
        height: 3px;
    }
}

.top-bar-orange {
    @extend .top-bar;
    &:before {
        background: $owlc;
    }
}

.top-bar-green {
    @extend .top-bar;
    &:before {
        background: $ocsl;
    }
}

.top-bar-light-teal {
    @extend .top-bar;
    &:before {
        background: $otherInitiative;
    }
}

.top-bar-teal {
    @extend .top-bar;
    &:before {
        background: $cta;
    }
}

.top-bar-yellow {
    @extend .top-bar;
    &:before {
        background: $omegaMomentText;
    }
}

.bottom-bar {
    position: relative;
    padding-bottom: 30px;
    &:before {
        content: "";
        display: block;
        position: absolute;
        bottom: 0px;
        left: 50%!important;
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translateX(-50%);
        width: 60px;
        height: 3px;
    }
}

.bottom-bar-orange {
    @extend .bottom-bar;
    &:before {
        background: $owlc;
    }
}

.bottom-bar-green {
    @extend .bottom-bar;
    &:before {
        background: $ocsl;
    }
}

.bottom-bar-light-teal {
    @extend .bottom-bar;
    &:before {
        background: $otherInitiative;
    }
}

.bottom-bar-teal {
    @extend .bottom-bar;
    &:before {
        background: $cta;
    }
}

.bottom-bar-yellow {
    @extend .bottom-bar;
    &:before {
        background: $omegaMomentText;
    }
}

.bottom-bar-left {
    padding-bottom: 30px;
    margin-bottom: 30px;
    position: relative;
    &:before {
        content: "";
        display: block;
        position: absolute;
        bottom: 0px;
        left: 0;
        width: 60px;
        height: 3px;
    }
}

.bottom-bar-left-orange {
    @extend .bottom-bar-left;
    &:before {
        background: $owlc;
    }
}

.bottom-bar-left-green {
    @extend .bottom-bar-left;
    &:before {
        background: $ocsl;
    }
}

.bottom-bar-left-light-teal {
    @extend .bottom-bar-left;
    &:before {
        background: $otherInitiative;
    }
}

.bottom-bar-left-teal {
    @extend .bottom-bar-left;
    &:before {
        background: $cta;
    }
}

.bottom-bar-left-yellow {
    @extend .bottom-bar-left;
    &:before {
        background: $omegaMomentText;
    }
}

.background-image {
    background-size: 1280px auto!important;
    background-position: center top!important;
    background-repeat: no-repeat!important;
}

@media (max-width:1279px) {
    .background-image {
        background-size: cover!important;
        background-position: center top!important;
        background-repeat: no-repeat!important;
    }
}

.modal .close {
    position: relative;
    z-index: 1000;
}

.left-align {
    text-align: left;
    margin: 0 25px 5px 0;
    @media (max-width: 767px) {
        text-align: center;
        margin: auto;
    }
}

.right-align {
    text-align: right;
    margin: 0 0 5px 25px;
    @media (max-width: 767px) {
        text-align: center;
        margin: auto;
    }
}

img {
    max-width: 100%;
    &.left-align {
        text-align: left;
        display: block;
        float: left;
        margin: 0 25px 5px 0;
        max-width: 100%;
        @media (max-width: 767px) {
            text-align: center;
            margin: auto;
            float: none;
            width: 100%;
            display: block;
        }
    }
    &.right-align {
        text-align: right;
        margin: 0 0 5px 25px;
        display: block;
        float: right;
        max-width: 100%;
        @media (max-width: 767px) {
            text-align: center;
            margin: auto;
            float: none;
            width: 100%;
            display: block;
        }
    }
    &.full-width {
        display: block;
        width: 90%;
        margin: 10px auto;
        @media(max-width: 767px) {
            width: 100%;
        }
    }
    &.text-left {
        display: block;
        text-align: left;
        margin-bottom: 5px;
    }
    &.text-right {
        display: block;
        text-align: right;
        margin-bottom: 5px;
    }
}

.field:before,
.field:after {
    content: " ";
    display: table;
}

.field:after {
    clear: both;
}

.ws-section:before,
.ws-section:after {
    content: " ";
    display: table;
}

.ws-section:after {
    clear: both;
}

.m5 {
    margin: 5px
}

.m10 {
    margin: 10px
}

.m15 {
    margin: 15px
}

.m20 {
    margin: 20px
}

.m25 {
    margin: 25px
}

.m30 {
    margin: 30px
}

.m40 {
    margin: 40px
}

.m50 {
    margin: 50px
}

.mt5 {
    margin-top: 5px
}

.mt10 {
    margin-top: 10px
}

.mt15 {
    margin-top: 15px
}

.mt20 {
    margin-top: 20px
}

.mt25 {
    margin-top: 25px
}

.mt30 {
    margin-top: 30px
}

.mt40 {
    margin-top: 40px
}

.mt50 {
    margin-top: 50px
}

.mb5 {
    margin-bottom: 5px
}

.mb10 {
    margin-bottom: 10px
}

.mb15 {
    margin-bottom: 15px
}

.mb20 {
    margin-bottom: 20px
}

.mb25 {
    margin-bottom: 25px
}

.mb30 {
    margin-bottom: 30px
}

.mb40 {
    margin-bottom: 40px
}

.mb50 {
    margin-bottom: 50px
}

.ml5 {
    margin-left: 5px
}

.ml10 {
    margin-left: 10px
}

.ml15 {
    margin-left: 15px
}

.ml20 {
    margin-left: 20px
}

.ml25 {
    margin-left: 25px
}

.ml30 {
    margin-left: 30px
}

.ml40 {
    margin-left: 40px
}

.ml50 {
    margin-left: 50px
}

.mr5 {
    margin-right: 5px
}

.mr10 {
    margin-right: 10px
}

.mr15 {
    margin-right: 15px
}

.mr20 {
    margin-right: 20px
}

.mr25 {
    margin-right: 25px
}

.mr30 {
    margin-right: 30px
}

.mr40 {
    margin-right: 40px
}

.mr50 {
    margin-right: 50px
}

.p5 {
    padding: 5px
}

.p10 {
    padding: 10px
}

.p15 {
    padding: 15px
}

.p20 {
    padding: 20px
}

.p25 {
    padding: 25px
}

.p30 {
    padding: 30px
}

.p40 {
    padding: 40px
}

.p50 {
    padding: 50px
}

.pt5 {
    padding-top: 5px
}

.pt10 {
    padding-top: 10px
}

.pt15 {
    padding-top: 15px
}

.pt20 {
    padding-top: 20px
}

.pt25 {
    padding-top: 25px
}

.pt30 {
    padding-top: 30px
}

.pt40 {
    padding-top: 40px
}

.pt50 {
    padding-top: 50px
}

.pb5 {
    padding-bottom: 5px
}

.pb10 {
    padding-bottom: 10px
}

.pb15 {
    padding-bottom: 15px
}

.pb20 {
    padding-bottom: 20px
}

.pb25 {
    padding-bottom: 25px
}

.pb30 {
    padding-bottom: 30px
}

.pb40 {
    padding-bottom: 40px
}

.pb50 {
    padding-bottom: 50px
}

.pl5 {
    padding-left: 5px
}

.pl10 {
    padding-left: 10px
}

.pl15 {
    padding-left: 15px
}

.pl20 {
    padding-left: 20px
}

.pl25 {
    padding-left: 25px
}

.pl30 {
    padding-left: 30px
}

.pl40 {
    padding-left: 40px
}

.pl50 {
    padding-left: 50px
}

.pr5 {
    padding-right: 5px
}

.pr10 {
    padding-right: 10px
}

.pr15 {
    padding-right: 15px
}

.pr20 {
    padding-right: 20px
}

.pr25 {
    padding-right: 25px
}

.pr30 {
    padding-right: 30px
}

.pr40 {
    padding-right: 40px
}

.pr50 {
    padding-right: 50px
}

.staff-table tr {
    border-bottom: 4px solid #fff;
    font-size: 18px;
    td {
        vertical-align: top;
        font-size: 18px;
    }
}

.sticky {
    padding: 0;
    width: 100%;
    background-color: #fff;
    font-size: 2em;
    border-radius: 4px;
    &.stick {
        margin-top: 0 !important;
        position: fixed;
        top: 0;
        z-index: 10000;
        border-radius: 0 0 4px 4px;
        border: $cta solid 2px;
        padding: 15px;
        border-top: none;
        box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.2);
    }
}

.alert {
    position: relative;
    z-index: 0;
    ul:not(.list-unstyled):not(.list-inline) {
        padding: 0;
        margin-bottom: 0px;
        li {
            font-family: $baseFont;
            font-size: 16px;
            line-height: 1;
            font-weight: 300;
            list-style: none;
            padding-left: 15px;
            display: block;
            position: relative;
            margin-bottom: 5px;
            &:before {
                content: "";
                display: block;
                position: absolute;
                left: 0;
                top: 7px;
                width: 5px;
                height: 5px;
                border-radius: 50%;
                -webkit-border-radius: 50%;
                -ms-border-radius: 50%;
                background: rgba(0, 0, 0, 0.5);
            }
            p {
                margin-bottom: 0px;
            }
            ul {
                padding-left: 20px;
            }
        }
    }
    border-radius: 0;
    .close {
        z-index: 1000;
    }
}

