.cta {
	background: $cta;
	color: $fieldText;
	min-width: 150px;
	outline: none;
	&:hover {
		background: lighten($cta, 10%);
		color: $fieldText;
	}
	&:focus,
	&:hover,
	&:active {
		outline: none;
		color: $fieldText;
	}
}

.btn {
	margin-bottom: 0;
	background-image: none;
	border: none;
	white-space: nowrap;
	padding: 0px 10px;
	font-size: 14px;
	line-height: $buttonHeight;
	border-radius: 0px;
	-webkit-border-radius: 0px;
	position: relative;
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	min-width: 150px;
	color: #ffffff;
	background: $cta;
	font-weight: 400!important;
	outline: 0;
	&.rounded-corners {
		border-radius: 4px;
	}
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:hover:focus,
.btn-primary:active,
.btn-primary:active:focus,
.btn-primary:active:hover {
	color: #fff;
	background-color: darken($cta, 5%);
	border-color: darken($cta, 10%);
	outline: 0;
}

.btn-default:hover,
.btn-default:focus,
.btn-default:hover:focus,
.btn-default:active,
.btn-default:active:focus,
.btn-default:active:hover {
	color: #fff;
	background-color: darken($cta, 5%);
	border-color: darken($cta, 10%);
	outline: 0;
}

.btn:hover,
.btn:focus,
.btn.focus {
	color: #fff;
	text-decoration: none;
}

.white-transparent-button {
	background: rgba(255, 255, 255, 0.3);
	color: $fieldText!important;
	height: $buttonHeight;
	font-size: 16px;
	margin: auto;
	position: absolute;
	bottom: 40px;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
}

.icon-button {
	.icon {
		position: absolute;
		left: 10px;
		line-height: $buttonHeight;
		font-size: 16px;
	}
}

[data-toggle="popover"] {
	line-height: 40px;
	min-width: auto;
}

.popover {
	max-width: 300px;
	border-radius: 0px;
	.popover-content {
		padding: 15px;
	}
}
