.carousel-fade {
	.carousel-inner {
		height: 100%;
		>.item {
			opacity: 0;
			-webkit-transition-property: opacity;
			-o-transition-property: opacity;
			-moz-transition-property: opacity;
			transition-property: opacity;
			@media all and (transform-3d),
			(-webkit-transform-3d) {
				&.next,
				&.active.right,
				&.prev,
				&.active.left,
				&.next.left,
				&.prev.right,
				&.active {
					-webkit-transform: translate3d( 0, 0, 0);
					-moz-transform: translate3d( 0, 0, 0);
					transform: translate3d( 0, 0, 0);
				}
			}
		}
		.active {
			opacity: 1;
		}
		.active.left,
		.active.right {
			left: 0;
			opacity: 0;
			z-index: 1;
		}
		.next.left,
		.prev.right {
			opacity: 1;
		}
	}
	.carousel-control {
		z-index: 2;
	}
}