.teal				{color: $cta;}

.teal-bg			{background-color: $cta;&.transparent{background-color: rgba($cta, 0.8);}}

.orange				{color: $owlc;}

.orange-bg			{background-color: $owlc; &.transparent{background-color: rgba($owlc, 0.8);}}

.green				{color: $ocsl;}

.green-bg			{background-color: $ocsl; &.transparent{background-color: rgba($ocsl, 0.8);}}

.light-teal			{color: $otherInitiative;}

.light-teal-bg		{background-color: $otherInitiative; &.transparent{background-color: rgba($otherInitiative, 0.8);}}

.yellow				{color: $omegaMomentText}

.yellow-bg			{background-color: $omegaMomentText; &.transparent{background-color: rgba($omegaMomentText, 0.8);}}

.idea-bg			{background-color: $ideaTile; &.transparent{background-color: rgba($ideaTile, 0.8);}}

.workshop-bg		{background-color: $workshopTile; &.transparent{background-color: rgba($workshopTile, 0.8);}}

.onlinelearn-bg		{background-color: $onlineLearnTile; &.transparent{background-color: rgba($onlineLearnTile, 0.8);}}

.special-bg			{background-color: $specialTile; &.transparent{background-color: rgba($specialTile, 0.8);}}
.collection-bg		{background-color: $specialTile; &.transparent{background-color: rgba($specialTile, 0.8);}}

.teacher-bg			{background-color: $teacherTile; &.transparent{background-color: rgba($teacherTile, 0.8);}}

.light-bg 			{background-color: $lightBg; &.transparent{background-color: rgba($lightBg, 0.8);}}

.dark-bg 			{background-color: $darkBg; &.transparent{background-color: rgba($darkBg, 0.8);}}

.interractive-text 	{color: $interactiveText;}

.header-text 		{color: $headerText;}

.body-text 			{color: $bodyText;}

.field-text 		{color: $fieldText;}

.white-text 		{color: $fieldText;}

.grayscale {
	filter: grayscale(100%);
	filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/></filter></svg>#grayscale");
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	-ms-filter: grayscale(100%);
	-o-filter: grayscale(100%);
	-webkit-filter: gray;
	filter: gray;
}
