::-webkit-input-placeholder {
    color: $placeholderColor;
    font-style: normal;
    font-size: $placeholderSize;
}

:-moz-placeholder {
    /* Firefox 18- */
    color: $placeholderColor;
    font-style: normal;
    font-size: $placeholderSize;
}

::-moz-placeholder {
    /* Firefox 19+ */
    color: $placeholderColor;
    font-style: normal;
    font-size: $placeholderSize;
}

:-ms-input-placeholder {
    color: $placeholderColor;
    font-style: normal;
    font-size: $placeholderSize;
}

.checkbox {
    label {
        padding-left: 30px!important;
        position: relative;
        min-height: 20px;
        display: inline-block;
        vertical-align: middle;
        input {
            visibility: hidden;
            position: absolute;
            left: -9999px;
            display: none;
        }
        &:before {
            content: "";
            display: block;
            position: absolute;
            left: 0px;
            top: 1px;
            width: 20px;
            height: 20px;
            border-radius: 5px;
            background: #ffffff;
            border: solid 2px $cta;
        }
        &:after {
            content: "";
            position: absolute;
            left: 7px;
            top: 3px;
            width: 7px;
            height: 12px;
            border: 2px solid #000;
            border-top-color: transparent;
            border-left-color: transparent;
            -webkit-transform: rotate(30deg) scale(2);
            -ms-transform: rotate(30deg) scale(2);
            transform: rotate(30deg) scale(2);
            opacity: 0;
            -webkit-transition: all 0.2s ease;
            transition: all 0.2s ease;
        }
        &.labelchecked {
            &:after {
                content: "";
                position: absolute;
                left: 7px;
                top: 3px;
                width: 7px;
                height: 12px;
                border: 2px solid #000;
                border-top-color: transparent;
                border-left-color: transparent;
                -webkit-transform: rotate(30deg) scale(1);
                -ms-transform: rotate(30deg) scale(1);
                transform: rotate(30deg) scale(1);
                opacity: 1;
            }
        }
    }
}

.radio {
    label {
        padding-left: 30px!important;
        position: relative;
        min-height: 20px;
        display: inline-block;
        vertical-align: middle;
        input {
            visibility: hidden;
            position: absolute;
            left: -9999px;
            display: none;
        }
        &:before {
            content: "";
            display: block;
            position: absolute;
            left: 0px;
            top: 1px;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            background: #ffffff;
            border: solid 2px $cta;
        }
        &:after {
            content: "";
            position: absolute;
            left: -3px;
            top: -2px;
            width: 25px;
            height: 25px;
            opacity: 0;
            background: $cta;
            border-radius: 50%;
            -webkit-transition: all 0.2s ease;
            transition: all 0.2s ease;
        }
        &.labelchecked {
            &:after {
                content: "";
                position: absolute;
                left: 5px;
                top: 6px;
                width: 10px;
                height: 10px;
                opacity: 1;
            }
        }
    }
}

.popover-content {
    .form-inline {
        text-align: center;
        margin: 0;
        input {
            max-width: 110px;
        }
    }
}

form {
    .btn {
        line-height: 40px;
    }
}

//sort by forms
.form-item.form-item-sort-bef-combine.form-type-select.form-group {
    float: right;
    position: relative;
}

.form-item.form-item-sort-bef-combine.form-type-select.form-group select {
    border: 0;
    background: transparent;
    box-shadow: none;
    color: $cta;
    display: inline-block;
    position: relative;
    width: auto;
}

.form-item.form-item-sort-bef-combine.form-type-select.form-group select option {
    font-weight: 300;
    color: $interactiveText;
}

.form-item.form-item-sort-bef-combine.form-type-select.form-group label.control-label {
    font-weight: normal;
    display: inline-block;
    font-size: 16px!important;
    position: relative;
    color: $interactiveText!important;
}

select::-ms-expand {
    display: none;
}

.form-type-select:not(.form-item-sort-bef-combine) {
    position: relative;
    select,
    .form-control {
        height: 40px;
        padding-right: 43px;
        cursor: pointer;
        width: 100%;
        font-size: 14px;
        font-weight: 300;
        font-family: $baseFont;
        -webkit-appearance: none;
        option {
            line-height: 1.5;
            font-weight: 300;
        }
    }
    &:after {
        content: "\f0d7";
        font-family: "FontAwesome";
        display: block;
        position: absolute;
        bottom: 1px;
        right: 1px;
        color: #fff;
        width: 38px;
        height: 38px;
        background: $cta;
        pointer-events: none;
        font-size: 18px;
        line-height: 38px;
        text-align: center;
    }
}

.qty-select,
.commerce-add-to-cart .form-item-quantity {
    position: relative;
    display: inline-block;
    vertical-align: bottom;
    margin-bottom: 0;
    margin-right: 10px;
    label {
        font-size: 12px;
    }
    select,
    .form-control {
        height: 20px;
        min-width: 35px;
        padding: 2px 18px 2px 2px;
        cursor: pointer;
        width: 100%;
        font-size: 12px;
        font-weight: 300;
        font-family: "Graphik LC Web";
        -webkit-appearance: none;
        text-align: center;
        text-align-last: center;
        background: #fff;
        color: #000;
        line-height: 1;
        option {
            line-height: 1.5;
            font-weight: 300;
            color: #000;
        }
    }
    &:after {
        content: "\f0d7";
        font-family: "FontAwesome";
        display: block;
        position: absolute;
        bottom: 1px;
        right: 1px;
        color: #fff;
        width: 15px;
        height: 18px;
        background: #2AD0CE;
        pointer-events: none;
        font-size: 10px;
        line-height: 17px;
        text-align: center;
    }
}

.commerce-add-to-cart {
    >div>em {
        display: none;
    }
    [type="submit"] {
        outline: 0;
        min-width: 100px;
        font-size: 13px;
        &:hover {
            background: $cta;
        }
    }
}

.form-control {
    width: 100%;
    height: 40px;
    padding: 0px 10px;
    line-height: 40px;
    color: $interactiveText;
    ;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 0px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.street-block .form-group:last-child {
    margin-bottom: 15px;
}

textarea {
    max-width: 100%;
}