* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul,
ol {
    padding: 0;
    margin: 0;
}

a,
a:hover,
a:focus,
a:active,
a:visited {
    color: inherit;
    text-decoration: none;
    outline: 0;
    outline: none;
}

.list-inline>li {
    padding-right: 0px;
    padding-left: 0px;
}

.list-inline {
    margin-left: 0px;
    list-style: none;
}

ul {
    margin-bottom: 0px;
    li {
        color: inherit !important;
    }
}

a.btn {
    color: #fff;
}

.carousel-control.left,
.carousel-control.right {
    background-image: none;
    background-repeat: no-repeat;
    -webkit-filter: none;
    filter: none;
    height: 100%;
    span {
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }
}

.navbar,
.navbar-toggle,
.form-control {
    border-radius: 0;
}

//fix admin menu 
html body.admin-menu {
    margin-top: 50px !important;
}

body.admin-menu .navbar-fixed-top {
    top: 0;
}

body.admin-menu .main-container .tabs--primary li {
    font-size: 11px;
}
