@font-face {
	font-family: 'Graphik Web';
	src: url('../fonts/Graphik-Medium-Web.eot');
	src: url('../fonts/Graphik-Medium-Web.eot?#iefix') format('embedded-opentype'), url('../fonts/Graphik-Medium-Web.woff2') format('woff2'), url('../fonts/Graphik-Medium-Web.woff') format('woff');
	font-weight: 500;
	font-style: normal;
	font-stretch: normal;
}

.Graphik-Medium-Web {
	font-family: 'Graphik Web';
	font-weight: 500;
	font-style: normal;
	font-stretch: normal;
}

@font-face {
	font-family: 'Graphik LC Web';
	src: url('../fonts/Graphik-Regular-Web.eot');
	src: url('../fonts/Graphik-Regular-Web.eot?#iefix') format('embedded-opentype'), url('../fonts/Graphik-Regular-Web.woff2') format('woff2'), url('../fonts/Graphik-Regular-Web.woff') format('woff');
	font-weight: 400;
	font-style: normal;
	font-stretch: normal;
}

.Graphik-Regular-Web {
	font-family: 'Graphik LC Web';
	font-weight: 400;
	font-style: normal;
	font-stretch: normal;
}

@font-face {
	font-family: 'Graphik Web';
	src: url('../fonts/Graphik-Light-Web.eot');
	src: url('../fonts/Graphik-Light-Web.eot?#iefix') format('embedded-opentype'), url('../fonts/Graphik-Light-Web.woff2') format('woff2'), url('../fonts/Graphik-Light-Web.woff') format('woff');
	font-weight: 300;
	font-style: normal;
	font-stretch: normal;
}

.Graphik-Light-Web {
	font-family: 'Graphik Web';
	font-weight: 300;
	font-style: normal;
	font-stretch: normal;
}

body {
	font-family: $baseFont, sans-serif;
	color: $bodyText;
	font-weight: 400;
	-webkit-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
	margin: 0;
	position: relative;
	font-weight: 400;
	line-height: 1.2;
	letter-spacing: 0.5px;
}

h1,
.h1 {
	font-size: 43px;
	padding-bottom: 21px;
}

h2,
.h2 {
	font-size: 24px;
	margin-bottom: 7px;
	padding-bottom: 5px;
}

h3,
.h3 {
	font-size: 22px;
	padding-bottom: 11px;
}

h4,
.h4 {
	font-size: 20px;
	padding-bottom: 10px;
}

p {
	font-family: $baseFont;
	font-size: 16px;
	line-height: 1.4;
	font-weight: 400;
	margin-bottom: 20px;
}

.article-text ul:not(.list-unstyled):not(.list-inline),
.field ul:not(.list-unstyled):not(.list-inline),
.page-body ul:not(.list-unstyled):not(.list-inline) {
	padding: 0 0 0 40px;
	margin-bottom: 25px;
	li {
		font-family: $baseFont;
		font-size: 16px;
		line-height: 1.4;
		font-weight: 400;
		list-style: none;
		padding-left: 15px;
		display: block;
		position: relative;
		margin-bottom: 5px;
		&:before {
			content: "";
			display: block;
			position: absolute;
			left: 0;
			top: 10px;
			width: 5px;
			height: 5px;
			border-radius: 50%;
			-webkit-border-radius: 50%;
			-ms-border-radius: 50%;
			background: #000;
		}
		p {
			margin-bottom: 10px;
		}
		ul {
			padding-left: 20px;
		}
	}
}


.article-text ol:not(.list-unstyled):not(.list-inline),
.field ol:not(.list-unstyled):not(.list-inline),
.page-body ol:not(.list-unstyled):not(.list-inline) {
	padding: 0;
	margin-bottom: 25px;
	padding-left: 20px;
	li {
		font-family: $baseFont;
		font-size: 16px;
		line-height: 1.4; 
		font-weight: 400;
		padding-left: 15px;
		position: relative;
		margin-bottom: 5px;
		p {
			margin-bottom: 10px;
		}
		ul, ol {
			padding-left: 20px;
		}
	}
}



span {
	font-size: 16px;
	line-height: 1.4;
}

em {
	font-size: 16px;
	line-height: 1.4;
	font-style: italic;
}

a {
	word-wrap: break-word;
}

.section-title {
	font-size: 24px;
	color: $interactiveText;
}

.section-title-big {
	font-size: 45px;
	color: $interactiveText;
}

.page-intro {
	font-size: $articleIntro;
	display: block;
	letter-spacing: -0.2px;
	color: $interactiveText;
	@extend .bottom-bar-left-teal;
}

a:not([href^="#"]) {
	color: $cta;
	font-weight: 400;
	font-size: inherit;
}

a:not([href^="#"]):hover {
	color: lighten($cta, 10%);
	font-weight: 400;
	font-size: inherit;
}

.owlc {
	a:not([href^="#"]) {
		color: $owlc;
	}
	a:not([href^="#"]):hover {
		color: lighten($owlc, 10%);
		;
	}
}

.ocsl {
	a:not([href^="#"]) {
		color: $ocsl;
	}
	a:not([href^="#"]):hover {
		color: lighten($ocsl, 10%);
		;
	}
}

.other {
	a:not([href^="#"]) {
		color: $otherInitiative;
	}
	a:not([href^="#"]):hover {
		color: lighten($otherInitiative, 10%);
	}
}

.serif {
	font-family: $serifFontOnly!important;
	font-style: italic!important;
}

.font-300 {
	font-weight: 300;
}

.font-400 {
	font-weight: 400;
}

.font-700 {
	font-weight: 700;
}

strong,
b {
	font-weight: 700;
}

.page-title,
.title,
.page-subtitle,
.subtitle {
	letter-spacing: 0.5px!important;
}
