//TYPOGRAPHY
$baseFont: 						"Graphik LC Web";
$serifFont: 					italic 400 16px "chaparral-pro", serif;
$serifFontOnly: 				"chaparral-pro", serif;
$navTopElementSize:				11px;
$navBottomElementSize:			14px;

//+++tiles+++
$tileTitle: 					22px;
$tileType:						13px;
$tileIdeaArticleBy:				12px;
$tileContentType:				13px;

$tileExpandIcon:				18px;
$tileExpendedContent:			15px;

$tilePersonName:				25px;
$tilePersonInfo:				14px;
$tilePersonJob:					12px;

$articleSidebarEventTitle:		18px;
$articleSidebarEventAuthor:		18px;
$articleSidebarEventDate:		12px;
$articleSidebarFutureEvent:		14px;
$articleBodyText:				16px;
$articleCarouselTitle:			25px;
$articleCarouselText:			14px;
$articleCarouselAuthor:			18px;
$articleCarouselDate:			16px;
$articleQuote:					23px;
$articleQuoteAuthor:			14px;
$articleIntro:					23px;

$homeHeroOmegaMoment:			13px;
$homeHeroOmegaText:				15px;

$homeCampusTitle:				43px;
$homeCampusSubtitle:			18px;
$homeCampusInitiative:			25px;

$collectionsItemTitle:			43px;
$collectionsItemDescription:	18px;

$collectionsDiscoverTileType:	13px;
$collectionsDiscoverTileTitle:	24px;
$collectionsDiscoverTileText:	14px;
$collectionsDiscoverTileFeatured:14px;
$searchTileText:				18px;

$footerMenuItem:				10px;
$footerCopyright:				10px;
$footerNewsletterTitle:			10px;
$footerNewsletterButton:		16px;

$homeInitiativesTitle:			25px;

$homeQuoteText:					36px;
$homeQuoteAuthor:				25px;
$homeQuoteAuthorJob:			15px;

$sponsorsName:					16px;
$sponsorsSeeMoreBtn:			18px;

$videoCarosuelVideoTitle:		20px;
$videoCarosuelVideoDuration:	15px;
$videoCarosuelVideoType:		16px;

$homeWomenLeadershipTitle:		43px;
$homeWomenLeadershipSubtitle:	20px;

$heroArticleCategory:			18px;
$heroArticleTitle:				43px;
$heroArticleSubtitle:			25px;

$heroCollectionEvDetails:		18px;

$personBioTilesGridTitle: 		24px;
$simplePageTitle: 				34px;


$tagsCarouselFontSize: 			15px;


//============================================================
//COLORS

//+++web elements+++
$footerDivider:				#D8D8D8;
$footerField:				#7D7D7D;
$cta:						#2AD0CE;
$darkBg:					#575757;
$lightBg:					#F5F5F5;
$hairline:					#C2C2C2;

//+++tiles+++
$ideaTile: 					#8c837d;
$specialTile: 				#5E79AB;
//$ideaTile: 				#5E79AB;
//$specialTile: 			#8c837d;
$workshopTile: 				#599c95;
$onlineLearnTile: 			#49839e;
$teacherTile: 				#7d7d7d;

//+++typography colors+++
$interactiveText:			#575757;
$headerText:				#333333;
$bodyText:					#000000;
$fieldText:					#ffffff;
$ctaText:					#2AD0CE;
$omegaMomentText:			#FFCE32;


//+++center&initiative+++
$owlc:						#DC6233;
$ocsl:						#699E57;
$otherInitiative:			#0EA9A7;


//+++navbar+++
$menuItemColor: 			#6a6a6a;
$megamenuBgColor: 			rgba(255,255,255,1);
$navBgColor:				rgba(249,249,249,0.9);
$navTopBgColor:				rgba(241,240,240,1);
$navSocialBlockBg:			rgba(255,255,255,1);

//+++social icons+++
$facebookColor:				#3b5998;
$twitterColor:				#1da1f2;
$googleplusColor:			#dd4b39;
$youtubeColor:				#cd201f;
$instagramColor:			#c13584;
$youtubeColor:				#e62117;
$googleplusColor:			#db4437;
$linkedinColor:				#4fa3cd;
$pinterestColor:			#bd081c;



//============================================================
//SIZES
$navTopHeight: 				30px;
$navBottomHeight: 			50px;

$homeCarouselHeight:		650px;
$articleHeroHeight:			400px;
$fancyPageHeroHeight:		400px;
$simplePageHeroHeight:		400px;
$workshopPageHeroHeight:	400px;
$buttonHeight:				35px;
//+++tiles+++
$tileHeight: 				300px;
$tileImageHeight:			53.333333%;
$tileIdeaBodyHeight:		46.6666667%;
$initiativeTileHeight:  	150px;
$personTileHeight:  		150px;

$videoCarouselItem:			400px;
$videoCarouselItemMobile:	260px;
$videoCarouselItemTablet:	305px;


$homeCampusTitlewidth:		545px;
$homeCampusSubtitlewidth:	360px;
$collectionsPagePanel:		300px;

$footerBorderTop:			7px;
$footerNewsletterInput:		250px;
$footerNewsletterButtonWidth:125px;

$navWidth:					960px;

$homeInitiativesTitleWidth:	750px;

$homeQuoteTextWidth:		650px;
$homeQuoteCarouselHeight:	500px;

$sponsorsItemHeight:		85px;

$videoPageCarouselWidth:	660px;
$videoPageCarouselHeight:	400px;
$videoCarouselSideItem:		50px;
$videoCarouselCenterItem:	540px;

$homeWomenLeadershipHeight: 886px;
$homeWomenLeadershipSubtitleWidth: 250px;

$tilePlayIconSize:			16px;

$tileWorkshopImage:			54px;

$tilePersonImage:			150px;

$workshopVisitTileHeight:	100px;

$videoHeight: 				$articleHeroHeight + $navTopHeight + $navBottomHeight;
$videoWidth: 				($videoHeight * 16) / 9;
//============================================================
//FORMS
$placeholderSize: 			12px;
$placeholderColor: 			#eee;
$searchPlaceholderSize: 	43px;
$searchPlaceholderColor: 	$menuItemColor;
$navSearchBg:				#ffffff;
